[2017-07-13 07:25] Taskkill opened #1 "Correct npm install command"
Hello,
I assume your package on npm is node-gitlab-api. Shouldn't be it installed like npm install node-gitlab-api instead of npm install gitlab?
Same with require('gitlab-api')
Thanks for your job and have a good day.

[2017-07-13 07:48] Argonisius opened #2 "Unused imports"
`src/Models/Projects.js`: unused and non-existent imports 'ProjectBuilds' and 'Pipelines' (lines 12, 13) – causes module to exit with error

[2017-07-13 07:51] Argonisius opened #3 "Undefined reference errors"
`src/Models/Projects.js`: Undefined references: ProjectTriggers, ProjectPipelines and ProjectRunners – lines 30, 31 and 32

[2017-07-13 13:10] jdalrymple commented on #2
Will fix today !!

On Jul 13, 2017, 03:48, at 03:48, Argonisius <notifications@github.com> wrote:

[2017-07-13 13:11] jdalrymple commented on #3
Oops another one, will fix today.

On Jul 13, 2017, 03:51, at 03:51, Argonisius <notifications@github.com> wrote:

[2017-07-13 13:30] jdalrymple commented on #1
It is! I forgot to update the documentation. I'll make sure to fix it today!

On Jul 13, 2017, 03:25, at 03:25, John <notifications@github.com> wrote:

[2017-07-13 15:03] jdalrymple commented on #3
Fixed with 1.0.10!

[2017-07-13 15:03] #3 closed

[2017-07-13 15:03] jdalrymple commented on #2
Fixed with v1.0.10!

[2017-07-13 15:03] #2 closed

[2017-07-13 15:03] jdalrymple commented on #1
Fixed with v1.0.10!

[2017-07-13 15:03] #1 closed

[2017-08-25 21:03] jdalrymple opened #5 "Add Group Milestones API"
https://docs.gitlab.com/ee/api/group_milestones.html

[2017-11-21 09:44] sparcs360 opened #11 "Unable to get repository files with ProjectRepository.showFile(...)"
Hi

(first off, thanks for sharing the code!)

I'm not able to get a repository file using the `ProjectRepository.showFile` implementation against my private GitLab v9.5 setup.  The modified implementation below (based on the [GitLab API docs](https://docs.gitlab.com/ee/api/repository_files.html)) is working for me.

Note that the `page` option has to be forced to 'true' to prevent `BaseModel` fro

[2017-11-22 11:42] jdalrymple commented on #11
Hey! Weird, I'll make your suggested changes and see if I can narrow down why the paging acts weird with this end point

[2017-11-25 18:24] jdalrymple commented on #11
Pushed an update in the latest commit! Tell me if it works ok for you!

[2017-11-26 01:41] jdalrymple commented on #5
Completed in release 1.3.0

[2017-11-26 01:41] #5 closed

[2017-11-26 01:41] #11 closed

[2017-11-27 21:40] clthck opened #13 "Error: `options is not defined`"
- [`ProjectRepository::showFile`](https://github.com/jdalrymple/node-gitlab-api/blob/1.3.0/src/Models/ProjectRepository.js#L92)
- [`ProjectRepository::showFileRaw`](https://github.com/jdalrymple/node-gitlab-api/blob/1.3.0/src/Models/ProjectRepository.js#L98)

[2017-11-27 23:41] jdalrymple commented on #13
Fixing now! sorry :(

[2017-11-27 23:49] jdalrymple commented on #13
Published!

[2017-11-27 23:49] #13 closed

[2017-11-28 04:52] clthck commented on #13
Great! Thanks for quick response!

[2017-11-28 07:54] artificis opened #14 "Publish to npm ecosystem in es5 version"
This would not be necessary if the package is used in node.js server side.
But I'm currently trying this in React.js app using `create-react-app`. And it complains while building process, due to the usage of `async/await` syntax.

Can we publish this in es5 version?

[2017-11-28 09:25] clthck opened #15 "Default value for `options`"
- `BaseModel::get`
- `BaseModel::post`
- `BaseModel::put`
...

Previously, it was checking if `options` is truthy, but now it's not, which in turn causes an error.

Can we assign default values for `options` parameter?

[2017-11-28 18:26] jdalrymple commented on #14
I don't know if this is a good idea. This library is targeted for server side JavaScript, which should be run on the LTE version of nodejs. Currently the latest LTE is 8.91 and es6 was given support as of 7.6, as far as i know. Though I don't know of any downsides to transcompiling down to es5, besides restricting the library to only es5 modules in the future, I believe modifying a library to supp

[2017-11-28 18:28] jdalrymple commented on #15
will fix!

[2017-11-28 23:33] jdalrymple commented on #15
Pushed in v1.3.2

[2017-11-28 23:33] #15 closed

[2017-11-29 02:01] clthck commented on #14
I knew it was mainly targeted for server side JS ( can tell from its name ). I looked for a good gitlab API npm package I can consume in my frontend react app with API v4 support and this one was the most comprehensive and working one for me. It worked fine in development mode on my local machine, until I tried to build for production usage.

https://github.com/facebookincubator/create-react-app/b

[2017-11-29 09:45] beeing opened #16 "Support for custom_attributes"
Hi, there's new API for /users/:id/custom_attributes and also for groups and projects as well.

Will be great if this can be added.

Thanks.

[2017-11-29 10:39] vlaraort opened #17 "Accept MR"
Hi!

This endpoint is missing, can it be added?

https://docs.gitlab.com/ce/api/merge_requests.html#accept-mr

Thanks!

[2017-11-30 00:51] jdalrymple commented on #16
Will add to the v2.0.1rc.1 :)

[2017-11-30 00:51] jdalrymple commented on #17
Will add to v2.0.1rc.1!

[2017-11-30 00:54] jdalrymple commented on #14
Fair enough! Thank you for helping me make the library better!! I also know there has been talk about including the latest uglify version into create-react-app which would fix the inclusion of es6 modules client side

[2017-11-30 09:16] sparcs360 commented on #11
Great success!  Thanks @jdalrymple

[2017-12-01 00:05] jdalrymple commented on #17
Added the functionality in the recent commit, just need to brush up some of the documentation before the release

[2017-12-01 00:05] jdalrymple commented on #16
Added the functionality in the recent commit, just need to brush up some of the documentation before the release

[2017-12-02 13:16] sparcs360 opened #19 "Options missing from listCommits(...)"
Hi

Can you add an `options` parameter to `ProjectRepository.listCommits` so I can do some date filtering please (see https://docs.gitlab.com/ee/api/commits.html)?

[code]

Then it can be called with:

[code]

Much appreciated!

[2017-12-02 14:12] jdalrymple commented on #19
Will do! Will be in the 2.0.x release :)

[2017-12-05 14:30] jdalrymple commented on #14
A way to do this would be to release a node-gitlab-api/es5 export, which would be a babel compiled version?

[2017-12-05 19:25] artificis commented on #14
We can keep es6 version inside `src` folder, add it to `.npmignore` file, and keep transpiled version into `lib` folder, add that to `.gitignore`. Also need to change `main` entry in `package.json` so that it points to `lib/index.js`, not `src/index.js`. I saw most people do this way.

[2017-12-05 20:48] jdalrymple commented on #14
In that case only the es5 version would be exported then no? I was thinking along the lines of:

[code]

Or is that confusing?

[2017-12-05 20:59] artificis commented on #14
That could be an option too. But I think we'd better follow conventions. Do
you see any specific need to export in es6 version? Most popular packages
export in es5 version for the sake of compatibility.

On Wed, Dec 6, 2017 at 3:48 AM jdalrymple <notifications@github.com> wrote:

[2017-12-06 14:10] jdalrymple commented on #14
Since this is server directed, and es6 is officially supported server side, there is no reason to support anything less. The es5 compilation is only for those trying to use this client side without having to handle the conversion themselves. The popular projects were developed before es6 was officially supported so understandably they would support both in that fashion. This was meant as a comprom

[2017-12-07 15:38] jdalrymple commented on #14
Is the general consensus that node packages regardless of where they are directed should be standard es5? I haven't found any consensus on this :( and i have looked. Would rather abide by some standard if i can lol but also not affect all the people that are currently using it.

[2017-12-07 17:55] artificis commented on #14
Publishing in es5 won't affect existing users at all. Everything just works in es5 version as well, whether it's about `import` or `require`.

[2017-12-16 13:41] SimonGrahamZtr opened #20 "MergeRequest Comment url is incorrect"
Currently creating a note for a mergeRequest is posting to

'projects/:id/merge_requests/:merge_request_iid/comment'

however, it should be:

POST /projects/:id/merge_requests/:merge_request_iid/notes

ref: https://docs.gitlab.com/ce/api/notes.html

[2017-12-16 13:53] jdalrymple commented on #20
Oops! Will fix soon, thanks!

[2017-12-17 19:23] jdalrymple commented on #20
Didn't notice originally, but fixed already in the pre-release! Will be pushed with v2 release :)

[2017-12-17 21:20] jdalrymple commented on #14
Thinking about adding this stuff today, but i still have some reservations. I don't think it makes sense for a library to target lower versions of JS because the compatibility really depends on the user who is using the packages. We shouldn't be transpiling for the sake of transpiling. Yes es5 is more commonly supported, but who is to say someone is using a very old browser where es5 isnt supporte

[2017-12-17 22:41] jdalrymple commented on #14
In the mean time, I've release a es5 version under a subdirectory.

[2017-12-17 22:41] jdalrymple commented on #20
Just released!

[2017-12-17 22:41] #20 closed

[2017-12-17 22:41] jdalrymple commented on #19
Just released!

[2017-12-17 22:41] #19 closed

[2017-12-17 22:42] jdalrymple commented on #17
Just released!

[2017-12-17 22:42] #17 closed

[2017-12-17 22:42] jdalrymple commented on #16
Just released!

[2017-12-17 22:42] #16 closed

[2017-12-18 01:37] SimonGrahamZtr commented on #20
Awesome thanks! Cheers for fixing so fast! Keep up the good work.

[2018-01-03 23:44] jdalrymple commented on #14
Closing for now

[2018-01-03 23:44] #14 closed

[2018-01-12 20:04] arsdehnel opened #24 "`parse` question"
I'm trying to call `const projects = await gitlab.groups.projects.all( 'cpd' );` and I'm getting `http://<gitlab hostname>/api/v4/groups/NaN/projects` as the request URL because I'm passing the name as the parameter [as the gitlab docs say we can](https://docs.gitlab.com/ee/api/groups.html#list-a-group-39-s-projects) but the `parse` function is falling through to the `parseInt()` bit.  Should that

[2018-01-13 00:49] jdalrymple commented on #24
Hey! Is that the name of your project in gitlab? According to the docs it's the url encoded name like 'arsdehnel/cpd'. They explain it better here https://docs.gitlab.com/ee/api/README.html#namespaced-path-encoding

Hope that helps!

[2018-01-13 01:22] arsdehnel commented on #24
But I'm hitting https://docs.gitlab.com/ee/api/groups.html#list-a-group-39-s-projects which only required the `groupId` to be provided:

[code]

And the `id` parameter is described as

And since it's a group just a single string with no `/` is valid/expected.

[2018-01-13 01:24] jdalrymple commented on #24
hmm, that does make sense. Il look into it!

[2018-01-13 04:21] jdalrymple commented on #24
Found the problem! Ill fix it soon!

[2018-01-16 15:09] fewieden opened #25 "Merge Request API"
Is there a reason, that the merge request api doesn't get exposed?

The model directory exports it here https://github.com/jdalrymple/node-gitlab-api/blob/master/src/Models/index.js#L14

But here in the API it gets not imported https://github.com/jdalrymple/node-gitlab-api/blob/master/src/API.js#L2

And so it is not available here https://github.com/jdalrymple/node-gitlab-api/blob/master/src/API.j

[2018-01-16 15:53] fewieden commented on #25
So by importing mergerequest model and exposing it to the api I can use it.

Only issue was that there is a first parameter https://github.com/jdalrymple/node-gitlab-api/blob/master/src/Models/MergeRequests.js#L4 projectId which doesn't get used. Is there a reason for it, as all the other endpoints I used don't have it.

[2018-01-16 22:45] comster opened #27 "Environments API"
It appears this is currently missing, but would be similar I think to project members?

https://docs.gitlab.com/ce/api/environments.html

[2018-01-17 12:30] arsdehnel commented on #25
Seems like exposing that makes sense, otherwise not sure how you'd use it.  And I'd agree that the first parameter seems unnecessary.  There are some more options for the MR API (like this one https://docs.gitlab.com/ee/api/merge_requests.html#list-project-merge-requests) that need it but the `all()` call doesn't have an option for it.

[2018-01-17 13:58] fewieden commented on #25
@arsdehnel that one is olready in this model https://github.com/fewieden/node-gitlab-api/blob/master/src/Models/ProjectMergeRequests.js#L27

[2018-01-17 14:16] arsdehnel commented on #25
Missed that one, sorry about that.

[2018-01-18 12:39] max-wittig opened #29 "Add projects statistics API"
Support the `statistics=yes` parameter for the GitLab API:
https://docs.gitlab.com/ce/api/projects.html

[2018-01-18 12:42] max-wittig commented on #29
Okay I've just noticed that you can specify custom options

[2018-01-18 12:42] #29 closed

[2018-01-18 13:04] jdalrymple commented on #29
Is there anyway I could make that clearer ?

[2018-01-19 04:18] #25 closed

[2018-01-19 04:19] jdalrymple commented on #25
Just merged into 2.2.0 :)

[2018-01-19 04:19] jdalrymple commented on #27
Just merged! will be released in v2.2.0

[2018-01-19 04:19] #27 closed

[2018-01-19 04:29] jdalrymple commented on #24
I think my recent push fixed this. Will test further tomorrow if you dont beat me to it!

[2018-01-19 09:11] fewieden commented on #25
Do you have an eta when this will be published to npm, as i have some building issues in my automatic pipelines with my fork? Just need to know if I have to workaround it or it will be available in couple of days.

Thanks in advance

[2018-01-19 16:55] jdalrymple commented on #25
Yup! Will be publishing today, just need to test that parse change before I publish

[2018-01-19 17:58] jdalrymple commented on #24
Pushed!

[2018-01-19 17:58] #24 closed

[2018-01-20 03:40] jdalrymple opened #30 "Republishing under more intuitive name"
While i was looking at the package on npm today, i noticed it is actually hard to come by when you do a simple search for gitlab. I was thinking maybe using a different package name would help in this regard, something like gitlab-plus ?

Thoughts?

[2018-01-20 03:55] arsdehnel commented on #30
Interesting. It’s worth considering if that alone would help. I know for me I landed on it because it is up-to-date (others are months or years behind) and it is async/await ready. What about gitlab-async or something?

I’ll be honest that gitlab-plus doesn’t tell me much. Just sounds purely like the name was taken and this project needed something to make it unique. ES6 support is a differentiato

[2018-01-20 04:02] jdalrymple commented on #30
😂 well it was purely because it was taken. I don't know if it will do much but it will def help with the initial search. Yea es6 will get old fast, and async is almost standard at this point so I feel like that will get outdated soon as well

[2018-01-22 08:39] max-wittig opened #31 "Way to access the GitLab version via API?"
Is the version API exposed in any way?
See: https://docs.gitlab.com/ce/api/version.html

[2018-01-22 08:40] max-wittig opened #32 "Custom Attributes API"
Do you provide an abstraction layer for [GitLab custom attributes](https://docs.gitlab.com/ee/api/custom_attributes.html#custom-attributes-api)?

[2018-01-22 11:31] jdalrymple commented on #32
Yes its currently supported. It can be accessed by [resource].customAttributes.[action] ie. projects.customAttributes.show()

[2018-01-22 11:31] #32 closed

[2018-01-22 11:32] jdalrymple commented on #31
Not yet, would be an easy PR though

[2018-01-23 00:29] jdalrymple commented on #31
Just released. Hope this is what you were looking for :)

[2018-01-23 00:42] jdalrymple commented on #30
Actually i dont know how the 'official' library gets so many downloads smh, I used it before making this library but it was so outdated :s, I dont want others to have to go through that expereince lol

[2018-01-23 00:53] jdalrymple commented on #30
Only corny names are coming to mind:

- gitlaboratory
- gitlab-plus
- gitlab...something

[2018-01-23 04:43] bufferoverflow commented on #30
or just gitlab-ce?

[2018-01-23 04:56] jdalrymple commented on #30
But technically, the library would work with the enterprise eddition as well.

[2018-01-23 05:17] bufferoverflow commented on #30
Yes, I know. Do you have some Enterprise Edition only features within the node wrapper?

[2018-01-23 05:18] jdalrymple commented on #30
Not exactly, the wrapper is generic. If you use it with CE only the features available in ce will work, likewise with ee, but they are all exposed in the same library.

[2018-01-23 05:32] jdalrymple commented on #30
- gitlab-prime
- gitlab-ae ( or some letter suffix that stands for all all versions )

[2018-01-23 06:06] max-wittig commented on #31
Awesome thanks 😃

[2018-01-23 06:07] max-wittig commented on #32
Thanks 😃

[2018-01-23 11:27] fewieden opened #33 "es5 build issue"
The es5 version still has es6 features like async/await  included. Looks like a misconfiguration of babel.

e.g. `BaseModel.js` => `async function getAllPages...`

I wanted to use this in an aws lambda function which supports only node 6

[2018-01-23 12:35] jdalrymple commented on #33
I'll give it a look! Probably like you said, just incorrect babel config

[2018-01-23 12:49] jdalrymple commented on #33
I think I found the problem !

[2018-01-23 14:55] jdalrymple commented on #33
Nope that didnt work. Not sure how to fix this. I added

`--preset=es2015,es2016`

to the package.json to go from current code down to es6 and then es5 but that didnt work :( Any other ideas?

[2018-01-23 15:38] Infinitetutts opened #34 "Inconsistent project name"
Greetings :),

I am having an issue with getting a project from Gitlab. It sends Nginx to different project names, which therefor errors sometimes.

Code:
[code]

Nginx logs:

`node version 8.3.0`
 ` "node-gitlab-api": "^2.2.1"`

[2018-01-23 16:26] jdalrymple commented on #34
Hmm, thats odd. Same code results in different urls being generated? Ill do some tests locally and see if i can consistently recreate the problem!

[2018-01-23 21:14] fewieden commented on #33
by using https://babeljs.io/repl/ and preset es2017 it looks like its converting the async/await to generators

[2018-01-23 21:59] jdalrymple commented on #33
Ahh, ill try including es2017

[2018-01-24 10:22] max-wittig commented on #31
@jdalrymple Could you help me with the usage. I've tried
`gitlab.version.show()` and version seems to be undefined. What did I do wrong?

[2018-01-24 13:13] jdalrymple commented on #31
It's possible I made a mistake with the url :( I'll look tonight

[2018-01-24 13:14] jdalrymple commented on #33
Merged! Will release today

[2018-01-24 15:44] jdalrymple commented on #31
Missed part of the commit lol Fixing now.

[2018-01-24 15:47] jdalrymple commented on #34
I havent been able to recreate the problem thus far :(

Before the url is created, the endings are encoded by the parse function in utils:

[code]
hmm, ill keep debugging

[2018-01-24 15:56] jdalrymple commented on #31
Should be fixed in the latest release :)

[2018-01-24 15:56] #31 closed

[2018-01-25 08:52] fewieden commented on #33
Apparently this didn't fix the issue completely. `async/await` got now replaced with generators, but when I run my automated tests I get the following error `ReferenceError: regeneratorRuntime is not defined` which is related to the babel transformation

[2018-01-25 12:55] jdalrymple commented on #33
I think we just need to include the runtime transformation plugin ?,  I thought about multiple babelrc files but apparently that's not possible. I'll try adding the plugin and see if that helps

[2018-01-25 13:42] fewieden commented on #33
Looks like there is an option in babel 7 https://github.com/babel/babel/pull/6133/files

[2018-01-25 15:37] Infinitetutts commented on #34
Sorry brotha ! There is an Nginx proxy that I was made aware of which is causing the issue! If I hit the Gitlab server directly it works :)

[2018-01-25 15:39] jdalrymple commented on #34
phewf!

[2018-01-25 15:39] #34 closed

[2018-01-25 16:01] Infinitetutts opened #36 "How to list a specific branches commits ?"
Code:
let listCommits= await GitlabAPI.projects.repository.commits.all('gg/asdf');

Can one list a specific branches commits ? Sorry for messaging you here <3

[2018-01-25 16:02] jdalrymple commented on #36
Hmm, i dont know if that is supported, but it wouldnt be hard to add!

[2018-01-25 16:05] Infinitetutts commented on #36
Thank u :D! I will figure out a way  💃

[2018-01-29 08:03] max-wittig commented on #32
It seems like `customAttributes` is always undefined for me. I tried to get a custom attribute from a user.
@jdalrymple

[2018-01-29 09:10] fewieden commented on #33
Did you had a chance to test the runtime transformation plugin?

[2018-01-31 10:03] max-wittig opened #37 "customAttributes always undefined for user object"
I got a list of all users, by using
[code]

But getting custom attributes from one user, doesn't seem to work
[code]
[code]

Any idea, what I might be doing wrong here?

[2018-02-02 23:03] jdalrymple commented on #37
Hmm not sure. I'll look this weekend !! Finally got some spare time :D

[2018-02-02 23:30] jdalrymple opened #38 "Simplifying the Import specific Models"
The more I use the library the more i realise the nested structure can be extremly annoying lol

I propose exporting the subclasses directly in the form:

import { Projects }  from 'node-gitlab-api';

const projectsAPI = new Projects(url, token);

projectsAPI.all()
projectsAPI.show(projectId)

etc..

Would this be an improvement?

[2018-02-02 23:33] jdalrymple commented on #37
Found the problem! Will fix soon!

[2018-02-03 21:50] jdalrymple commented on #37
So there was a bug in the custom attributes logic which i fixed, but currently the api wrapper doesnt actually return instances of each model from gitlab, it just wraps the api calls.

To get the custom attirbutes of a user, though its verbose, would be like this:

[code]

[2018-02-03 21:51] jdalrymple commented on #37
IT would be really nice to return instances of the models, ill create an issue for it! It would be much more intuitive

[2018-02-03 21:54] jdalrymple commented on #36
Just read the correct way of doing it!

 let listCommits= await GitlabAPI.projects.repository.commits.al(projectId, { ref_name: 'branchName' });

[2018-02-03 21:54] #36 closed

[2018-02-03 21:55] jdalrymple commented on #33
Looking now!

[2018-02-04 00:57] jdalrymple commented on #33
The new version of babel supports multiple babel files, so i've implemented that, but ive run into an issue with the new version of transform-runtime plugin used to transpile the generators. Submitted a bug hopefully it will be resolved soon!

[2018-02-04 03:41] jdalrymple commented on #33
I think its good now. Want to give it a check? Its the es5-support-fixes branch

[2018-02-04 03:42] jdalrymple commented on #38
Ill make a branch with this sort of format to get some feedback!

[2018-02-04 15:07] arsdehnel commented on #38
I always liked working with https://octokit.github.io/rest.js/ and never felt like it was too annoying to work with the api there.  Pretty much it's _always_ 3 levels deep which is a nice consistency.  I also really like the documentation that's there for it so that might be part of why I like it.

[2018-02-04 15:37] jdalrymple commented on #38
Consistency is key, though the one problem with the general rule of going n deep is that some of the resources are quite deep. ie, project repositories commits comments. It would defintely be cleaner to just expose the comments part. hmm maybe like below so you wouldnt have to keep reinitializing the resource you were trying to use.

[code]

[2018-02-04 18:27] arsdehnel commented on #30
My vote would be to just keep the name as it is and work on making a few changes/tweaks to make it better to use.  I think those things are happening (#33 , #38 both come to mind).  Also wondering if a structure for documentation might help increase use and therefore increase google ranking.  As I mentioned in #38 the docs at https://octokit.github.io/rest.js/ are nice and clear and simple to refe

[2018-02-04 18:30] arsdehnel opened #39 "Documentation and respective framework"
Wondering if there has been any consideration around more of a framework for documentation rather than just readme files?  I don't necessarily have a strong opinion on what tool might make sense, just wanted to see if there were any thoughts/plans/starters for it.  To me a key to a successful tool is a good set of docs.  I wouldn't suggest there would need to be _everything_ documented in the fram

[2018-02-05 08:23] max-wittig commented on #37
Yes this clears things up. Thanks :)

[2018-02-05 14:35] #37 closed

[2018-02-05 14:36] jdalrymple commented on #39
This would be awesome. I have put some thought into it, but haven't had the time to get it all setup. I'll try and document the plans asap

[2018-02-05 14:45] arsdehnel commented on #39
Cool. I don’t have a ton of time but would be interested in maybe helping out with that.

[2018-02-13 13:12] erquhart commented on #30
How about gitlab-js?

[2018-02-20 17:58] jdalrymple commented on #38
Working on this right now!

Few major updates:
1. Ability to instatiate the whole api or just the services youre interested in
2. Removed circular references that i somehow didnt see before :joy:
3. Exposing every api as its own standalone service, much cleaner

[2018-02-20 17:58] jdalrymple commented on #33
Can anyone verify?

[2018-02-21 00:56] jdalrymple commented on #38
Questions on how to structure certain resources. I've tried my best to put certain resources in their own service ie projecthooks, since there is alot of logic related to them and they are not as required in the main service ie projects.

but there a few that are relatively small that im unsure about these are:

users -> user keys , user gpg keys , user tokens and user emails
commits -> commit com

[2018-02-21 01:13] jdalrymple commented on #38
Hmm, or i can just stick to the organization outlined by the API docs. In the case of custom attributes though, not sure what to do there.

[2018-02-23 09:54] Marethyu1 commented on #39
I would potentially be interested in this too!

[2018-03-05 10:53] saurabh-deep opened #43 "How to access/create/update project and group level secret variables"
Hi folks!

I am wondering if there is a way to access/create/update the project and group level secret variables. I looked through the code and couldn't find any models which are using variables related end points ([Project Level](https://docs.gitlab.com/ce/api/project_level_variables.html) and [Group Level](https://docs.gitlab.com/ce/api/group_level_variables.html)).

Appreciate your help!

Thank

[2018-03-05 13:21] jdalrymple commented on #43
Not at the moment, but I have been working on it for the next release :)

On Mar 5, 2018, 5:54 AM, at 5:54 AM, Saurabh Deep <notifications@github.com> wrote:

[2018-03-10 18:58] jdalrymple commented on #43
Currently implementing this in the 3.0.0-beta branch. Still trying to settle on the API though, if you have any thoughts check out the branch and #38

[2018-03-10 19:00] jdalrymple commented on #38
Here is the current breakdown:

![1](https://user-images.githubusercontent.com/3743662/37245778-58df1142-246b-11e8-873e-dbd6a8cd4f93.png)
![2](https://user-images.githubusercontent.com/3743662/37245781-5bba9a8a-246b-11e8-8871-b3f33547cff6.png)

[2018-03-10 19:01] jdalrymple commented on #38
Which resources here should be combined? Should UserCustomAttributes be within Users? Should RepositoryFiles be within Repositories? etc

Thanks!

[2018-03-10 19:07] jdalrymple commented on #33
Going to assume things are working correctly here, will merge in the fixes for the next release

[2018-03-10 19:11] jdalrymple commented on #33
Can be viewed in branch 2.3.0-rc.1

[2018-03-12 15:28] jdalrymple commented on #38
After some discussion, i've found a way to get the both of two worlds. That being:

1. Maintaining the same intituive resource structure, even for sub resources
2. Exposing related resources together when convienent.

This can be done by exposing groups. For example, If you need all the functionalities of a User, one could import the UsersGroup which would include {Users, UserKeys, UserGPGKeys, Us

[2018-03-16 16:29] Mr-Wallet opened #44 "Best way to add "for current user" routes that don't take a User ID?"
My team is trying to move from the original `node-gitlab` repo to this one, primarily for v4 support. A few routes we need are still not implemented here, so we're interested in opening some pull requests.

One that is not totally straightforward is routes that sometimes take an ID and sometimes don't. For example, in UserKeys, `all` requires a userID so it can make a GET to `/users/${id}/keys`. B

[2018-03-16 17:00] jdalrymple commented on #44
Hey! I've recently tackled this problem and will have a beta release ready by the end of this weekend. for this case it will be somehting like

UserKeys.all({userId})

Where the userId is optional, if its passed it with be for that user, else it will be for the currently authenticated user.

Does this work for you?

[2018-03-16 19:58] Mr-Wallet commented on #44
Honestly that makes even more sense than GitLab's own URI design. As long as it also has `add` and `remove`, that will actually be _almost_ everything we need. While I have your attention, do you think you could sneak ["get forks"](https://github.com/jdalrymple/node-gitlab-api/commit/cbd63779aada896baa56aa432c1f85b94049d19d) into that release?

[2018-03-16 21:07] jdalrymple commented on #44
Yup!

[2018-03-17 04:09] jdalrymple commented on #44
Check the most recent beta release, tell me if it works for you!

[2018-03-17 04:09] jdalrymple commented on #43
Released in the 3.0.0-beta release, will be making an official release soon. Need to do more testing :D

[2018-03-19 15:07] Mr-Wallet commented on #44
I was skimming the diff and I noticed the push to Node 9. Did you sneak any Node 9 features in? We have a big cruise ship of an app and only fairly recently managed to get it on Node 8, so that would be a no-go for us. If it's safe to do so, perhaps on our own fork of this we could downgrade that assertion back to 8, for the sake of our CI/linter.

[2018-03-19 15:10] jdalrymple commented on #44
Yea a few, I can put it back to what it was before which compiled down to 8.9.0 ? Just trying to keep the the library up to date :(

[2018-03-19 15:24] Mr-Wallet commented on #44
Besides the immediate inconvenience to us personally, I'm most concerned about us using something versioned against 9 because odd-numbered Node releases do not go into LTS when development finishes on them. For our part, I suspect we're probably going to stay on 8 until we can make the jump to 10.

Unfortunately you seem to have the only good node module for gitlab API v4 at the moment... 😅  We'd

[2018-03-19 15:28] jdalrymple commented on #44
thats fair! Ill keep it compiling down to 8!

[2018-03-19 16:37] Mr-Wallet commented on #44
By the way, I really love the defaulting `= {}` behavior for options, so you might consider doing that for e.g. `UserKeys`, so that people don't need to provide an empty object when omitting user ID.

[2018-03-19 16:42] jdalrymple commented on #44
Oops! Must of missed it thanks!

[2018-03-19 18:57] jdalrymple commented on #44
Just pushed another release with some more fixes. Going to let it settle for a few days to see if i missed anything serious and then ill officially release it

[2018-03-19 19:16] jdalrymple commented on #33
released under 3.0.0-rc.2

[2018-03-19 19:16] #33 closed

[2018-03-19 19:17] jdalrymple commented on #38
Released under 3.0.0-rc.2

[2018-03-19 19:17] #38 closed

[2018-03-19 19:17] jdalrymple commented on #43
Released in 3.0.0-rc.2

[2018-03-19 19:17] #43 closed

[2018-03-20 17:02] jdalrymple commented on #39
Started looking into this. Thinking about using somehting similar to mkdocs or hugo. Will try and post up an example soon!

[2018-03-20 17:54] jdalrymple commented on #39
@Sharma-Rajat

[2018-03-20 19:30] Mr-Wallet commented on #44
It's not clear what the intended way to use 3.0.0 is, aside from the addition of the `new` keyword. (We definitely want to stick with the "Basic Import" since we are going to use many namespaces.) I really like v2's way of not needing to use `new`, and getting an object where namespaces can be accessed as properties. I think the Examples section in rc2's README may be out of date; or if not, it sh

[2018-03-20 20:15] jdalrymple commented on #44
I agree with the not using new keyword, but in v2 is was inconsistent and without it would require alot of self initialization which was what i was trying to avoid. It is annoying though im aware :P.

Ill update the examples to show the import so the variable makes more sense. Its just a reference to the above basic import examples.

Minus the new key word, the availabilty of the namespaces as pro

[2018-03-20 21:00] Mr-Wallet commented on #44
The issue I was having is that when I create a `new Gitlab`, I end up with something that doesn't have those properties on it. Instead it's something with the `Namespace` prototype.

[2018-03-20 21:04] jdalrymple commented on #44
Ahh!! I misunderstood sorry. I'll look !

On Mar 20, 2018, 5:00 PM, at 5:00 PM, Jordan Wallet <notifications@github.com> wrote:

[2018-03-20 21:14] Mr-Wallet commented on #44
I had assumed you intentionally changed something 😆

[2018-03-20 21:29] jdalrymple commented on #44
😂 I did expose it as a namespace but it should have all the properties in it, so if it doesn't I must of broke something

On Mar 20, 2018, 5:14 PM, at 5:14 PM, Jordan Wallet <notifications@github.com> wrote:

[2018-03-21 08:38] niklas-dahl opened #48 "providing gitlab url with / fails"
using

[code]
works, but when using `url: 'https://PRIVATE_GITLAB_DOMAIN.com/',` (with `/` at the end) fails without a descriptive error, just a `404 Not Found`.

I would expect that both ways would work..
Thanks.

[2018-03-21 11:07] jdalrymple commented on #48
Yup it should thats weird. I'll look into it :)

On Mar 21, 2018, 4:38 AM, at 4:38 AM, Niklas <notifications@github.com> wrote:

[2018-03-21 12:05] jdalrymple commented on #48
Found the problem

[2018-03-21 13:52] jnovick opened #49 "Add support for merge request approvals api"
GitLab 10.6 will be release tomorrow (3/22/18) and includes new endpoints for merge request approvals. I just want to submit a feature request for these routes to be added. https://docs.gitlab.com/ee/api/merge_request_approvals.html

[2018-03-21 13:56] jdalrymple commented on #48
Will release later today!

[2018-03-21 14:23] jdalrymple commented on #49
Just looking over the docs. How are these changes for the library

Projects
- showApprovals  (or approvals) -> gets config
-> editApprovals -> update config
-> editApprovers -> update approvers

Merge Requests
- showApprovals (or approvals) -> gets config
-> editApprovals -> update config
-> editApprovers -> update approvers
-> approve -> approve MR
-> unapprove -> unapprove MR

[2018-03-21 14:35] jdalrymple commented on #48
Just released under 2.2.5. Should work for you now :)

[2018-03-21 14:44] jdalrymple commented on #44
Yup, i had conflicting variable names. Fixing now!!

[2018-03-21 18:17] jnovick commented on #49
I think that would be great! You responded ridiculously fast. I appreciate it. 👍

[2018-03-21 18:40] jdalrymple commented on #48
Fixed in 2.2.6 (switched to the url-join library)

[2018-03-21 18:40] #48 closed

[2018-03-21 19:18] jdalrymple commented on #49
Pushed in v3.0.0-rc.3

[2018-03-21 19:19] jdalrymple commented on #44
Should be good to go now :) v3.0.0-rc.3

[2018-03-21 20:35] #49 closed

[2018-03-21 20:35] #44 closed

[2018-03-24 00:17] jdalrymple opened #51 "Add Tests for the remaining services"
So I've been thinking about finally getting started on testing for this library but im a little unsure of how to go about doing so. Usually I would write tests to validate the logic of each of the functions but in this case, the functions are just api calls to gitlab.

Is there a way to write tests to ensure these endpoints are still supported without say, creating a dummy gitlab account for testi

[2018-03-24 00:18] jdalrymple commented on #39
Beautiful docs, https://node-postgres.com/

[2018-03-24 02:05] arsdehnel commented on #51
Perhaps a `docker-compose`-based approach where a dockerized GitLab is spun up along with the app and then run some superagent tests again it or something?

[2018-03-24 16:37] jdalrymple commented on #51
I really like that idea! Ill look into that this week

[2018-03-26 00:17] jdalrymple opened #53 "Complete API Support"
As of writing this post, there are still many API's this library does not support. I would like to eventually tackle this remaining list for full support of the gitlab API:

- [x] Award
- [x] Emoji
- [x] Broadcast Messages
- [x] Deployments
- [x] Epics
- [x] Epic Issues
- [x] Feature flags
- [x] Geo Nodes
- [x] Gitignores templates
- [x] GitLab CI Config templates
- [x] Group Badges
- [x] Issue Bo

[2018-03-29 07:30] yuanoook commented on #53
and this https://docs.gitlab.com/ee/api/commits.html

[2018-03-29 17:26] jdalrymple commented on #53
lol hard to keep up with new additions :P

[2018-03-30 01:37] imraazrally opened #55 "_interopRequireDefault is not a function"
I'm using node 6.11.0 locally.
I'm requiring the module `require(node-gitlab-api/dist/es5)`

I'm getting the following error when running the app. This only occurs for **versions 2.2.5 and above**

Any help would be appreciated.

[code]

[2018-03-30 02:50] jdalrymple commented on #55
hmm weird. ill look into it!! Sorry for the inconvience :(

[2018-03-30 13:51] imraazrally commented on #55
Thanks!

[2018-03-30 16:17] jdalrymple commented on #55
Think ive narrowed it down the node url library, since that was the only thing changed in that release! will fix today

[2018-03-30 18:33] jdalrymple commented on #55
Think it might be fixed now. Give the latest (2.2.7) a run to check! (I was missing babel-runtime as a dependency)

[2018-03-30 23:27] Mr-Wallet opened #56 "XMLHttpRequest support"
This is great for electron apps (or basically any situation where you know the code is running in a browser, because you can exploit the browser's proxy resolution and SSL certificates. It's not normally available in Node, however, so it would have to be an option.

We swapped to this package and a few of our users are complaining about failures with self-signed certificates.

Basically this would

[2018-03-31 00:16] jdalrymple commented on #56
The more functionality the better! Are you sure the default request library doesnt support XMLHttpRequest ?

Not sure if this is helpful: https://github.com/request/request/issues/1267

If we did make the request library optional, we would have abtract out the request calls correct? Most of that is already done, inside the RequestHelper class, but im not sure if the other library supports all the

[2018-03-31 15:39] #53 closed

[2018-03-31 15:42] jdalrymple commented on #55
Did this change solve your problem? :)

[2018-03-31 16:53] jdalrymple commented on #51
starting working on this in the gitlabci branch :)

[2018-03-31 20:14] imraazrally commented on #55
Hey, sorry for the late response. I will test this tonight and confirm!  hope that’s fine. :)

[2018-04-01 02:41] imraazrally commented on #55
I just tested this. I'm still running into the same issue. I did a console.log on the `_interopRequireDefault` method at **dist/es5/index.js**  and it looks like it's an object and not a function. however, it's being used as a function in the following lines. That doesn't was odd.

`
var _interopRequireDefault = require("babel-runtime/helpers/interopRequireDefault");
console.log(_interopRequireDef

[2018-04-01 03:13] jdalrymple commented on #55
hmm, that is weird. ill keep looking! Sorry for the false hope :(

[2018-04-02 03:40] jdalrymple commented on #55
Alright, i think i got it to work this time. Tested locally and it seems to work, published in 2.2.8. Check it out once you get the chance!

[2018-04-02 08:55] shimont opened #57 "basic auth url"
When trying to connect to a GitLab with basic auth, the URL accessed is incorrect

Object instantiation:
`const GitlabAPI = require('node-gitlab-api')({
  url: "https://username:password@gitlab.url.com/",
  token: "TOKEN"
})`

The request-promise url used to access GitLab:
`url: 'https://username:password@gitlab.url.com/api/v4/https://gitlab.url.com/api/v4/users?active=false&blocked=false&external

[2018-04-02 13:25] imraazrally commented on #55
Awesome. That fixed it!

[2018-04-02 13:42] jdalrymple commented on #57
That's weird. Will look today!

[2018-04-02 13:42] #55 closed

[2018-04-02 17:46] Mr-Wallet commented on #56
Unfortunately the resolution for that issue, "say in the headers that we used XHR", doesn't do anything for us, since the issue is that we are an electron app and we literally want to use electron's XHR implementation. All proxy/certificate settings are shared among all electron apps, so this means that if they can smoothly browse their gitlab instance (or gitlab.com) in Chrome, then they're alrea

[2018-04-02 17:54] jdalrymple commented on #56
Ah, I understand. Yea makes sense!

On Apr 2, 2018, 1:46 PM, at 1:46 PM, Jordan Wallet <notifications@github.com> wrote:

[2018-04-02 18:36] jrop commented on #30
I have also seen some libraries add a suffix: e.g.: `gitlab2`

[2018-04-02 18:41] Mr-Wallet opened #58 "`Humps.decamelizeKeys` might be too opinionated"
I notice that the `body` and `qs` parameters are being run through this method.

As an immediate fix, this should at least be documented more clearly so that no one gets stuck on it. However it seems like a very opinionated way about how the package should be used and what requests should look like. If I used a camel-case key in my `qs` parameter, I would not expect an underscore to be inserted in

[2018-04-02 19:02] jdalrymple commented on #58
I thought about this before adding the dependency. The gitlab api, as far as I could tell, only supports snake cased parameters and because the library is only interacting with that API, ensuring the parameters were snake cased through humps allowed developers to stick with a JavaScript standard of using camelcase without having to worry about reformatting when using the library.

Without humps th

[2018-04-02 19:05] jdalrymple commented on #30
I think they've mentioned switching the main package to point to this repo but I'm unsure what progress is with that atm

[2018-04-02 19:06] jdalrymple commented on #58
Always down to improve things however, just explaining why it is like that atm.

[2018-04-02 19:17] jdalrymple commented on #57
https://docs.gitlab.com/ee/api/ Can you use basic auth to access the api ? Il fix the url, but I don't know if basic auth even works ?

[2018-04-02 19:20] jdalrymple commented on #57
Oh, also which version of the library did you notice behaviour ?

[2018-04-02 19:27] jdalrymple commented on #57
Nevermind, found it!

[2018-04-02 20:43] jdalrymple commented on #57
Nevermind, i found it!

[2018-04-02 20:46] jdalrymple commented on #57
The problem comes from the url that gitlab returns that links the pages. The link url doesnt maintain the basic auth information. I dont think basic auth is accepted by the Gitlab API. If it is, could you link the docs for that information please!

[2018-04-02 23:37] jdalrymple commented on #30
I was just given maintainer access to the gitlab npm package. Will be releasing 3.0.0 within the next day under that npm package and deprecating node-gitlab-api with a message to use the gitlab package

[2018-04-02 23:54] jdalrymple commented on #58
Thinking of releaseing 3.0.0 soon, besides this, are there any other aspects you think should be looked at before sending it out?

[2018-04-03 00:51] jdalrymple commented on #51
Anyone know of any preconfigured gitlab docker images? Somehting we can spin up to run api calls agasint?

[2018-04-03 01:50] arsdehnel commented on #51
They publish their own images as part of their release process.

https://docs.gitlab.com/omnibus/docker/

We're using the EE images but I'm sure the CE ones are just fine too.

[2018-04-03 09:37] shimont commented on #57
A good idea might be to allow the configuration of custom headers/options that will be passed to the request library - this way basic auth can be configured on the top level

[2018-04-03 11:21] jdalrymple commented on #57
Could you direct me to the docs for basic authentication in the API ?

[2018-04-03 14:31] shimont commented on #57
There are no docs regarding basic authentication - it is supported by the HTTP(s) protocol :)

[2018-04-03 14:36] jdalrymple commented on #57
Yes but isn't supported by the gitlab api, so even if you add it in the url it will be stripped during pagination

[2018-04-03 14:51] shimont commented on #57
I've made some tests, and if I put the object
`function defaultRequest(url, endpoint, {
  headers,
  body,
  qs,
  formData,
  resolveWithFullResponse = false
}) {
  const params = {
    url: (0, _urlJoin.default)(url, endpoint),
    headers,
    json: true,
    auth: { user: "USERNAME", pass: "PASSWORD" }
  };
  if (body) params.body = body;
  if (qs) params.qs = qs;
  if (formData) params.formDa

[2018-04-03 15:01] jdalrymple commented on #57
I know you can add basic authentication, I'm asking if it is supported as an authentication method in the gitlab api. I've tested if you can access private data via basic authentication and I've been unsuccessful.

[2018-04-03 15:03] shimont commented on #57
A client of my company has a GitLab API that has basic authentication via LDAP + token
im working on a pull request that will support adding basic auth

[2018-04-03 15:07] jdalrymple commented on #57
Ahhh that makes more sense. Sorry for the confusion!

Yea that change wouldn't be hard to add! Just add the extra params to the library init

[2018-04-03 15:27] Mr-Wallet commented on #58
That justification makes perfect sense to me. As long as nothing in the API takes a more arbitrary object, I suppose there's actually no reason to try and preserve property names that we know would be ignored.

[2018-04-03 15:27] #58 closed

[2018-04-03 16:42] jdalrymple commented on #57
Do you know of any docs related to LDAP auth with the API ? I've been looking at past issues, but i cant seen to find any. I wanna read up on how it works :)

[2018-04-03 19:34] jdalrymple commented on #57
Is this related?

https://github.com/python-gitlab/python-gitlab/issues/380

[2018-04-04 02:39] jdalrymple commented on #30
Release the newest version under node-gitlab-api and gitlab. Thinking i should deprecate the node-gitlab-api package now that its published under gitlab. Thoughts?

[2018-04-04 12:26] shimont commented on #57
I've gone through the links and they don't seem to be related.
In the case that I have, someone added basic HTTP authentication on top of the regular GitLab API to increase security.
In the pull request I submitted, I've added an option to add basic HTTP auth. it's not mandatory and shouldn't affect anyone that doesn't use it :)

[2018-04-04 13:30] jdalrymple commented on #57
Ah so it doesn't have to do with gitlab at all, the customer just added basic authentication on top of their system. I think the addition then may be misleading. The options for basic authentication in the library makes it seem as if the API accepts basic authentication but it doesn't.

Is this a common practice for self hosted gitlab users ? Seems like a custom solution.

[2018-04-05 13:48] xtr3me opened #61 "Retrieving events"
When trying to retrieve all events from a project via the new Event service i came across the following difference between this package and the gitlab api:

https://docs.gitlab.com/ee/api/events.html#list-a-project-39-s-visible-events
The API states that: action and targetType are optional yet this package makes them mandatory as seen in: https://github.com/jdalrymple/node-gitlab-api/blob/4e78749e

[2018-04-05 13:52] jdalrymple commented on #61
Must of missed that! Hmm right now the full responses are hidden for clarity, but maybe adding a debug option to expose those would be helpful

[2018-04-05 14:02] xtr3me commented on #61
I can make a PR, do you want to remove the validateEventOptions all together or do you have a different idea about that?

[2018-04-05 18:29] EvHaus opened #62 "`RepositoryFiles.showRaw` returns `404 File Not Found` but `RepositoryFiles.show` works"
For some reason the following request:

[code]

Fails with:

[code]

But if I change the code to:

[code]

Then it works just fine.

Any idea what could be wrong?

[2018-04-05 18:49] jdalrymple commented on #62
Tested a direct request and it worked. Weird. ill investigate further tonight!

[2018-04-05 20:50] jdalrymple commented on #62
Tested it with the library as well and didnt run into trouble :confused:

[2018-04-05 22:34] EvHaus commented on #62
Can you think of anything special about my Gitlab project that would cause this behavior?

[2018-04-05 22:40] jdalrymple commented on #62
Hmm, well I tested with a public project, I can try with a private one and see if that makes a difference. I'll even try with a package.json file to see if it's the file but I doubt it.

Is the project you noticed this with public ?

[2018-04-05 22:52] EvHaus commented on #62
No, I'm using a private project on a local Gitlab server.

[2018-04-05 22:55] jdalrymple commented on #62
Hmm maybe that's it. Do you have a gitlab.com account ?

[2018-04-05 23:07] jdalrymple commented on #61
Fixing it now :)

[2018-04-05 23:17] jdalrymple commented on #61
Should be fixed now!

[2018-04-06 01:25] EvHaus commented on #62
We're on

[code]

[2018-04-06 06:42] jdalrymple commented on #62
I know its a hassle but could you try making a direct http request to that endpoint to your gitlab instance to see if it works?

[2018-04-06 13:48] #30 closed

[2018-04-08 09:05] shimont commented on #57
I checked the setup with the client and it turns out that this is a custom solution they did by putting a Nginx with basic HTTP authentication in front of their GitLab. I can suggest that we add a global support for custom `request-promise` configuration - this way it won't be a specific fix and could help everyone. WDYT? if you approve - I can write it
Thanks

[2018-04-09 15:56] EvHaus commented on #62
Looks like it's a bug with the Gitlab API itself because a direct HTTP request fails as well.

[code]

Will close this issue and open up a ticket with Gitlab.

Thanks for your help!

[2018-04-09 15:56] #62 closed

[2018-04-09 22:30] jdalrymple commented on #51
Was just looking into it, though im a lil slow, still have lots to learn about how docker compose works exactly. I have a branch with a simple travis ci file (gitlabci) but besides that not much has been done. I've also been experimenting on docker compose files like:

[code]

But im still unsure where to put the test calls. I've seen examples of it being in the docker compose file as a separate s

[2018-04-09 22:43] arsdehnel commented on #51
Cool. Push what you have and I’ll see what I can hammer out.

[2018-04-09 22:53] jdalrymple commented on #51
Pushed! 😄

[2018-04-13 15:27] jnovick opened #66 "Fails to minify when using create react app"
Can you provide an ES module entry point with the module field in package.json?

https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify

[2018-04-13 15:31] jnovick commented on #66
Here is my error message from the console:

Failed to compile.

Failed to minify the code from this file:

        ../node_modules/node-gitlab-api/dist/latest/services/Events.js:16

Read more here: http://bit.ly/2tRViJ9

[2018-04-13 15:34] jdalrymple commented on #66
WIll look into this tonight!

[2018-04-13 16:04] jnovick commented on #66
I submitted a pull request since it is such a simple solution and it wouldn't break anything for existing users. If I am wron about backwards compatibility, let me know.

[2018-04-13 21:05] bufferoverflow commented on #57
Support for such custom unsecure authentication methods should be handled outside of this library.

@shimont I recommend to get rid of this solution or implement a custom wrapper around this lib here that is handling the basic auth approach.

[2018-04-13 21:10] jdalrymple commented on #57
Not to be a downer, but @bufferoverflow has a point :( maybe throw together a gitlab-headers library that allows for custom headers?

[2018-04-14 00:46] #66 closed

[2018-04-14 00:46] #57 closed

[2018-04-14 00:46] jdalrymple commented on #51
I added more tests based off of your branch !!

[2018-04-16 22:13] MrSnoozles opened #68 "Issue time spent / time estimate"
Hello,

I was looking for a way to add time estimates and spent times for issues through the API. I could find methods to add time for merge requests, but not for individual issues so I guess it is not implemented. Is that right?

If so, would you need help implementing it? I guess it would take me some time though to understand how this library works, but I'd be happy to help.

The relevant docum

[2018-04-16 22:54] jdalrymple commented on #68
Yup! I must of missed that. Easy thing to add, shouldnt take me more than a minute :)

[2018-04-16 23:11] #56 closed

[2018-04-16 23:14] jdalrymple commented on #68
Merged and published :) hope this helps!

[2018-04-16 23:14] #68 closed

[2018-04-17 09:47] MrSnoozles commented on #68
Write an issue before going to bed, have a solution when you wake up. This is like Christmas for developers.

Thank you so much. From what I could test it seems to be working splendidly.

[2018-04-17 13:13] max-wittig opened #69 "UserCustomAttributes gone?"
I've used node-gitlab-api 2.2.6 before, which was really intuitive imo (similar to python-gitlab)

Now I wanted to switch to 3.1.0 and I find the new syntax is really confusing. I really need every feature of the GitLab API in one node program. Should I now create a new instance for every bundle?

Also I cannot seem to find any documentation about the custom attributes for Users. I just found the

[2018-04-17 13:27] jdalrymple commented on #69
Just published, should be fixed now :)

[2018-04-17 13:58] max-wittig commented on #69
Awesome thank you! @jdalrymple

[2018-04-17 13:59] #69 closed

[2018-04-18 04:09] mingyuan-xia commented on #56
We faced a similar situation in electron apps where some requests prefer XHR, and others (need streaming) require the node `http` module. We end up using https://github.com/axios/axios which is a great simplification for http/https, follow-redirects, XHR/node.http, etc. Also it has very few dependencies and the documentation/maintenance is good. We would recommend that to you.
e.g.,
[code]
Disclai

[2018-04-23 06:55] max-wittig opened #73 "Feature-Request: Obey the GitLab rate limit"
This feature is not really documented by GitLab, but causes GitLab to send 429 (Too many requests), when enabled or set to low.
It specifies the time the client needs to wait with the [Retry-After header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After) in seconds.

GitLab lacks documentation about this feature, but rate-limits can be set in the Admin UI (see screenshot)
and

[2018-04-23 12:35] keiranmraine opened #74 "Problems with current npm release"
If I attempt to use the current NPM release (3.0.2, `npm i --save node-gitlab-api`) with the `ProjectsBundle` constructor I get the following error:

[code]

[code]

I did try the alternate `gitlab` entry from npm (appears to be ahead of your releases at 3.2.0) and installing using the git tag results in node being unable to find the module (in both cases I update the import to `gitlab`).

Importi

[2018-04-23 12:42] jdalrymple commented on #74
Hmm I'll look today :)

[2018-04-23 12:50] keiranmraine opened #75 "Usage of IssueNotes.create()"
Sorry for the noise, but could you clarify how to add a note to an issue?

I have the following:

[code]

The issue object being retrieved via:

[code]

and looking as I would expect:

[code]

v3.0.2 (npm i --save node-gitlab-api)

Thanks in advance,

[2018-04-23 14:30] keiranmraine commented on #75
Found the problem, should have been `issue.iid`:

[code]

[2018-04-23 14:30] #75 closed

[2018-04-23 16:48] jdalrymple commented on #74
Should be fixed now, please stick to the gitlab npm package for now, the node-gitlab-api one has been deprecated and wont be updated.

[2018-04-23 16:48] #74 closed

[2018-04-29 19:39] jdalrymple commented on #73
Havent gotten around to this as of yet, but i will soon! Want to finish off the basic testing issue first.

[2018-04-29 19:54] MunifTanjim opened #78 "Settle on official node gitlab library location"
This library is now available as `gitlab` npm package. But the README file has outdated information about that.

Also, about the [node-gitlab/node-gitlab](https://github.com/node-gitlab/node-gitlab) repository, one of the following should be done:

- Transfer `jdalrymple/node-gitlab-api` to `node-gitlab/node-gitlab`
- Archive `node-gitlab/node-gitlab` repository. Mark it as deprecated in its READM

[2018-04-29 19:59] jdalrymple commented on #78
https://github.com/node-gitlab/node-gitlab/issues/191

Still trying to come to a conclusion about the libraries, but ill update the readme in the meantime!

[2018-04-29 20:24] MunifTanjim commented on #78
I read that issue earlier.

Still, transferring `jdalrymple/node-gitlab-api` to `node-gitlab/node-gitlab` seems like a good idea. As that repository is already featured in the GitLab docs: https://about.gitlab.com/applications/#api-clients.

[2018-05-02 08:29] max-wittig opened #79 "Version API not working?"
Seems like the version information is not properly exposed anymore. Is that true or am I using this feature wrong?

[code]

[code]

[2018-05-02 11:54] jdalrymple commented on #79
hmm, not sure whats going on there. Will look today!!

[2018-05-02 11:56] jdalrymple commented on #79
For whatever reason its missing from the exports. ill publish the fix in a few hours

[2018-05-02 17:08] jdalrymple commented on #79
Should be good now!

[2018-05-02 17:08] #79 closed

[2018-05-08 13:30] imraazrally opened #80 "Why is it not require('gitlab/dist/es5') ?"
Hey, the documentation says
`const Gitlab = require('node-gitlab-api/dist/es5').default`

and why not `require('gitlab/dist/es5')` ?

[2018-05-08 13:35] jdalrymple commented on #80
When I wrote the docs and was testing it wasn't working for me lol. I can check again?

[2018-05-08 13:52] imraazrally opened #81 "client.ProtectedBranches.protect is not working as expected"
Hello,

I'm trying to make an api call to gitlab to [protect the master branch](https://docs.gitlab.com/ee/api/protected_branches.html#protect-repository-branches).

In theory, the following call to the client, is supposed to protect the master branch such that developers can merge. (merge_access_level: 30). However, after the call is made the master branch is protected with (merge_access_level: 4

[2018-05-08 14:17] imraazrally commented on #80
Yeah, it wasn't working for me either lol I think the bug i was getting was related to async/await code. This ticket is not urgent and i'm happy to use the node-gitlab-api 3.0.22 in the meanwhile. But i did alot of debugging for #81 and can't seem to figure out what is going on. I'd be super appreciative if you can check that and see if you catch anything i haven't :)

[2018-05-08 15:49] imraazrally opened #82 "Project.all() with options is timing out"
After migrating from node-gitlab-api `2.2.8` to `3.0.2`. The following code is timing out
[code]

Any idea why?  from analyzing the debug mode for `request-promise` library it seems that the library is making retry calls even after a succesful response. It continues retry infinitely until my AWS lambda functions timeout.

[2018-05-08 16:13] jdalrymple commented on #82
Yikes, that's no good. I'll give it a look asap

[2018-05-08 17:31] imraazrally commented on #81
I might have figured out what's going on here. My code does a `client.Projects.create()` before doing the `client.ProtectedBranches.protect` this was working fine before, however, it looks like gitlab changed their project creations to by default protect the master branch. And hence, this api call failed. I didn't catch the error correctly and it hence it was failing silently giving the impression

[2018-05-08 17:41] #81 closed

[2018-05-09 18:19] LogansUA opened #83 "Search.all() url problem"
Hello. I'm trying to use search API. Here's my example:

[code]

In result i receive an error which contains
[code]

The reason, I think, in the path which equals: `path: '/api/v4/undefinedsearch?scope=project&search=json'`

Here's the options of request i get:
[code]

Versions:
[code]

Thank you :)

[2018-05-09 18:27] imraazrally commented on #83
@LogansUA try `https://gitlab.com`

[2018-05-09 18:35] imraazrally commented on #83
hey, the `undefinedSearch` is because when there is no `groupId` or `projectId` defined. It looks like the `else` statement is missing [here](https://github.com/jdalrymple/node-gitlab-api/blob/master/src/services/Search.js#L12).

[2018-05-09 21:36] LogansUA commented on #83
Great, will somebody fix it?

[2018-05-10 00:58] jdalrymple commented on #80
https://stackoverflow.com/questions/42475691/importing-vs-requiring-with-babel-in-node Here is an explaination of why there is a default.

[2018-05-10 00:58] #80 closed

[2018-05-10 00:58] jdalrymple commented on #80
and here https://babeljs.io/docs/plugins/transform-es2015-modules-commonjs/

[2018-05-10 00:59] jdalrymple commented on #80
Tried to add the plugin https://www.npmjs.com/package/babel-plugin-add-module-exports to remove the verbosity, but i didnt have much luck

[2018-05-10 01:03] #83 closed

[2018-05-10 01:04] #82 closed

[2018-05-10 01:04] jdalrymple commented on #78
Updated the repo name for clarity

[2018-05-10 13:35] imraazrally commented on #80
Hey, i think i didn't communicate this properly. What i was specifically wondering is when i do a `require('gitlab/dist/es5')` (as opposed to `node-gitlab-api/dist/es5`) i am having issues. This forces me to stick to `node-gitlab-api` of version 3.0.2. but most of the new fixes you put in place such as #82 is only available in `gitlab` library.

Code:
[code]

Bug:
[code]

Thanks, much appreciated!

[2018-05-10 13:36] imraazrally commented on #82
Thanks!

[2018-05-10 13:36] jdalrymple commented on #80
AHHH, ill fix this sorry!

On May 10 2018, at 9:35 am, Imraaz Rally <notifications@github.com> wrote:

[2018-05-10 13:38] imraazrally opened #84 "Issues with es5"
Hey, i think i didn't communicate this properly. What i was specifically wondering is when i do a `require('gitlab/dist/es5')` (as opposed to `node-gitlab-api/dist/es5`) i am having issues. This forces me to stick to `node-gitlab-api` of version 3.0.2. but most of the new fixes you put in place such as #82 is only available in `gitlab` library.

Code:
[code]

Bug:
[code]

Thanks, much appreciated!

[2018-05-10 13:39] imraazrally commented on #80
Thanks, created a new issue #84

[2018-05-10 15:15] jdalrymple commented on #84
ill look today!

[2018-05-10 20:26] imraazrally commented on #84
Thanks!

[2018-05-11 13:42] imraazrally commented on #84
Hey @jdalrymple, wondering if you got a chance to figure out what's happening here? :)

[2018-05-11 13:45] jdalrymple commented on #84
Not yet, tried doing last night but then passed out 😪

[2018-05-11 21:28] jdalrymple commented on #84
hmm so ive tested with:

node: 9.11.1
npm: 6.0.0
gitlab package: 3.3.2 and it seems to work fine.

What version of node/npm are you using?

[2018-05-11 21:46] imraazrally commented on #84
It’s Node 6.10 (latest node version Lambda supports)

Sent from my iPhone

[2018-05-12 22:15] imraazrally commented on #84
Hey @jdalrymple, were you able to reproduce this?

[2018-05-13 17:40] jdalrymple commented on #84
I was missing a babel conversion for async somewhere. Will publish the fix soon

[2018-05-14 11:01] r00ger commented on #39
Would you guys consider switching to typescript? If so, then I can help you to introduce it, add build step and annotate the codebase. That will somehow solve the problem of documentation. I believe most of the IDEs (WS and VS Code for sure) pick up type definitions and show even in javascript project (I don't even mention type check for typescript projects).

If you are not interested in switchin

[2018-05-14 11:03] r00ger commented on #39
Also, there is https://github.com/TypeStrong/typedoc which makes it possible to generate the documentation, once you have added annotations to your code

[2018-05-14 13:47] imraazrally commented on #84
@jdalrymple thanks! This is working now! :)

[2018-05-14 13:47] #84 closed

[2018-05-14 15:48] imraazrally opened #85 "Bug at Groups.show()"
`client.Groups.show('test-group')` returns error `Cannot read property 'next' of null`

[2018-05-14 18:58] jdalrymple commented on #85
Should be fixed now

[2018-05-14 20:13] imraazrally commented on #85
Great, works.!

[2018-05-14 20:13] #85 closed

[2018-05-14 22:40] jdalrymple commented on #39
Cool!!! I thought about it initially, but had some trouble getting all the config stuff setup. I would def be interesting in trying it out though!

[2018-05-17 08:15] r00ger commented on #51
Yay, something happens here!

It would be nice to have at least the API surface checked. I slowly progress on typescript migration and once minimal test set is here, I start sending PRs

[2018-05-17 11:37] jdalrymple commented on #51
I've gotten pretty far now with the script. Just ironing out the kinks. Currently trying to figure out what I need to change to get babel and jest to work properly. I think I may have to revert babel to an earlier version, which is a pain

[2018-05-17 11:44] jdalrymple commented on #51
See the work in PR #71 and branch more-advanced-testing

[2018-05-17 12:36] r00ger commented on #51
We can consider typescript compiler and ts-jest. Because if we introduce typescript, there is no need for `babel`

[2018-05-17 19:16] jdalrymple commented on #51
Lol just when I get it working

[2018-05-18 15:53] r00ger opened #89 "Migrate to TypeScript"
Track progress/ideas/questions under this ticket

[2018-05-24 13:26] jdalrymple commented on #51
The first set of tests are now up. Still have many many more to do, but the basic structure is there to write them now :)

[2018-05-24 14:01] subashsn opened #94 "Missing pagination information in response"
When I use the `Projects.all()` call to list projects it by default lists up to 30 projects. But if there are more than `perPage` number of projects, there is no way to know based on the data returned by the function. This makes it difficult to implement pagination in UI.

The Gitlab API returns this information as part of the headers

Example
[code]

Am I missing something? What is the best way t

[2018-05-24 14:05] jdalrymple commented on #94
The library should return all the projects, as the pagination is handled in the background. We changed it in the past to not just return 30 results since it was misleading. 30 != all lol. If it is only returning 30, then something is probably broken :( I can look into this?

[2018-05-25 22:11] jdalrymple commented on #94
So i just tested this, it still returns all the results which is good. Would you like more information when using the paging options?

[2018-05-28 03:39] subashsn commented on #94
Hey, thanks for the reponse!

I am using the api using
[code]

[2018-05-28 04:04] jdalrymple commented on #94
Very doable. I'll add in an option to also retrieve the pagination information

[2018-05-28 19:14] jdalrymple commented on #94
In this example,

[code]

page is variable right? You can also get more results if you supply the perPage option which will give you more results per page.

[2018-05-29 08:48] subashsn commented on #94
Yep. `page`, `perPage` options are passed to GitLab and I am able to control the page and number of results per page.

[2018-06-01 15:27] jdalrymple commented on #94
So ive been thinking about the cleanest way to do this but havent come up with the best solution :s. pretty much just an expanded response:

[code]

Thoughts?

[2018-06-01 16:06] subashsn commented on #94
I think that should work!

So I can access the pagination data by doing something like this?
[code]

It doesnt't break anyones code either. So I think this is a pretty good way to add this.

Thanks :)

[2018-06-01 16:39] jdalrymple commented on #94
[code]

Should I abstract out the pagination keys too?

Like:
[code]
OR
[code]

[2018-06-01 17:27] subashsn commented on #94
Yep, that would make it really clean!

[code]
Maybe too verbose :P But anything works, really.

Thanks :D

[2018-06-01 21:46] jdalrymple commented on #39
https://github.com/QingWei-Li/awesome-docsify

[2018-06-02 00:37] jdalrymple commented on #94
Just added the functionality to the pagination branch, using this syntax:

[code]

[2018-06-02 02:56] jdalrymple commented on #94
just published! Tell me if it works for you

[2018-06-02 20:19] hyphaene opened #97 "[Question] How create a project under a specific namespace ( group )"
Hi !

After reading the source code, I feel like the case of creating a project under a specific namespace is not solvable through this package.
Am I right ?
I'm willing to work on the feature if so.

Max

[2018-06-02 20:30] #97 closed

[2018-06-02 20:31] hyphaene commented on #97
My bad, I did not read in an effeicient way the Gitlab API.
Good job mate !

[2018-06-04 15:59] icosamuel opened #98 "Using XMLHttpRequests results in broken 'fs' dependency"
I'm trying to use your api client [in the browser](https://github.com/jdalrymple/node-gitlab/issues/56). So far i've been unable to build my SPA because of a dependency thats not available in the browser (fs).

[code]

[code]
It seems ratter normal that fs cannot be used in the browser [[1]](https://github.com/nodejs/help/issues/547) [[2]](https://stackoverflow.com/questions/50370975/npm-stream-pl

[2018-06-04 17:39] jdalrymple commented on #98
Wait the standard node fs library isn't available but the other ones are ? :P something about that is off

[2018-06-04 17:40] jdalrymple commented on #98
Hmm. Lemme look

[2018-06-04 17:45] jdalrymple commented on #98
It's only used for the upload function, to read in files. Could switch it with another library but I'm not sure that would solve your problem

[2018-06-04 18:48] icosamuel commented on #98
There is also a reference in the `request` module that acts as a dependency to this project. I'm not sure either how to go about solving this

[2018-06-04 18:50] jdalrymple commented on #98
Me neither :s I'll do some research tonight

[2018-06-05 01:55] jdalrymple opened #99 "Updating export to latest node"
Currently we've been keeping the default export to the node 8.9 although its supposed to be the latest. In the next release this will be upgraded to 10.0.0. For those still needing older support, please switch to the es5 export.

[2018-06-05 01:57] #99 closed

[2018-06-05 07:58] giuseppeangri opened #100 "Show functions not working"
Hi,
I tried to use the show functions (both in Users and Projects), but it doesn't work.

I use the functions in this way:

[code]

I receive this error:

[code]

Thanks for this library,
Greetings!

[2018-06-05 08:40] giuseppeangri opened #101 "Show functions (in Users, Projects and Commits) not support the options"
Hi,
in my project I'm using the show functions (in Users, Projects and Commits).
When I show a single project, I need the options object to attach the attribute "statistics".
As you can see from [GitLab Documentation](https://gitlab.com/help/api/projects.md#get-single-project) this attribute is false as default, so I need to pass it with true value.

I see from the code, that in the show function

[2018-06-05 08:44] giuseppeangri opened #102 "The function to Get languages used in a project is absent"
Hi,
the [GitLab documentation](https://gitlab.com/help/api/projects.md#languages) provide an endpoint to get languages statistics used in a project.
I noticed that this function is absent in the library.

Thanks,
Greetings

[2018-06-05 08:58] subashsn commented on #94
I was not able to get this working.

This is what I tried
[code]

But the `pagination` variable is still printing `undefined` :(

Thanks

[2018-06-05 10:50] jdalrymple commented on #94
Why projects.paginatiom ?

[2018-06-05 10:51] jdalrymple commented on #94
The return would be ({ data, pagination}) => { console.log(pagination)}

[2018-06-05 11:03] jdalrymple commented on #94
And the option is showPagination : true. Changed it for clarity

[2018-06-05 11:43] jdalrymple commented on #100
Not sure how I missed this obvious error when I was testing smh. Nice catch

[2018-06-05 13:30] giuseppeangri commented on #100
I already fixed this issue and also the other two issues that I detected (#101, #102).
I send you all in a pull request.
Let me know if there are question! 😃

Greetings!

[2018-06-05 14:34] jdalrymple commented on #100
Yup I saw! I asked a question in the pr

[2018-06-05 14:52] icosamuel commented on #98
So I've spent a couple of hours migrating the http-request lib to Axios. In the process, I eliminated all dependencies to `fs`. So I guess this would count as option 1, but not easily mergable.

I've forked the project to meet my needs, but I'd love for some ideas on how to contribute to your project. Here it is: https://github.com/icosamuel/node-gitlab/pull/1

[2018-06-05 19:02] jdalrymple commented on #94
Perks of coding while tired smh. I'll fix it tonight sorry

[2018-06-05 19:17] subashsn commented on #94
No problem! And thanks a lot :)

[2018-06-05 23:17] jdalrymple commented on #94
Fixing it now, and adding tests so i dont make the same mistake in the future :P

[2018-06-06 13:13] jdalrymple commented on #100
Going to push this in the release today! Just need to fix up the limiting :)

[2018-06-06 13:13] jdalrymple commented on #94
Will release today! Added tests as well.

[2018-06-06 13:14] jdalrymple commented on #94
Oh and also note the properties have changed a bit. Check the readme :)

[2018-06-06 17:32] MunifTanjim opened #104 "Automation for API routes generation"
Have you thought about automating the whole process, like what [octokit/rest.js](https://github.com/octokit/rest.js) is doing?

The upside is that, you no longer have to manually update API parameters and things like that. So, a lot of the problems like #53 #49 #101, won't occur anymore. You get the idea.

So, we'll use https://github.com/gitlabhq/gitlabhq/tree/master/doc/api these docs to generat

[2018-06-06 17:45] jdalrymple commented on #104
I've thought about it in the past, as it would of saved alot of time and removed some possibility for missing support. The only reservation I had towards it was customization. Many of the endpoints abstract certain options for simplicity, so generically auto generating them from the docs would take some of this value away, at least IMO.

They do have some nice abstraction through the routes.json f

[2018-06-06 17:45] #102 closed

[2018-06-06 17:45] #101 closed

[2018-06-06 18:21] MunifTanjim commented on #104
Well, abstraction can still be applied. If the routes definition is available, how you're gonna utilize it is totally up to you. I'd be able to explain further if I knew what type of abstractions you're talking about (because I've not read through all of the codes of this library yet).

The `routes.json` is not supposed to be readable. As it's not written by hand. It's only there for the library t

[2018-06-06 18:29] MunifTanjim commented on #104
Also, I'd like as less customization as possible. Because, that removes the extra overhead of learning to use the api client for the end-user. So, if someone reads the official documentation of the api and then wants to use the api client library, the two should be matched as closely as possible.

But that's just my opinion. It's up to you how you'd like it to be :smiley:

[2018-06-06 19:01] jdalrymple commented on #98
@Mr-Wallet any suggestions?

[2018-06-06 19:13] Mr-Wallet commented on #98
The best option would be to abstract the request layer so that clients could inject their own dependency. Basically `BaseService` would take in a `requester` that must implement certain methods, and the interface would be basically the same as the `request` library, and if the client wants to use something other than `request` (e.g. `xhr`, or something that doesn't rely on `fs`), it would be the c

[2018-06-06 20:21] icosamuel commented on #98
Not sure how that would be done, but there is also one call (upload i think) in `services/Projects.js` that requires the use of `fs`.

If I may suggest, Axios is getting an incredible amount of love on github. It works for node and the browser and has promises included. Do you think it is viable option to consider migrating?

[2018-06-06 20:52] max-wittig commented on #104
python-gitlab also follows this priciple. This way new users of node-gitlab only need to understand the basics of the library and can read about the rest of the features in the GitLab API docs.

[2018-06-06 22:21] Mr-Wallet commented on #98
That may be a superior default; just remember that today's Axios is tomorrow's dead project. I would recommend building the abstraction layer now.

My team uses node-gitlab for a desktop application that can't update at the drop of a hat and which hundreds of thousands of people rely on. Axios is moving a little fast (still has a mediocre stars-to-issues ratio, breaking change every couple months)

[2018-06-07 00:04] jdalrymple commented on #98
Lol I agree. I'll work on making an abstraction layer for the next major release but will keep request as a default for simplicity

[2018-06-07 11:34] jdalrymple commented on #104
Makes sense, perhaps this could be the next big things to work on after the typescript update?

[2018-06-07 11:38] MunifTanjim commented on #89
May I ask what will be the primary benefit of moving the whole codebase to TS?

[2018-06-07 13:32] jdalrymple commented on #89
I believe the initial goal was to improve documentation efforts

[2018-06-07 13:55] MunifTanjim commented on #89
If we automate the routes generation process, converting the whole codebase to TS won't have much benefit in terms of "improving documentation efforts".

But if this is being done for any other benefits then I've got nothing to say other than, "_TS is really cool_" :smiley:

[2018-06-07 20:15] jdalrymple commented on #89
:joy: fair. Either way, trying to focus on tackling one thing at a time.

[2018-06-19 01:40] jdalrymple commented on #98
I've started working on this. I've removed the dependency internally and am working on the abstraction of the request module. There are a couple things im unsure of how to solve:

1. Consistency of the libraries. Right now their is a helper to simplify the requests. This helper assumes the request library follows a certain API. As we've seen with xhr and axios (more so the former than the latter)

[2018-06-19 01:47] jdalrymple commented on #104
Looked more into this over the weekend. Not sure how we could reliably pull the data from Gitlabs md files since they do alot of grouping which can be misleading. I really like the idea though, would cut down on alot of code as well. It it helps for portability and readability I'm 100% down for it.

The only thing I can forsee myself not liking is having all the routes in one file. Personally i fi

[2018-06-19 02:41] jdalrymple commented on #73
Finally had a moment to look deeper into this. Still trying to figure out the best way to handle it. I could:

1. Look up the users configuration on init of a API Service and then set it for that service
2. Same as 1, but figure out a way to set it globally so if the user inits 10 services, the request for the config doesn't happen 10 times
3. ... not sure lol :P

Besides getting and storing the c

[2018-06-19 08:55] max-wittig commented on #73
@jdalrymple [I've implemented it for python-gitlab](https://github.com/python-gitlab/python-gitlab/pull/488).

I've found that you can just wait, as long as your GitLab instance specifies.
It will send a [Retry-After](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Retry-After) header.
along with the 429 HTTP Error Code (Too many request).

So best way would be to have the main request h

[2018-06-19 11:51] jdalrymple commented on #73
Wicked, I'll try that

[2018-06-19 14:44] jdalrymple commented on #104
Sorry for the confusion, I did mean for each section, not each route. lol that would be madness.

What you have in gitlab-api-routes is pretty much what I wanted to do. It would be wicked to have that generation of routes as a npm library, with cli execution, such that we could update the routes in the library easily with a command. I would step away from having it as part of a ci step just becaus

[2018-06-19 15:47] Mr-Wallet commented on #98
Well, here's my personal take:

#1 Is not really solvable - if you want it to work for _everything,_ you must provide an API. The API could coincidentally match up with one existing library, but that's as far as you can get.

For #2: nothing is stopping people from importing as many modules as they like in their adapter. The abstraction could handle both streams and promises, but the underlying im

[2018-06-19 16:44] jdalrymple commented on #98
:joy: #documentation sounds good! Will set up a prototype in a week or so! Woo progress

[2018-06-22 14:12] jdalrymple opened #107 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-06-22 18:09] jdalrymple commented on #107
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-06-22 20:43] #107 closed

[2018-06-22 22:04] jdalrymple opened #108 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `semantic-release` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m

[2018-06-23 03:53] jdalrymple commented on #108
## :rotating_light: The automated release from the `semantic-release` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m

[2018-06-26 03:11] #108 closed

[2018-06-26 03:13] jdalrymple opened #110 "Improve CI build time"
Im not sure if this is possible, but it would be wicked if we could cache the gitlab container somehow such that each of the test jobs wouldnt have to redownload and reinit a gitlab container. Just one gitlab container for all the different test jobs to run against would significantly cut down on the ci time

[2018-06-27 17:05] jdalrymple commented on #110
We could run multple scripts, where each script runs nvm ---version-- before running npm run test?

[2018-06-27 18:22] jdalrymple commented on #110
Its been cut down from 30 min to 8 min :sunglasses:

[2018-06-27 18:29] #110 closed

[2018-06-28 14:29] kenokenobingo opened #112 "GitLab API: Get all files from each branch (Question)"
Using `node-gitlab`, I’d like to get the files of all branches for each repository via the GitLab API. So far my code in Vue.js looks like this: https://pastebin.com/8RC7sxgG. How can I accomplish this?

[2018-07-01 17:18] arthot opened #113 "Wrong url in ProjectIssueBoards"
Hi, I think there is a mistake in `ProjectIssueBoards` service:

this code
[code]
produces 404 error.

I've figured out that `ProjectIssueBoards` service has wrong url:
https://gitlab.com/api/v4/products
instead of
https://gitlab.com/api/v4/projects

I presume it's just a typo, because I haven't found any evidence of existing **/products** url in the past

[2018-07-02 08:19] max-wittig commented on #73
This may need to be fixed in the request library, that is used.

https://github.com/request/request

[2018-07-02 13:52] jdalrymple commented on #112
Hmm. You only want the files corresponding to the branches? not tags?

Assuming just branches I would:

1. First get and go over all the projects like you've done,
2. Then for each project, get its corresponding branches
3. I would use the repository API to get the files tree
4. Then loop through this tree (or run each request in parallel) to get each specific file using the repository files API

[2018-07-02 13:53] jdalrymple commented on #113
Releasing this today!

[2018-07-02 13:53] #113 closed

[2018-07-02 15:23] kenokenobingo commented on #112
Thanks, that’s really helped a lot!

[2018-07-02 15:23] #112 closed

[2018-07-02 16:01] jdalrymple commented on #113
:tada: This issue has been resolved in version 3.4.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/3.4.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-02 16:55] Ajedi32 opened #116 "ProjectMilestones#create completely ignores its title parameter"
See https://github.com/jdalrymple/node-gitlab/blob/0d14dff49b419b17d024fbe5ecb8a43b739b5335/src/templates/ResourceMilestones.js#L17-L21

The title parameter is unused. This results in errors where the GitLab API is complaining about the lack of a title parameter even though you did pass a title to the library.

[2018-07-02 16:56] jdalrymple commented on #116
Will fix in a minute!

[2018-07-02 16:59] Ajedi32 commented on #116
Thanks.

As a side note, I'm a little surprised this particular issue wasn't caught by ESLint's no-unused-vars rule. Might want to check your config to see if that option is turned off...

[2018-07-02 17:00] jdalrymple commented on #116
Yup i was just thinking that

[2018-07-02 17:08] jdalrymple commented on #116
https://github.com/airbnb/javascript/issues/726 Apparently its like that on purpose. I must of overlooked it though.

[2018-07-02 19:36] #116 closed

[2018-07-04 17:10] #73 closed

[2018-07-04 17:22] jdalrymple commented on #73
:tada: This issue has been resolved in version 3.5.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/3.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-07-04 17:58] diegoazh commented on #39
Hello!, I'm recomend [Vuepress](https://vuepress.vuejs.org/) for the documentation.
I would like to contribute with this but I don't know if this is in development now.

[2018-07-04 17:59] max-wittig commented on #73
@jdalrymple Awesome thanks!

[2018-07-06 21:30] jdalrymple commented on #39
Hey @diegoazh !! I was originally leaning to one of the two above options, but honestly all of them look pretty solid. If you'd like to build some docs in vuepress that would be great! Any reason you recommend vuepress over others?

[2018-07-17 02:30] arsdehnel opened #121 "jobs "most recent artifact" endpoint"
Right now we've got https://github.com/jdalrymple/node-gitlab/blob/master/src/services/Jobs.js#L16 as the endpoint to get artifacts from a specific job.  But there is also an endpoint for retrieving the most recent artifact without having to first get the job ID:

`https://example.com/<namespace>/<project>/-/jobs/artifacts/<ref>/raw/<path_to_file>?job=<job_name>`

More details on that endpoint her

[2018-07-17 02:33] jdalrymple commented on #121
I'm ok with that change ( the optional jobid) but it would be a breaking change since the jobid is the second argument :/

[2018-07-18 13:50] jdalrymple opened #126 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-18 14:00] diegoazh commented on #39
Hi @jdalrymple, I recomend this tool for many reasons. It's simple, fast, markdown files, custom themes, service workers, google analytics, multilanguage support and all the power of VueJs inside of it.
It is new, I know, but it is very simple to use and it has a very fast development.

[2018-07-18 14:15] r00ger commented on #89
Hey! Do you have a plan to merge `next` branch to trunk any time soon?

[2018-07-18 14:16] jdalrymple commented on #89
Yup! Just waiting until I have the time to test through it all before I release it

[2018-07-19 14:06] jdalrymple commented on #126
hmm, looking into this

[2018-07-19 14:06] jdalrymple commented on #39
yea then im game!

[2018-07-20 14:52] jnovick opened #127 "List MR pipelines endpoint"
https://docs.gitlab.com/ee/api/merge_requests.html#list-mr-pipelines

[2018-07-21 22:21] casz opened #129 "add support for triggering mirror update"
Would be interested in triggering mirror updates in an application
https://docs.gitlab.com/ee/api/projects.html#start-the-pull-mirroring-process-for-a-project

[2018-07-21 23:44] casz opened #132 "Use liveness rather then sleep in docker test"
Use liveness health check instead of using a sleep 240, should speed up the waiting part.
https://docs.gitlab.com/ee/user/admin_area/monitoring/health_check.html
https://docs.gitlab.com/ee/administration/monitoring/ip_whitelist.html

Health check is possible via ip_whitelist
https://gitlab.com/-/liveness

[2018-07-21 23:45] jdalrymple commented on #132
Such a better idea thank you 🙏

[2018-07-21 23:55] jdalrymple commented on #126
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-23 16:13] jdalrymple commented on #127
Merged, will release later today

[2018-07-23 16:13] #127 closed

[2018-07-23 23:19] #129 closed

[2018-07-23 23:20] #126 closed

[2018-07-23 23:36] jdalrymple commented on #121
Will be in next release

[2018-07-23 23:36] #121 closed

[2018-07-23 23:37] jdalrymple commented on #132
Will be in next release

[2018-07-24 02:18] jdalrymple commented on #132
liveliness and readiness are still too short :( they avg about 100ms, but the actual service doesnt get up and moving until maybe 200ms

[2018-07-24 05:41] casz commented on #132
see https://github.com/jdalrymple/node-gitlab/commit/f4f1aeefd1d3bb2d400dbc12cc570278c45ba63e#commitcomment-29809139

[2018-07-25 20:09] jnovick commented on #127
Thanks :)

[2018-07-26 09:05] madd35 opened #133 "help for use of showArchive"
Hi
I want to download project archive from gitlab with your library.
How can i use showArchive  from Repositories ?  any code example  pls ?

[2018-07-27 00:17] Spareo opened #135 "Tag Release API"
The gitlab API has the ability to add/edit release notes on tags. I have been looking over the source and can't find this feature in node-gitlab. Am I missing something or has it not be added to node-gitlab?

[2018-07-27 00:18] jdalrymple commented on #135
Hasn't been added yet !

[2018-07-27 00:18] Spareo commented on #135
Thanks for the quick reply, thats all I needed to know!

[2018-07-27 00:18] #135 closed

[2018-07-27 00:19] jdalrymple commented on #135
Will get around to it though in the next week if you don't get to it :)

[2018-07-27 00:23] Spareo commented on #135
Im kind of short on time this weekend and have already written code to just do it through the API. If you guys add it in the future I'll update my stuff to call it through this library.

[2018-07-31 02:15] jdalrymple commented on #133
Hey!

[code]

See here for more infomation about options https://docs.gitlab.com/ee/api/repositories.html#get-file-archive. Currently dont support format, but will add that soon.

Hope this helps!

[2018-07-31 18:13] yonkeltron opened #137 "TypeScript support"
Hello,

I would love to use this library in a TypeScript project but it seems that [the only type definitions](https://www.npmjs.com/package/@types/gitlab) are third-party and woefully outdated. Any chance of getting official TypeScript support in the project?

Thanks,
+Jonathan

[2018-07-31 18:35] jdalrymple commented on #137
See #89, I'd like to finish moving things to ts, just running short on time lately :(.

[2018-07-31 23:29] yonkeltron commented on #137
I understand how it is to run short on time and I want to take this chance to thank you for your efforts thus far. Is there some pre-release branch which we can help test?

[2018-08-01 00:03] jdalrymple commented on #137
Its a huge team effort. Its wicked to see how everyone is pushing to make this library better. Yup! That is the current 'next' branch

[2018-08-01 00:03] jdalrymple commented on #137
I just rebased, there may be a few hiccups

[2018-08-01 17:09] dallen66 opened #138 "Error when Removing Project Snippets"
The ProjectSnippets remove method is incomplete.

[code]
Here is the fix.
[code]

Thanks.

[2018-08-01 17:10] jdalrymple commented on #138
I'll add the fix tonight ! Thank you

[2018-08-01 18:35] dallen66 commented on #138
The edit method needs updating too.

[code]
Thanks again.

[2018-08-02 04:01] jdalrymple commented on #133
Did this help? @madd35

[2018-08-02 04:46] #138 closed

[2018-08-05 18:14] #133 closed

[2018-08-06 07:47] aol-nnov commented on #104
For automatic api client generation please monitor [this](https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/2397) merge request.

I think swagger support would be a huge plus to the gitlab api, but unfortunately I'm not sure if it gonna happen any time soon.. :(

[2018-08-06 08:19] lipsumar opened #140 "Cannot find module '@babel/runtime/core-js/object/define-property'"
Just updated to `3.7.0` and as soon as i import `gitlab/dist/es5`, I get:

[code]

I'm using node `v8.7.0`

[2018-08-06 12:44] jag-tus commented on #140
I had the same issue. I will end up upgrading to node v8 and using the ES6 version, but here is a hint to help you along the way.

I noticed the following lines in `dist/es5/index.js`:
[code]

If you look for these files in `node_modules/@babel/runtime/`, you will find that `core-js/` doesn't exist.  There are two fixes I can imagine:

1) Figure out the appropriate version of `babel-runtime` (the

[2018-08-06 12:50] jag-tus commented on #140
If it's just a question of not being able to use the `import` keyword:

`const Gitlab = require('gitlab').default;`

[2018-08-06 17:26] GreenGremlin commented on #140
Alternatively, with the import keyword:

[code]

[2018-08-07 00:03] BBKolton commented on #140
Does anyone know _why_ this update broke ES5 support? It was pretty frustrating having it work one day and break the next

[2018-08-07 02:39] GreenGremlin commented on #140
My guess would be something changed in `@babel/runtime`, likely [this change](https://github.com/babel/babel/commit/a8224d40e2ff5d2ef92152e4853257596d8097bc#diff-7f5561cc60854021d1a8bd8d7303400d).

[2018-08-07 02:49] GreenGremlin commented on #140
It looks like re-building and re-publishing might fix it.

[2018-08-07 09:59] lipsumar commented on #140
Indeed, if I clone the project and rebuild it then it works. This is pretty annoying. @jdalrymple please rebuild and push updated version 🙏

In the meantime here's what i have:

create a `install-gitlab.sh` file:
[code]

make it executable:
[code]

Add this to your package.json:
[code]

Then change your dependency to your local copy:
[code]

And finally `npm install`

[2018-08-07 13:50] GreenGremlin commented on #140
Or just

[code]

[2018-08-07 15:28] jdalrymple commented on #140
Will do ASAP!! Sorry for all the trouble everyone :(

[2018-08-07 19:46] MrSnoozles opened #141 "List all resource members, including inherited members"
Hello,

as far as I can see ProjectMembers.all() only returns the members added to a project but not all members. The API endpoint for this is /projects/:id/members/all instead of /projects/:id/members. The endpoint is documented here https://docs.gitlab.com/ee/api/members.html#list-all-members-of-a-group-or-project-including-inherited-members

As far as I could see there is no way to retrieve all

[2018-08-07 19:47] jdalrymple commented on #141
Oops! I'll fix this tonight!

[2018-08-07 19:50] MrSnoozles commented on #141
Awesome, thanks for the super quick reply

[2018-08-07 22:26] jdalrymple commented on #141
[code]

Does this work for you :) ?

[2018-08-07 23:57] jdalrymple commented on #140
I broke something. Still looking into it. For what ever reason, the release stage is failing due to a missing module that doesnt seem to be missing on the test or lint stages. https://travis-ci.org/jdalrymple/node-gitlab/jobs/413361700

[2018-08-08 07:02] rohan-deshpande opened #142 "TypeError: Cannot read property 'headers' of undefined at getPaginated"
Error is occurring at `RequestHelper.js:116:44` when attempting the following

[code]

Note that I can access the projects via postman with

[code]

[2018-08-08 08:15] MrSnoozles commented on #141
I'm pretty sure your changes are correct, but it doesn't work for my Gitlab 11.1.2. instance. It seems like this API endpoint is coming in 11.2: https://gitlab.com/gitlab-org/gitlab-ce/commit/046796cc3a98068e99abed152145e76c4636959c

Thank you so much for the quick response. I'm going to report back if it works once the endpoint becomes available :)

[2018-08-08 09:08] NBardelot commented on #140
This issue is blocking, and seems a little harder to fix than expected. Even rolling back to older versions of the 'gitlab' module does not work, because the @babel/runtime dependency is set to use the latest release in your package.json.

Would you please consider forcing the version of @babel/runtime to "7.0.0-beta.55" instead of "^7.0.0-beta.56" on the master? That would give you time to fix th

[2018-08-08 11:49] jdalrymple commented on #140
Yup that seems like a smarter idea. I'll make the change today

[2018-08-08 13:54] jdalrymple commented on #142
hmm, ill look!

[2018-08-08 13:57] jdalrymple commented on #142
What version of the package are you using? And do you have problems running any of the other functions?

[2018-08-08 14:53] jdalrymple commented on #140
Hmm, i reverted it, but travis is still failing. I tried rerunning an old pipeline but it also failed with the same set of errors. I've also reset every babel related package back down to `7.0.0-beta.55` but there wasnt an improvement. Could this be related to npm/ travis in anyway? Sorry for all the hassle!!

[2018-08-08 15:07] jdalrymple commented on #140
Hmm, not really sure why this isnt working. I set all the babel related packages to `7.0.0-beta.55` instead of `^7.0.0-beta.56 `  but travis is still failing with a module not found error.

[code]

Any other suggestions? Sorry for the all the hassle!

[2018-08-08 15:13] jdalrymple commented on #140
May be related to this version of npm/node. Testing with v10.0.0

[2018-08-08 16:02] jdalrymple commented on #140
I've also rerun the same job multiple times and have gotten different errors inconsistently ...

[2018-08-08 16:12] jdalrymple commented on #140
Asking the travis team: https://github.com/travis-ci/travis-ci/issues/9965

[2018-08-08 19:27] damakawa commented on #137
Hello,

I'm trying to use the **next** branch, and I think I've found a few of the hiccups you mentioned.

Npm seems to be importing the module with no problems using the format `"gitlab": "git+https://github.com/jdalrymple/node-gitlab.git#next"` in the package.json dependencies.

However, when trying to import the module into a project file, the IDE isn't finding it in autocomplete, and adding it

[2018-08-08 23:28] rohan-deshpande commented on #142
Ah sorry, `3.7.0`, nothing really seems to work

[2018-08-08 23:37] jdalrymple commented on #142
Hmm thats really odd... Looking!

[2018-08-08 23:37] jdalrymple commented on #142
Could you check if you get the same problem in an earlier version of the package?

[2018-08-08 23:39] rohan-deshpande commented on #142
Can do, let's just make sure this is not a user error first though, are you expecting the `url` prop passed to the constructor to contain the `/api/v4` suffix or are you appending it? I wasn't really clear about this.

[2018-08-08 23:41] jdalrymple commented on #142
I append it internally, the url just need to be the base url, like: https://gitlab.com

[2018-08-08 23:44] rohan-deshpande commented on #142
Heh, okay, it's a certificate issue. I'm behind a proxy.

[2018-08-08 23:46] rohan-deshpande commented on #142
Hmm wonder how I can get around it...

[2018-08-08 23:49] jdalrymple commented on #142
hmm, could it be an issue with the Request module? Can you access the API directly through the Request module ?

[2018-08-08 23:51] rohan-deshpande commented on #142
Do you mean the `RequestHelper` class?

[2018-08-08 23:52] jdalrymple commented on #137
Looks like the latest changes to the master branch havent be cleaned up for TS

[2018-08-08 23:52] jdalrymple commented on #142
Nope, i mean with the Request Library: https://www.npmjs.com/package/request

[2018-08-08 23:53] rohan-deshpande commented on #142
Ah right so you're using this to perform the requests, let me try.

[2018-08-08 23:58] jdalrymple commented on #142
yup! It will help narrow down where the error is coming from

[2018-08-09 00:03] rohan-deshpande commented on #142
Okay yeah, happens there too. I can get around it by passing an option to the call like

[code]

Are all options passed to the constructor passed down to the request call? If so then passing this as an option should just work.

[2018-08-09 00:24] jdalrymple commented on #142
No the options are not passed down :( If there another way around that problem?

[2018-08-09 00:39] rohan-deshpande commented on #142
I don't think so. It's a legit use case imo because in some corporate environments, non standard certs are used or certificates are not managed by the developers themselves making it hard to have any kind of control over them.

[2018-08-09 00:43] jdalrymple commented on #142
Hmm, i agree. How does this flag work with other request modules? For example we use the XMLHttpRequest module as well in this library ? (Eventually to be refactored out to support any request module the user would like #98

[2018-08-09 00:44] rohan-deshpande commented on #142
Any reason why you are using two libraries? Why not just use `node-fetch`?

[2018-08-09 00:54] jdalrymple commented on #142
I started with the Request module because it was one of the most used/well tested request modules i could find. The XML request module was added after to support xhr request for the browser. A better library to upgrade to may be cross-fetch, which handles all of these cases. Before switching the main request library around, id like to do more research to at least try and maintain the same API if p

[2018-08-09 00:54] rohan-deshpande commented on #142
Ah okay makes sense. I think `node-fetch` might be the best option then because the implementation is identical to the browser spec.

[2018-08-09 00:57] jdalrymple commented on #142
Meh, this library was build specifically for node, so whether it maintains adherence to the browser spec is less important. As long as it is consistent s'all good. Another one another contributor suggested was axios?

[2018-08-09 00:58] rohan-deshpande commented on #142
I wouldn't use Axios personally. Fetch is the way forward.

[2018-08-09 07:52] notsentient commented on #140
If you're using yarn you can add a `resolutions` key to your package.json

[code]

[2018-08-09 14:09] NearAutomata commented on #137
I started using this library for my bot which automates certain tasks and since I am using only TypeScript I have created generic "bandaid typings" to get some functions and auto completion at least: https://gist.github.com/NearAutomata/467cc36a92b1e89177ac956d4b04ddbf

As you can see, everything is typed with `...args: any[]` and `Promise<void>` thus far however I started to rewrite those functio

[2018-08-09 15:49] MartinBenninger commented on #142
I think this is actually an issue with the node-gitlab library and not just the request package.

We use this library in the browser with the XMLHttpRequester and we get the same error whenever a request fails.

`TypeError: Cannot read property 'headers' of undefined`

This happens for example when making a request to a repository that the user does not have access to. Previously the real HTTP err

[2018-08-09 17:01] jdalrymple commented on #142
Hmm, alright I'll look into it tonight

On Aug 9, 2018, 11:49 AM, at 11:49 AM, Martin Benninger <notifications@github.com> wrote:

[2018-08-10 16:32] lanaebk commented on #137
Thanks for the suggestion! I'll check it out.

[2018-08-13 02:53] mdsb100 opened #146 "Add CLI functionality"
Hi, I am maintaining [cli-gitlab](https://github.com/mdsb100/cli-gitlab). I want to refactor to upgrade node-gitlab@v3.7.0.

I have an idea to use the decorators to provide CLI, then I don't have to maintain a CLI map. So I plan to fork this project and directly plus a decorators into the service.

If you can accept my pull request, which is to provide CLI in this project, then I don't need to pub

[2018-08-13 14:58] jdalrymple commented on #146
That would be interesting! Adding CLI capabilities would be pretty cool. Could you provide an example of how you could do this with decorators?

[2018-08-13 14:59] jdalrymple commented on #140
Still no suggestions from the travis team. I guess il start stripping the build process to narrow down where the problem may be.

[2018-08-13 15:36] mdsb100 commented on #146
I am coding.
See also https://github.com/mdsb100/node-gitlab, branch is 'cli'

[2018-08-13 19:34] jdalrymple commented on #146
Cool!! Would this need to be changed if the library moved to typescript?

[2018-08-14 00:52] mdsb100 commented on #146
Typescript can use decorators too.The CLI code still be es6 or ts as your want.
If there has a map, The CLI made with map easiler than decoaratora.

About map, I have a idea. Write a script to requeat official document and auto create map.If we do not do this, I think use decorators describe api is a good way.

example:
[code]

[2018-08-14 01:27] jdalrymple commented on #146
Here was the discussion about creating the map #104

[2018-08-14 01:57] mdsb100 commented on #104
There is a compromise solution:
Auto create Users.js (class) by router and create API by decorators. Like Interface-Oriented Programming.

Decorators is readable.

Example:
[code]

[2018-08-14 07:38] MunifTanjim commented on #104
**N.B.**: Decorators proposal is still at Stage 2 (Draft).

[2018-08-14 11:53] Sechgulo commented on #140
Can confirm that forcing the @babel/runtime version to 7.0.0-beta.55 in our own package.json solved it (we're not using Travis in any way).

[2018-08-14 17:40] r00ger commented on #89
@jdalrymple will you please rebase `next` on the latest `master`?

[2018-08-14 17:44] jdalrymple commented on #140
It ended up being caused by the cached npm folder

[2018-08-14 17:45] jdalrymple commented on #140
Does the var @babel/runtime/core-js/object/define-property error persist with the rc1 release of babel?

[2018-08-14 17:48] jdalrymple commented on #142
There are two problems in this issue lol 1. Certificates but @casz has pointed out how to handle that, and 2. The sleep propagating `header not found` errors. This second one im working on now!

[2018-08-14 17:48] jdalrymple commented on #89
Will do today!

[2018-08-15 02:09] mdsb100 commented on #104
This project used babel originally, so there is no problem by using decorator.

[2018-08-15 03:39] mdsb100 commented on #146
#147

[2018-08-15 03:56] jdalrymple commented on #89
Going to close this since there is a dup case

[2018-08-15 03:56] #89 closed

[2018-08-15 04:00] jdalrymple commented on #140
Reopen if its still an issue!! :D

[2018-08-15 04:00] #140 closed

[2018-08-15 04:01] jdalrymple commented on #98
It has been suggested that one of fetch libraries is both node and browser compatible. Thoughts?

[2018-08-15 04:01] #78 closed

[2018-08-15 04:08] jdalrymple commented on #137
Rebased again, might be some more hiccups.

[2018-08-15 08:23] casz opened #154 "node-gitlab creates peer dependency warning"
Depending on node-gitlab creates peer dependency warning

[code]

[2018-08-15 09:57] jdalrymple commented on #142
Pushed up a fix for the headers

[2018-08-15 10:02] jdalrymple commented on #154
Hmm, not sure why this warning would occur though since     "semantic-release": "^15.9.3" is installed and that is within the range thats required.

[2018-08-15 12:30] casz commented on #142
@rohan-deshpande you really ought to handle certs in the way that I suggested above. This other way is just an excuse.
All you have to do is take your company root CA and put it into the pem file.

If you want to include more you simply add them all into one pem file, there is really no excuse to not doing it.

[2018-08-15 12:53] rohan-deshpande commented on #142
Of course I’ve already tried this. The certs are not actually valid. That’s the problem. I don’t think it’s helpful to assume that everything is as it should be in the myriad of corporate mess that others have to deal with.

[2018-08-15 16:14] jdalrymple commented on #142
Although i agree with @casz , I see your point. If the user of the library is ok with ignoring certs that's their business.

[2018-08-15 20:10] rohan-deshpande commented on #142
I agree 100% in principle as well. It’s just that these things aren’t always as they should be.

[2018-08-15 20:46] #142 closed

[2018-08-15 20:57] jdalrymple commented on #142
:tada: This issue has been resolved in version 3.10.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/3.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-08-15 20:58] rohan-deshpande commented on #142
Nice one, thanks.

[2018-08-16 04:09] #154 closed

[2018-08-16 17:57] Mr-Wallet commented on #98
I'm not totally up to speed on that discussion but the main reason we needed XMLHttpRequest (XHR) is that we have a lot of users in professional environments with badly-formed certs and peculiar hipster proxies, neither of which they're totally in control of. The thing is, Chrome and all Electron apps can all use the same settings for certs and proxies, and using XHR in Electron causes it to handl

[2018-08-16 22:56] jdalrymple commented on #98
So a requirement for the changes is either 1. A library that is xhr friendly
2. Full ability to substitute the request library

:)

[2018-08-17 08:25] casz commented on #137
@r00ger I will give it a spin in our botkit solution 😅

[2018-08-17 08:27] r00ger commented on #137
Just to mention, a compiler does not emit type definitions along with js files. At the moment the code is loosely typed, so we don't want to emit loose type definitions.

I'll start working on types once we have typescript in `master`

[2018-08-17 12:15] jdalrymple commented on #98
Ive found these two:

https://github.com/serviejs/popsicle
https://www.npmjs.com/package/xhr-request

Still looking to ensure they have all the necessary functionality

ie.
    headers,
    body,
    qs,
    formData,
    resolveWithFullResponse
   authorization etc

[2018-08-17 12:29] casz commented on #137
@r00ger the package.json index needs to be fixed 😢 Could not find module basically.

[2018-08-17 12:30] r00ger commented on #137
@casz can you elaborate?

[2018-08-17 12:37] casz commented on #137
oh I missed the instruction to run build 😅

[2018-08-18 18:34] jdalrymple commented on #98
We could also internalize this https://github.com/naugtur/xhr

[2018-08-19 15:53] jdalrymple commented on #98
@Mr-Wallet What would be the best way for me to test that it works properly in the browser. It would be a good test to setup in travis for the future.

[2018-08-20 07:02] max-wittig opened #165 "Rate limiting doesn't work anymore"
Looks like node-gitlab no longer obeys the rate-limit, but throws 429 again.

I'm guessing that it broke in https://github.com/jdalrymple/node-gitlab/commit/bc3b366ac69abdab10ed3c002dd07632a7b9a044#diff-6e04893ff7542559430b953f9c1293d0

[2018-08-20 07:57] casz commented on #165
Yes I wondered the same when I saw the commit. Your welcome to open a PR to fix it and then you can also verify it is working

Perhaps a mock test to avoid breaking it again :smile:

[2018-08-20 10:38] max-wittig opened #166 "Support archive/unarchive endpoints"
node-gitlab should provide a way to use the GitLab API to archive and unarchive a project

https://docs.gitlab.com/ce/api/projects.html#archive-a-project

[2018-08-20 14:18] max-wittig opened #167 "Version >= 3.8 crashes with StatusCodeError 400"
Just updated node-gitlab to 3.8 from 3.5.

If node-gitlab >= 3.8 is used my script just crashes. <=3.7 works just fine.

[code]

This is the error message:

[code]

The reason can be found in ResourceMembers.js. Reverting this commit fixes the issue:
https://github.com/jdalrymple/node-gitlab/commit/e081a1629f33e3af172101b94977f281879539c9#diff-379104d7d595f3793c2d7380496cc3c3

I'm not sure how to

[2018-08-20 14:49] casz commented on #167
you don't have to revert you simply have to pass `excludeInherited`
[code]

[2018-08-20 14:55] max-wittig commented on #167
Oh okay. But what does this do? Shouldn't there be a default that doesn't require any parameters?

[2018-08-20 15:05] casz commented on #167
Sadly the change resource members was not considered breaking even though it broke the resulting data.
The default in 3.7 was it COULD only give you project members without inheritance, however now in 3.8 which should have been breaking you can now exclude inherited and the default was considered to be false. So suddenly you get corrupted data if you relied on not getting the inherited permisisons

[2018-08-20 15:09] casz commented on #167
Seems that this API: `GET /projects/:id/members/:user_id`
https://docs.gitlab.com/ee/api/members.html#get-a-member-of-a-group-or-project
conflicts with this: `GET /projects/:id/members/all`
https://docs.gitlab.com/ee/api/members.html#list-all-members-of-a-group-or-project-including-inherited-members

[2018-08-20 15:38] max-wittig commented on #167
@casz GitLab always does that. I've encountered that so many times now. :man_facepalming:
That change would be great!

[2018-08-20 15:40] max-wittig commented on #165
I think it still works, but I've only implemented it for get requests for some reason before in https://github.com/jdalrymple/node-gitlab/commit/9b4625061976505c46bd4cf2cd207cc7c7ab4eb3

[2018-08-20 16:57] jdalrymple commented on #167
I can revert the change, lol i keep trying to stay up to date with the docs :upside_down_face:

[2018-08-20 17:03] jdalrymple commented on #167
Just reverted it! Should be up on npm in a min or so

[2018-08-20 17:03] #167 closed

[2018-08-20 17:05] #166 closed

[2018-08-20 17:06] jdalrymple commented on #165
Not sure how i didnt notice that before smh. Depending on #98 the got library handles retries too!

[2018-08-20 17:15] jdalrymple commented on #166
:tada: This issue has been resolved in version 3.11.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/3.11.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-08-20 18:26] icosamuel commented on #98
@jdalrymple May I suggest testing a few Gitlab endpoints through a popular front-end packager such as `webpack` or `browserify`? If I remember correctly, the problem was with libraries that are exclusive to node such as `fs`.

[2018-08-21 05:38] casz commented on #137
The typescript dist seems to be running fine under nodejs 8 in a botkit environment 👍

[2018-08-21 09:40] r00ger commented on #137
@jdalrymple what is the satisfactory level of testing that allows merging?

[2018-08-21 12:55] jdalrymple commented on #137
All of you have been testing with it more than me, what still needs to be done? :)

[2018-08-21 12:57] r00ger commented on #137
Merge 😀

[2018-08-21 12:57] jdalrymple commented on #98
true, @Mr-Wallet with electron are you using webpack/browserify to package this node package? Creating a test case to ensure that any library changes i make don't mess it up for browser use cases would be very helpful

[2018-08-21 12:58] jdalrymple commented on #137
lol, ill create a beta build today and release it

[2018-08-21 13:10] jdalrymple commented on #137
Done, released as 4.0.0 beta :)

[2018-08-21 13:11] jdalrymple commented on #137
Hopefully no one has issues with that. If nothing major comes up in the next few days, ill merge it into master

[2018-08-21 13:29] icosamuel commented on #98
If I understand correctly, you would have to run your code in a browser instead of node. Maybe some headless browser testing framework like `phantomjs` would help?

[2018-08-21 18:02] casz commented on #137
I'll give it a spin again :blush:

[2018-08-22 14:39] jdalrymple commented on #98
Yup! I want to write a test to ensure browser compatibility is maintained. So that would include running a test script that used webpack/browserify, and a headless browser situation i think. Any guidance here would be appreciated.

At least this way when we do update the request libraries, it wont break for anyone using it within the browser.

[2018-08-22 16:30] Mr-Wallet commented on #98
I also don't have much expertise in this area, so I'm going to ask my co-worker @implausible, who has done more research on this kind of testing, to chime in.

[2018-08-22 18:01] implausible commented on #98
I think you're on track with webpack/browserify + a headless browser. I just recently did this for one of our websites. What I ended up doing was implementing a custom reporter (socket client) in mocha which forwarded test data over a socket back to a test driver (socket server). The socket server pretty much just spits out whatever the results of the tests are the same way that the usual mocha re

[2018-08-24 20:07] johnking opened #172 "Usage document needed."
Hi @jdalrymple ,

first of all, thanks a lot for the package.

As a new user, I found it bit of challenge to use the library, for example,

1. Based on the example code in README.md, by calling `api.projects.all()` always get a `{"statusCode":500,"error":"Internal Server Error","message":"An internal server error occurred"}`, until I added some query parameters like  `api.projects.all({membership:

[2018-08-24 21:50] johnking commented on #172
By referring to the source code, I can understand the usages now.

thanks anyway.

[2018-08-24 22:26] jdalrymple commented on #172
Hey @johnking ! We definitely need some form of documentation, its something weve been thinking about for a while and is being discussed in #39. As for the troubles you where having, the all function should work without parameters so I'm unsure as to why you got an error 500 :s. The options however that you can pass into the all function are any options that gitlab supports for the projects/ endpo

[2018-08-24 22:42] dotWee opened #173 "Remove token-requirement on APIs that work without authentication"
Some of the APIs GitLab provides are usable without a user generated token, like the `/users/:user_id/projects` path ([reference](https://docs.gitlab.com/ee/api/projects.html#list-user-projects)):

It would be awesome to use those without getting an _token is mandatory_ error!

[2018-08-24 22:45] jdalrymple commented on #173
For the time being, I could remove the requirement for a token and anything that does require a token would just error out :s not the most elegant solution but until we add the proposed mapping, it would be a waste of time to implement throughout all the services.

[2018-08-25 00:32] dotWee commented on #173
Please correct me if I'm wrong, but wouldn't _error'ing out_ result in just like any request with an invalid token? aka. the implemented `StatusCodeError: 401 Unauthorized`
Anyway, an implementation after #104 seems reasonable.

[2018-08-25 00:33] jdalrymple commented on #173
Yup! Which is still pretty clear of a message. Ill make a PR this weekend.

[2018-08-25 01:51] johnking commented on #172
Hi @jdalrymple , thanks for your reply. For the `500 errors`, I were also puzzled since the code were so simple, ( a few lines only), I tried both oauthToken and personal token, all gave me `500 error` unless I specify some queries.

I think it might be due to the large amount of records returned or the timeout settings.

[2018-08-26 08:56] mingyuan-xia commented on #172
Some very basic examples would get ppl a quick start.

[2018-08-26 08:57] casz commented on #172
Think typescript types will help too which will be worked on once `next` branch is merged into master 👍

[2018-08-28 00:50] jdalrymple commented on #137
Doesnt seem like anyones had any serious issues. Any objects to merging this in within the next few days?

[2018-08-28 01:33] #165 closed

[2018-08-28 01:45] jdalrymple commented on #165
:tada: This issue has been resolved in version 3.11.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/3.11.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-08-28 02:16] jdalrymple commented on #137
Updated the branch with the latest additions and published under 4.0.0-rc.1

[2018-08-28 19:08] johannessteu commented on #172
Just used this package for the first time. No 500er for me at all so far!

[2018-08-30 03:01] CWSpear commented on #137
@jdalrymple it appears as though when you published `4.0.0-rc.1`, you didn't publish the types.

[2018-08-30 04:07] jdalrymple commented on #137
Oops!! Il fix that asap

[2018-08-30 04:27] jdalrymple commented on #137
I publish the whole dist folder, but for some reason the types file gets transpiled oddly

[code]

[code]

[2018-08-30 06:03] r00ger commented on #137
As I said, [above](https://github.com/jdalrymple/node-gitlab/issues/137#issuecomment-413795348)

[2018-08-30 21:34] jmls opened #180 "Add support to login using username / password to generate access tokens"
I was wanting to use this library as a middleware for linking my app with gitlab.

Looking at the code, there seems to be no "connection" made, just setting up the token etc

What I am slightly confused about is that there seems to be no api to "login" as such - it assumes that the token is known.

How can I supply my users with a login "form" (username / password) and log into gitlab initially, i

[2018-08-31 12:08] jdalrymple commented on #180
Hmm, i think the gitlab api did have a session API at one point, but they deprecated it. So, im not really sure off the top of my head. You could make calls to the website which would provide you wish a session token and use that token in the API i *think*, though ive never tried,

[2018-08-31 14:20] underdoeg opened #182 "Add markdown support"
since version 11 the gitlab api is able to render markdown on the server https://docs.gitlab.com/ee/api/markdown.html

[2018-09-03 10:05] max-wittig commented on #141
@jdalrymple I guess we can add this feature again, but I would vote to fall back to the old behavior in-case where the endpoint doesn't exist.

[2018-09-03 15:29] r00ger commented on #137
Hi there!

@jdalrymple did you get more feedback about rc release? What do you think of merge at this point?

[2018-09-04 02:14] jdalrymple commented on #137
Nothing negative yet! Merge should be good now.

[2018-09-04 02:17] jdalrymple commented on #141
Hmm, its supported in the latest Gitlab version right? For older behaviour wouldnt using an older version of the package make more sense. Ill finish up merging the typescript changes and then add this change as a breaking change. At least that way it will be obvious in the changelog

[2018-09-04 05:09] max-wittig commented on #141
@jdalrymple Maybe a hint in the README would also be useful, that it only supports 11.2 and up.

[2018-09-04 06:28] MrSnoozles commented on #141
I would probably keep things backwards compatible and give an option to
`IncludeInherited` instead of excluding them. That way it would still work
for old versions of the API. Kind of makes sense too, because it's closer
to Gitlabs behaviour (/members Vs explicitly calling /members/all)

Max Wittig <notifications@github.com> schrieb am Di., 4. Sep. 2018, 07:09:

[2018-09-04 10:57] trexguo opened #184 "Request URL got modified unexpectedly when using the projects API"
Hi, I am using the latest version of the package with Koa on Node 8.11. I got this strange error when trying to call the _Projects_ API

[code]

As you can see the URL was duplicated for some reasons:

Could you have a look at this? THX

[2018-09-04 12:25] jdalrymple commented on #141
@casz Its definitely semantic if i release a major version, though its a little extreme for this addition lol. Sounds good though, ill change it to be inclusive as opposed to exclusive!

[2018-09-04 12:30] casz commented on #141
Well when I updated you broke my project overview, and I had to either revert or fall in line and the release you did earlier did not show it as breaking.

This commit should have been marked breaking in my honest opinion, since it broke my project overview (that depended no inheritance), cause it broke the previous default behavior and also did not exist in the current API (but that was more of a

[2018-09-04 12:32] trexguo commented on #184
config.gitlab.url = "https://git.mydomain.com"
No. I have tested the _Users.current()_ and _Issues.all()_ endpoints as I need them in my app. There is no problem in them.

[2018-09-04 12:37] casz commented on #184
I am using the Projects.all with no trouble.

[2018-09-04 13:14] jdalrymple commented on #184
Thats really odd. Can you try printing this:

[code]

What are the properties of the Projects?

[2018-09-04 13:16] jdalrymple commented on #141
Yea i messed it up when i first did it! I would do it properly for the next time.

[2018-09-04 13:17] trexguo commented on #184
[code]

[2018-09-04 13:26] trexguo commented on #184
![20180904212602](https://user-images.githubusercontent.com/5989880/45034141-315d3400-b089-11e8-8536-ced8a2612803.png)

[2018-09-04 13:28] trexguo commented on #184
![image](https://user-images.githubusercontent.com/5989880/45034230-741f0c00-b089-11e8-8195-8e2e62e4ac8c.png)

[2018-09-04 14:30] jdalrymple commented on #184
I see it!

[2018-09-04 14:32] jdalrymple commented on #184
So when it does the pagination, it attempts to fix this problem by replacing the duplication with an empty string since the url and the domain are passed in as two different arguments. The problem here is that the pagination url is coming back as http and not https which results in the regex not matching the strings.

change config.gitlab.url to be `http://git.mydomain.com` and it should work!

[2018-09-04 18:01] r00ger commented on #137
@jdalrymple sooooo 🤔

[2018-09-04 18:02] jdalrymple commented on #137
lol I still need to resolve the conflicts in the PR

[2018-09-05 09:26] #184 closed

[2018-09-05 15:30] casz commented on #137
Now let the type definitions race begin 💪

[2018-09-05 16:41] jdalrymple commented on #137
Released to npm!

[2018-09-06 01:38] mdsb100 commented on #146
what is going on?

[2018-09-06 01:46] jdalrymple commented on #146
I reopened this as to not forget about adding these changes :)

[2018-09-06 09:36] NearAutomata commented on #137
Regarding the types I will mention something rather obvious that I'd appreciate nonetheless. It'd be nice if you prioritise the typings of more common classes/APIs such as Project, User, MergeRequest and Issue first.

The initial typings before my adjustments I linked in my [previous comment](https://github.com/jdalrymple/node-gitlab/issues/137#issuecomment-411771028) we're created with the [dts-g

[2018-09-08 07:04] jmls commented on #180
I have found this

https://docs.gitlab.com/ce/api/oauth2.html#resource-owner-password-credentials

I have tried using curl, and that does return an `access_token`

Is there a call in node-gitlab that calls this api ?

thanks

[2018-09-08 11:40] casz commented on #180
Actually you can see how it can be done here:
They allow username password but then create a API token for it self.
https://github.com/rgl/gitlab-source-link-proxy

[2018-09-09 15:09] jdalrymple commented on #180
@jmls Not yet! but we can add that ability soon. @casz Thanks for the reference!

[2018-09-10 10:44] marco-silva0000 commented on #180
would it be viable to use ssh keys for authentication? I don't think this library supports that, but I would like to use the team members already generated ssh keys to automate some behaviour that uses gitlab authentication
https://github.com/bufferoverflow/verdaccio-gitlab/issues/51

[2018-09-10 11:17] casz commented on #180
ssh keys cannot be used from API nor website as authentication. This is a limitation from Gitlab. That is likely to never change, ever.

[2018-09-11 00:12] valentineus opened #186 "Update the user profile API"
Greetings and thank you for the excellent library!

I'm confused. I need to update the profile fields and I do not understand how I can do this.

The [documentation says](https://github.com/gitlabhq/gitlabhq/blob/master/doc/api/users.md#user-modification) that there is such an opportunity.
I have experienced [all the visible methods](https://github.com/jdalrymple/node-gitlab/blob/master/src/servic

[2018-09-11 00:50] jdalrymple commented on #186
It looks like we are missing the edit function!! It will be added soon!

[2018-09-14 16:39] yonguelink opened #188 "`stream` option is lost in any `get` request that is streamable"
We detected the issue when using `v3.11.4`, but I could reproduce it on the latest release (`v4.0.1`).

We're simply calling `downloadSingleArtifactFile` as we implemented it (few months back) with the project ID, the job Id, the artifact to download and the options `{ stream: true}`, but we do not receive a stream. The result is the content of the artifact we wanted to download.

After tracing a

[2018-09-14 16:44] jdalrymple commented on #188
Thank you for such an in depth investigation! I can try an add that fix this weekend and see if that solves the problem!

[2018-09-14 17:27] yonguelink commented on #188
I did test locally (by modifying the compiled version) and it worked like a charm. It should do the trick!

[2018-09-18 21:12] jdalrymple commented on #172
Just going to reference this in the documentation issue and close this!

[2018-09-18 21:12] #172 closed

[2018-09-18 22:42] #188 closed

[2018-09-18 22:42] #182 closed

[2018-09-18 22:42] #141 closed

[2018-09-18 22:53] #186 closed

[2018-09-19 01:18] jdalrymple commented on #188
:tada: This issue has been resolved in version 4.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/4.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-19 01:18] jdalrymple commented on #141
:tada: This issue has been resolved in version 4.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/4.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-19 21:03] greenkeeper[bot] opened #196 "An in-range update of ts-jest is breaking the build 🚨"
## The devDependency [ts-jest](https://github.com/kulshekhar/ts-jest) was updated from `23.1.4` to `23.10.0`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Fts-jest-23.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ts-jest is a devDependency of this proj

[2018-09-20 20:10] jdalrymple commented on #196
Reran tests and it passed

[2018-09-20 20:10] #196 closed

[2018-09-20 21:39] greenkeeper[bot] opened #197 "An in-range update of ts-jest is breaking the build 🚨"
## The devDependency [ts-jest](https://github.com/kulshekhar/ts-jest) was updated from `23.10.0` to `23.10.1`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Fts-jest-23.10.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ts-jest is a devDependency of this pro

[2018-09-24 14:40] sambunting opened #199 "Get the current authenticated user"
Hi,

I'm having trouble trying to get myself when using the `Users` endpoint.

If I was to use `git.Users()`, I would get an error saying `git.Users is not a function`, and adding an empty object to all making it `git.Users.all({})` results in it still printing out everyone instead of just me.

Is there something I'm missing here? I can't seem to figure out how I can get information like the authe

[2018-09-24 15:09] anirbanctts opened #200 "Not able to save image from buffer"
Was using octonode for github before, after moving to gitlab library not able to save image buffer with createfile method. please help

[2018-09-25 22:03] jdalrymple commented on #200
Hi! I can try :),

What exactly are you trying to do?
Save an image buffer from where?
Which functions were you trying to use?

[2018-09-25 22:14] #197 closed

[2018-09-25 22:19] jdalrymple commented on #137
Should this issue remain open for future types discussion? Or would it make more sense to have follow up issues for those things?

[2018-09-25 22:20] jdalrymple commented on #132
So even looking at the status', it still isnt completely up:

Here is the first response to return back 200. Notice how all the status' are OK
{"db_check":{"status":"ok"},"redis_check":{"status":"ok"},"cache_check":{"status":"ok"},"queues_check":{"status":"ok"},"shared_state_check":{"status":"ok"},"fs_shards_check":{"status":"ok","labels":{"shard":"default"}},"gitaly_check":{"status":"ok","labels"

[2018-09-26 08:18] anirbanctts commented on #200
I am posting an image blob from a client. I received the blob and converted
into base 64 Buffer.
Now I am calling create method with encoding 'base64'.

On Wed, Sep 26, 2018 at 3:33 AM jdalrymple <notifications@github.com> wrote:

--
Cheers.......................
Anirban Biswas

"The best way to predict our future is to build it ourselves"

[2018-09-26 15:45] anirbanctts opened #202 "Need example of create/update a file/branch/repo with v4 API (V3 working for me)"
Hi,
Can someone please share example of get/create/update a file/branch/repo with v4 API (V3 working for me) using "gitlab" package?
V3 usage
---------
[code]
Need assistance with v4 example

Basic reading repo and branches working fine
[code]
But getting files list in a path, getting specific file method calls I am not able to figure out

# Install from npm
npm install gitlab
required version: la

[2018-09-26 16:49] defenestration opened #203 "Gitlab API `Sudo` Support"
I was looking at checking if a user has access to a project, i found a sudo command documented in the api ( https://docs.gitlab.com/ee/api/#sudo ).  I'm unable to tell if this is implemented in this project though.

I think I can create an impersonation token and create a new instance of the api with that, but sudo seems like it would be the better option since it wouldn't have to create/remove to

[2018-09-26 18:17] greenkeeper[bot] opened #204 "An in-range update of ts-jest is breaking the build 🚨"
## The devDependency [ts-jest](https://github.com/kulshekhar/ts-jest) was updated from `23.10.1` to `23.10.2`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Fts-jest-23.10.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ts-jest is a devDependency of this pro

[2018-09-26 18:58] jdalrymple commented on #202
The main difference in v3 to v4 is the breakdown of the APIs has been changed to match Gitlabs docs

[code]

[2018-09-26 19:05] jdalrymple commented on #200
You want, client.RepositoryFiles.create(projectId, filePath, branch, { content , other options } )

Ill be fixing this soon since content is required to be:|
client.RepositoryFiles.create(projectId, filePath, branch, content, { other options })

[2018-09-26 19:26] defenestration commented on #203
It looks like you can pass it as a header in the request, the example they give is:

`curl --header "Private-Token: 9koXpg98eAheJpvBs5tK" --header "Sudo: username" "https://gitlab.example.com/api/v4/projects"
`

[2018-09-26 19:35] defenestration commented on #203
I was able to confirm this will work with a post request, the following opens the issue under the 'notme' user:

`curl --header "Content-Type: application/json" --header "Private-Token: XYZ" --header "Sudo: notme" "https://git.site.com/api/v4/projects/6/issues" -d '{ "title": "testissue" }'`

[2018-09-26 19:45] anirbanctts commented on #202
I think I got the hang of it. Thanks a ton

[2018-09-26 19:45] #202 closed

[2018-09-26 19:45] anirbanctts commented on #200
Will try and let you know

[2018-09-26 23:50] jdalrymple commented on #203
We could add it as an option on initatiation such that its passed on the header:

[code]

[2018-09-27 07:56] anirbanctts commented on #200
Getting: StatusCodeError: 400 - {"error":"content is invalid"}
using
'''
client.RepositoryFiles.create(projectid, path, branch, {content: content, encoding: 'base64', commit_message: message}).then(callback);
'''
Please suggest

[2018-09-27 18:27] defenestration commented on #203
Yeah that would work out fine. Either that or a way to pass it dynamically on an existing object, but that would probably be more annoying to implement.

[2018-09-27 18:39] jdalrymple commented on #203
Do you think dynamically passing it would be used more often ? Yea it would be a pain to implement, but if it's a more frequent use case, we can put in the time.

On Sep 27, 2018, 2:27 PM, at 2:27 PM, Alan B <notifications@github.com> wrote:

[2018-09-28 03:50] defenestration commented on #203
I can't say that it would for sure, but I am probably not the best person
to ask . I think the method you suggested will be fine though.

On Thu, Sep 27, 2018 at 2:39 PM jdalrymple <notifications@github.com> wrote:

[2018-09-28 05:58] anirbanctts commented on #200
Can you please look into this?

[2018-09-28 06:18] anirbanctts opened #205 "Creating png file from buffer | content is invalid"
Getting: StatusCodeError: 400 - {"error":"content is invalid"}
using
[code]
When buffer was printed in console - ```<Buffer 89 50 4e 47 0d 0a 1a 0a 00 00 00 0d 49 48 44 52 00 00 05 01 00 00 03 0f 08 06 00 00 00 65 a0 13 26 00 00 20 00 49 44 41 54 78 5e ec dd 09 dc 95 73 fe ... >```

Please suggest

buffer was created with....
At Client
---------
[code]

At Server
------------
[code]

_Originally p

[2018-10-01 18:02] jdalrymple commented on #203
## Proposal:

Add sudo option to the constructor of a Service. If this option is present, add the sudo header such that all calls made with the service instance contain this header.

[2018-10-01 18:03] jdalrymple commented on #199
Closing this for now! If there are any more problem feel free to comment!

[2018-10-01 18:03] #199 closed

[2018-10-01 18:04] jdalrymple commented on #137
Closing for now!

[2018-10-01 18:04] #137 closed

[2018-10-02 16:43] simonmeusel opened #207 "@types/gitlab outdated"
## Description
The typings for node-gitlab https://www.npmjs.com/package/@types/gitlab are very very old

## Possible fixes
* Remove the typings
* Update the typings

[2018-10-03 05:42] anirbanctts commented on #205
Hi, Any update?

[2018-10-03 11:47] r00ger commented on #207
I'm in a process of adding types https://github.com/jdalrymple/node-gitlab/pull/185

[2018-10-03 12:31] jdalrymple commented on #207
It isnt unfortunately :(. I dont see why we could make a PR though!

[2018-10-03 12:41] simonmeusel commented on #207
https://github.com/DefinitelyTyped/DefinitelyTyped#removing-a-package

[2018-10-03 12:43] simonmeusel commented on #207
I think we should create a PR when #185 is done

[2018-10-06 15:18] greenkeeper[bot] opened #209 "An in-range update of ts-jest is breaking the build 🚨"
## The devDependency [ts-jest](https://github.com/kulshekhar/ts-jest) was updated from `23.10.3` to `23.10.4`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Fts-jest-23.10.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ts-jest is a devDependency of this pro

[2018-10-07 07:02] anirbanctts commented on #205
Let me know when you can, still waiting for the resolution. Have only few days left for going live

[2018-10-09 22:40] jdalrymple commented on #205
So ive tested this code with text content and it seems to work. It only fails when i test with base64 data. Im going to keep testing and see what i can come up with.

[2018-10-09 22:46] jdalrymple commented on #205
Here got it to work, just needed to encode my image properly:

[code]

[2018-10-09 23:05] jdalrymple commented on #209
Handling this in PR https://github.com/jdalrymple/node-gitlab/pull/211

[2018-10-09 23:05] #209 closed

[2018-10-10 00:31] jdalrymple opened #212 "Remove ignoreCodes from the jest.config"
## Description
While updating to use ts-jest 23.10.0, may new errors were now thrown in the testing process. To get by, these errors have been ignored but should be fixed to take full advantage of typescripts abilities.

## Proposal
1. Update the Test cases and the src code to include the correct typings
2. Remove the ignoreCodes from the jest.config

[2018-10-10 01:37] casz commented on #205
Perhaps make it a unit test and provide the example in readme? 😇 🙌

[2018-10-10 01:47] #203 closed

[2018-10-10 10:11] anirbanctts commented on #205
Thanks a lot. Closing the issue. will try to add to the documentation

[2018-10-10 10:11] #205 closed

[2018-10-12 15:24] #180 closed

[2018-10-12 15:45] jdalrymple opened #213 "Decrease dist size"
## Description
The distribution size of this package is much larger than it needs to be. One way to decrease this is to not publish all the files, combine all files into one exported js file and compressing that file. Though these would make reading the package from the node modules less readable, generally you wouldn't be reading through the node modules.

[2018-10-15 15:34] frontlove opened #218 "Do you have Gitlab create project API ？"
## Description
I want to create project in Gitlab. Do you have Gitlab create project API?

[2018-10-15 15:37] casz commented on #218
If you bothered looks at the example or source code you had your answer:
https://github.com/jdalrymple/node-gitlab#examples
https://github.com/jdalrymple/node-gitlab/blob/master/src/services/Projects.ts#L17

[2018-10-15 15:40] jdalrymple commented on #218
Yup! See the above links @casz Thanks!

[2018-10-15 15:40] #218 closed

[2018-10-16 02:16] frontlove commented on #218
Thank you very much!

[2018-10-17 09:44] Musinux opened #219 "Global NotificationSettings not working"
## Description
calling NotificationSettings.edit or .all does not work on global settings because of [NotificationSettings.ts#L54](https://github.com/jdalrymple/node-gitlab/blob/master/src/services/NotificationSettings.ts#L54)

## Steps to reproduce
[code]
## Expected behaviour
global NotificationSettings should be updated

## Actual behaviour
Error because the url is not set properly
[code]
the u

[2018-10-17 17:56] #219 closed

[2018-10-22 21:36] greenkeeper[bot] opened #224 "An in-range update of @types/jest is breaking the build 🚨"
## The devDependency [@types/jest](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `23.3.6` to `23.3.7`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2F%40types%2Fjest-23.3.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/jest is a

[2018-10-27 14:28] greenkeeper[bot] opened #226 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `15.10.5` to `15.10.6`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Fsemantic-release-15.10.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

seman

[2018-10-30 13:58] maximilian-krauss opened #229 "Missing slash in MergeRequest approval/approvers results in 404 error"
## Description
When I try to use `MergeRequests.editApprovals` and `MergeRequests.editApprovers`it fails with an HTTP 404 because of an missing slash between the merge request id and the aprroval/approvers command:

*Actual*: `/api/v4/projects/688/merge_requests/32approvals`
*Expected:* `/api/v4/projects/688/merge_requests/32/approvals`

## Steps to reproduce
[code]

## Expected behaviour
It works

[2018-10-30 17:01] #229 closed

[2018-11-02 01:41] greenkeeper[bot] opened #231 "An in-range update of husky is breaking the build 🚨"
## The devDependency [husky](https://github.com/typicode/husky) was updated from `1.1.2` to `1.1.3`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Fhusky-1.1.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

husky is a devDependency of this project. It **might

[2018-11-03 00:17] #231 closed

[2018-11-03 00:17] #226 closed

[2018-11-03 00:18] #224 closed

[2018-11-03 01:02] jdalrymple commented on #207
#185 Has been merged! :D

[2018-11-03 10:36] simonmeusel commented on #207
Ok, I'm going to create a PR at https://github.com/DefinitelyTyped/DefinitelyTyped

[2018-11-03 11:12] simonmeusel commented on #207
See https://github.com/DefinitelyTyped/DefinitelyTyped/pull/30249

[2018-11-10 09:15] FCHAPLIN opened #233 "Can't get commits list from project"
## Description
Can't get single project
Can't get commit lists from project.

## Steps to reproduce

The only way I could get a project object is this :
[code]
Is there a better way ?

Then I try to get the list of commits on develop:
(https://github.com/jdalrymple/node-gitlab/issues/36 solution is not working for me...)
[code]
The official gitlab api documentation says :
`GET /projects/:id/reposi

[2018-11-11 01:18] jdalrymple commented on #233
I'll fix the pagination problems ASAP!

[2018-11-11 01:36] jdalrymple commented on #233
Related #225. Will be fixed in the next release!

[2018-11-11 01:36] #233 closed

[2018-11-15 17:26] Mr-Wallet opened #234 "XMLHttpRequester is deleting resources on a GET"
XMLHttpRequester's `get` method is running a `del` on the internal XHR implementation. This was introduced in commit [ffad9a3](https://github.com/jdalrymple/node-gitlab/commit/ffad9a34dae5e9ffb19f97666e5653ded7e28551#diff-576e56cbae02978fa2d8246b029c2075R45)

[2018-11-16 01:34] #234 closed

[2018-11-16 01:34] jdalrymple commented on #98
released in the next tag on npm!

[2018-11-16 01:34] #98 closed

[2018-11-20 20:51] simonmeusel commented on #207
Typings are now removed

[2018-11-20 20:51] #207 closed

[2018-11-21 05:30] casz commented on #207
@simonmeusel thanks 🙌

[2018-11-21 09:16] sathik-basha opened #236 "Maintain logs for each API"
## Maintaining API logs.
 Automatically create day name structured file ex: (jan-23.txt)
 File contents are
--->
6:33 https://gitlab.com/api/v4/projects/
7:15 https://gitlab.com/api/v4/projects/123/members

cc : @jdalrymple

[2018-11-21 15:43] jdalrymple commented on #236
Can you please fill out the template above as best as you can. This will help in understanding what exactly you are proposing

[2018-11-23 14:13] demetriusnunes opened #238 "showPagination documentation is innacurate"
**Description**

`let { data, pagination } = await api.Projects.all({ perPage:40, maxPages:2, showPagination: true });`

The `showPagination` option only works if you specify the `page` parameter as well. Otherwise, is ignored.

[2018-11-23 15:10] jdalrymple commented on #238
yup Ill update the docs. Pagination only works when you specify a page, otherwise it will not paginate and return **all** the results. Does that make sense? Maybe I should return pagination information if you specify maxPages since its less pages then the possible total about of pages

[2018-11-24 15:40] saurabhgupta2u opened #239 "Unable to import module"
---

**Description**

I'm trying to use this library in a React app to query data from my company's self hosted gitlab instance. However, after installing the library (npm install gitlab), I get an error when I try to import it.

node version: 8.13.0
npm version: 4.6.1
OS: Windows 10

**Steps to reproduce**
import Gitlab from "gitlab";

**Expected behaviour**

It should import without errors.

**A

[2018-11-25 22:11] r9nick opened #240 "Project Variables cannot be fetched"
**Description**
When trying to use the `api.ProjectVariables.show(56, 'SSH_PRIVATE_KEY')` it does not work and produces `projects/56/null/SSH_PRIVATE_KEY/variables/undefined` as a URL.

**Steps to reproduce**
You can see log the `endpoint` parameter from RequestHelper when you call ProjectVariables.show

**Expected behaviour**
Should produce the endpoint URL `projects/56/variables/SSH_PRIVATE_KEY/

[2018-11-25 22:13] jdalrymple commented on #240
Perfect! Ill apply this fix to the master branch for the time being and ensure the problem doesnt exist in the new version :) Thank you for finding this!

[2018-11-25 22:15] jdalrymple commented on #239
Hmm not sure, perhaps the utils library isnt being imported correctly inside the XMLHttpRequester.js file. Ill look into it :)

[2018-11-26 16:53] hsablonniere commented on #61
Hey @jdalrymple ;-)

In 4.2.2, the `action` and `target` are still required:
https://github.com/jdalrymple/node-gitlab/blob/4.2.2/src/services/Events.ts#L32-L36

I would like to list all events with `after` and `before` but without any types...

[2018-11-26 18:22] jdalrymple commented on #61
Oh man, sorry :( Ill look soon

[2018-11-26 18:50] jdalrymple commented on #61
Just released to npm and the next build!

[2018-11-26 18:50] #61 closed

[2018-11-26 19:46] jdalrymple commented on #61
Oops! One moment!

[2018-11-26 20:31] jdalrymple commented on #238
So ill change it such that if you specify the maxPages or a singular page, then you can see the pagination information. Otherwise its not really helpful since youll be getting back all the results.

[2018-11-26 20:35] jdalrymple commented on #240
:tada: This issue has been resolved in version 4.2.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/4.2.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-26 20:41] jdalrymple commented on #238
Just pushed up this change!

[2018-11-26 20:41] #238 closed

[2018-11-26 20:44] r9nick commented on #240
You have missed something ;)

I commented on the commit: https://github.com/jdalrymple/node-gitlab/commit/28b28cf

[2018-11-27 00:16] r9nick commented on #240
Can confirm it's fixed now.

[2018-11-27 03:42] sathik-basha commented on #236
@jdalrymple  Sounds great

[2018-11-27 09:40] AlexTugarev opened #242 "[typescript] types.d.ts is incomplete"
Just trying to use `gitlab@next` in a typescript project. The shipped type definitions seems to be incomplete.

# How to reproduce

Try to create an API object as described in the README.md, and see `tsc` telling you about nonexistent exports.

[2018-11-27 14:30] jdalrymple commented on #242
Yup! Working on this in in #216

[2018-11-27 14:30] #242 closed

[2018-11-27 16:04] r00ger commented on #239
@saurabhgupta2u  What is the version of `gitlab` you have installed?

[2018-11-27 16:15] r00ger commented on #239
Oh, wait a second. The library is not supposed to be used in browser in the first place. For example, there are file operation performed in `/src/services/Projects.ts` which won't work in browser. However, it would be nice to limited support for browser usage.

@jdalrymple perhaps, another issue should be created. We should separate envs, narrow usage of node-specific API and gracefully fail on no

[2018-11-27 17:32] jdalrymple commented on #239
@r00ger I've removed the problematic functions in v5. @saurabhgupta2u Are you just looking for browser support or Xhr support? If its the fomer, perhaps test out the next release which has a browser friendly version of the library using the ky library instead of got.

[2018-12-06 16:12] tblaisot opened #245 "Export the typescript definitions"
**Description**
Actually there a npm package @types/gitlab saying:
"Stub TypeScript definitions entry dor gitlab, which provides its own types definitions"
But... the is not exported .d.ts in the  gitlab package on npm.
As the project itself is written in typescript it should not be hard to export definitions.

**Proposal**
Please generate and include the .d.ts files in the npm release and add "ty

[2018-12-06 16:18] casz commented on #245
@tblaisot see https://github.com/jdalrymple/node-gitlab/pull/216

[2018-12-06 16:25] tblaisot commented on #245
Thanks @casz , I hadn't search in PR for this change, I should have :)
Hope it will land soon !

[2018-12-06 16:25] #245 closed

[2018-12-06 16:43] casz commented on #245
You can always use `npm install -S gitlab@next` to test it 😅

[2018-12-06 18:12] tblaisot commented on #245
I just done that.
Work well for my need but i am a little desapointed that there is no typing
for api return objects...
Typing it via interfaces would be more user friendly :-)

Le jeu. 6 déc. 2018 à 17:44, Joseph Petersen <notifications@github.com> a
écrit :

[2018-12-06 18:21] jdalrymple commented on #245
Working on it lol

[2018-12-06 18:40] casz commented on #245
The intention is to add return types, your welcome to contribute 😅

[2018-12-11 00:16] jennparise opened #246 "add Group update capability"
**Description**
I am not seeing the ability to update a group only create
**Proposal**
  edit(groupId: GroupId, options: RequestOptions) {
    const gId = encodeURIComponent(groupId);
    return RequestHelper.put(this, `groups/${gId}`, options);
  }

[2018-12-11 00:18] jdalrymple commented on #246
Must of missed that one lol will add ASAP, probably in the next branch

[2018-12-11 01:40] jennparise opened #247 "Groups LDAP group link"
---

**Description**
add ldap group link functionality
**Proposal**
in Groups:
    ldap_group_link(groupId, options){
        const gId = encodeURIComponent(groupId);
        return infrastructure_1.RequestHelper.post(this, `groups/${gId}/ldap_group_links`, options);
    }

  ldap_group_link(groupId: GroupId, options: RequestOptions) {
    const gId = encodeURIComponent(groupId);

    return Reque

[2018-12-11 02:03] jdalrymple commented on #246
Added to the next branch! Give the last couple commits a look to make sure i didnt miss anything :)

[2018-12-11 02:03] #246 closed

[2018-12-11 02:03] jdalrymple commented on #247
Added to the next branch! Give the last couple commits a look to make sure i didnt miss anything :)

[2018-12-11 02:03] #247 closed

[2018-12-11 02:15] jdalrymple commented on #247
Deployed in the next release on npm !

[2018-12-11 02:16] jdalrymple commented on #246
Deployed in the next release on npm !

[2018-12-19 21:59] Charuru opened #249 "Making a commit 400 actions is invalid"
I'm trying to make a commit and I get:

[code]

What am I doing wrong?

[2018-12-20 00:54] Charuru commented on #249
Oh I get it the action needs to be an argument. zzz

[2018-12-20 00:54] #249 closed

[2019-01-04 16:21] MrCheater opened #254 "Pipeline.create not work with .variables"
**Description**
version: "5.0.0-rc.7"

[code]

Error:

[code]

**Possible fixes**
Maybe error in https://github.com/jdalrymple/node-gitlab/blob/next/src/infrastructure/RequestHelper.ts#L21

Maybe i have a bad "variables" format

**My workaround**
[code]

[2019-01-09 22:32] jdalrymple commented on #254
Should be available in the latest next relese

[2019-01-23 16:18] timaschew opened #256 "Can't use merge_when_pipeline_succeeds"
**Description**
Can't pass options when creating a merge request.
(Creating the merge request itself does work!)

[code]

I also tried already using `-` instead of `_`, like the python API is using but that didn't work as well.

**Steps to reproduce**
using `gitlabApi.MergeRequests.create` with the two options above.

I'm using a self hosted GitLab, version 11.6.3 (bc9391c), API v4

**Expected beh

[2019-01-23 16:20] jdalrymple commented on #256
Hey! I think this came up in the past hmm. Which version of the library are you using?

[2019-01-23 20:03] timaschew commented on #256
Installed it today, it's 4.3.0

[2019-01-24 06:06] timaschew commented on #256
You mean checking version 5.0.0-rc.8?

[2019-01-24 06:38] casz commented on #256
Next is also a tag in npm for the latest version which I guess is rc 8 😊

[2019-01-24 08:18] timaschew commented on #256
[code]
Result: `... 928 more items ]`

In version 5 I cannot use `gitlab = require('gitlab').default` anymore, even without `.default`, so I switched to `ProjectsBundle`:

[code]

Result: `HTTPError: Response code 404 (Not Found)`

So the auth doesn't work anymore.

[2019-01-24 08:33] timaschew commented on #256
Thanks @casz I also have just realized that I was looking on the old README.md, I was expecting it's the new one.
Okay auth is working, but options are still not passed. I tried different styles:

[code]

5th argument to `gitlabApi.MergeRequests.create`

[2019-01-24 08:44] timaschew commented on #256
Okay found a solution:

- during creation you can only set `remove_source_branch`
- to auto merge you need to do a `gitlabApi.MergeRequests.accept` call there you can pass `merge_when_pipeline_succeeds`

Thanks for your help!

[2019-01-24 08:44] #256 closed

[2019-01-26 09:28] bluelovers opened #257 "Inconsistent definitions between exports"
**Description**
This happens with `ProjectsBundle` or `Gitlab`

everything `api.MergeRequests` should same as `(api.MergeRequests as APIServices.MergeRequests)`

**Steps to reproduce**
[code]

**Expected behaviour**

![image](https://user-images.githubusercontent.com/167966/51785205-2d909200-218f-11e9-883d-902f991c921f.png)

**Actual behaviour**

![image](https://user-images.githubusercontent.com/

[2019-01-29 10:16] smnbbrv opened #258 "Typescript definitions missing"
Please make sure the new issue you are opening is not a duplicate, and **remove** this notice!

---

**Description**

The typings are not published. Why is #137 closed? How is it possible that TypeScript support issue is closed but there are no typings?

**Steps to reproduce**

```npm i gitlab```

**Expected behaviour**

The typings should be present (incl. the reference in package.json)

**Actual

[2019-01-29 10:21] casz commented on #258
possible fix is `npm i gitlab@next` 😄

[2019-01-29 14:13] jdalrymple commented on #137
Just note, these definitions have **only** be added to the next release

[2019-01-29 14:16] jdalrymple commented on #258
@smnbbrv I updated the original issue to hopefully avoid anyone else wanting to hit their head in :rofl:

[2019-01-29 14:22] smnbbrv commented on #258
:D thanks!

[2019-01-29 14:22] #258 closed

[2019-01-29 15:47] Vrtak-CZ commented on #257
Same problem here (version `5.0.0-rc.8`):

**src/test.ts:6:17**

[code]

**tsc output**

[code]

[2019-01-31 07:47] rubyless opened #260 "How can i get single project"
Get single project

GET /projects/:id

Parameters:

id (required) - The ID or NAMESPACE/PROJECT_NAME of a project

[2019-02-01 18:07] jennparise opened #262 "mergerequests in next has incorrect url for approvers and needs put not post"
---
mergerequests in next has incorrect url for approvers and needs put not post
I have modified the code below and I can do a pull request if needed

**Steps to reproduce**
try to change approvers with api

**Expected behaviour**
the approvers should update

**Actual behaviour**
bad request

**Possible fixes**
[code]

[2019-02-01 19:06] casz commented on #257
Just getting `Gitlab is not a constructor` when using `gitlab@next` @jdalrymple :(

[2019-02-14 13:34] thearabbit commented on #260
Excuse me @debanshu, Where you know this `Projects.show(id)`?
Where documentation? (I not found)

[2019-02-14 14:09] thearabbit commented on #239
I base on `Meteor JS`.
I got the same error
[code]

[2019-02-14 14:29] debanshu commented on #260
@thearabbit I just found it in the source code originally.
 https://github.com/jdalrymple/node-gitlab/blob/master/src/services/Projects.ts

Though, now with types it's far easier to get it as an ide autocompletion prompt.

[2019-02-14 15:41] thearabbit commented on #239
OK now work fine.
I use `Meteor.call` on client (don't use `import ........`)

[2019-02-15 04:06] thearabbit commented on #239
How to solve to import this on `Meteor Client Side`???

[2019-02-15 22:00] Aviortheking opened #266 "Repositories tree"
**Description**
*(Brief description of your issue here)*

When i use my script under on electron the first time I don't get anything and after i click a second time

(Paste any relevant logs - please use code blocks (```) to format console output,
logs, and code as it's very hard to read otherwise.)

simple test (.tar.gz with my current project)
[code]

first time logs
[code]

second time
[code]

[2019-02-16 15:28] casz commented on #266
you have an async function that you do not await the result for.

[2019-02-16 15:52] Aviorleking commented on #266
Oups juste an error while pasting my test

[2019-02-20 09:15] icedream opened #268 "Add support for authentication via CI Job Tokens"
**Description**
Currently node-gitlab only supports OAuth and Private Access Tokens. However those are bound to a specific user's privileges. Using CI job tokens would allow to instead bind privileges to a job context without having the need to store the credentials of any specific user anywhere. This is especially useful for temporarily logging in to GitLab-integrated third party services, for ex

[2019-02-20 21:17] Vrtak-CZ opened #270 "Projects.upload not working"
**Description**
When i try upload file via `Projects.upload` it causes error:

[code]

- version: `5.0.0-rc.8`
- yarn: `1.13.0`
- node: `v10.15.1`

**Steps to reproduce**
Just try to upload file via `Projects.upload`.

**Expected behaviour**
Correctly upload file.

**Actual behaviour**
Error

**Possible fixes**
No idea.

[2019-02-22 15:44] #268 closed

[2019-02-22 15:50] #270 closed

[2019-02-22 15:51] jdalrymple commented on #260
To get any singular resource, the API is the same: [resource].show(id) :)

[2019-02-22 15:51] #260 closed

[2019-02-22 15:53] jdalrymple commented on #239
Have you tried importing the module via require? const Gitlab = require('gitlab') ?

[2019-02-23 04:19] thearabbit commented on #239
I tried, still don't work
[code]
Get error
[code]

[2019-02-23 04:24] thearabbit commented on #239
I tried
[code]
Get the same error
[code]

[2019-02-23 16:04] LRH539 opened #274 "Add support for ContainerRegistry API"
**Description**
Implement the ContainerRegistry API as defined in https://docs.gitlab.com/ee/api/container_registry.html which has been added in GitLab 11.8.

**Proposal**
If nobody is working on this right now, I consider implementing this soon, similar to the other APIs.

[2019-02-26 12:58] LRH539 opened #277 "The Lint api has been moved from /lint to /ci/lint"
**Description**
*Lint API has been moved from /lint to /ci/lint (this is not reflected in official Gitlab docs).*

**Steps to reproduce**
*Post /api/v4/lint retrieves 404, Post /api/v4/ci/lint retrieves content missing.*

**Expected behaviour**
*The Lint service can be used to validate .gitlab-ci.yml files.*

**Actual behaviour**
*Using the Lint service results in a 404.*

**Possible fixes**
*This

[2019-02-26 13:25] casz commented on #277
I wonder which version this was changed in?

[2019-02-27 00:38] #277 closed

[2019-02-27 00:39] jdalrymple commented on #262
Ill look into this at the end of this week!

[2019-02-27 00:40] jdalrymple commented on #266
Ill look into this at the end of this week

[2019-02-27 00:41] jdalrymple commented on #257
:( Not sure whats up, ill spend some time on this during the weekend. Sorry about that!

[2019-02-27 00:42] jdalrymple commented on #239
Hmm, ill take a look this weekend! Hopefully have it back up and running for you soon!

[2019-03-02 16:44] LongLiveCHIEF commented on #239
I just worked through this yesterday, need to use it like so:

[code]

[2019-03-02 20:58] patrickalima98 commented on #239
**Description**
Same probleme here, i trying use this library on my Vue Electron App, i am including this library with following code:

electron:  4.0.0
node-gitlab: next
OS: Windows 10

[code]

and i use on my function

[code]

In my console, i have this:
![image](https://user-images.githubusercontent.com/17622137/53687465-9ed5de80-3d13-11e9-911f-04866252c6a6.png)

Any ideas how to fix this?

[2019-03-03 16:42] jdalrymple commented on #262
Updated in the latest next release

[2019-03-03 16:42] #262 closed

[2019-03-03 17:11] jdalrymple commented on #239
Try: const { Gitlab } = require('gitlab') in next. I added an example to the tests as well in the next branch for reference

[2019-03-03 17:18] jdalrymple commented on #266
Could you test this with the next version of the library? the code to get the tree is very basic so im unsure as to why it would be causing problems.

[2019-03-03 18:54] jdalrymple commented on #257
Need to look into this deeper, sorry about the delay :(

@casz Fixed that problem, see #239

[2019-03-04 20:42] LongLiveCHIEF opened #279 "Add config option to BaseModel for logger middleware registration"
Please make sure the new issue you are opening is not a duplicate, and **remove** this notice!

---

**Description**
Add ability to configure  `middleware`  for more control over requests and responses.

**Proposal**
Implement a function on the `BaseModel` which would be a function type (or possibly an array of functions) that wraps each request/response and allows the implementor to pass custom r

[2019-03-04 20:52] LongLiveCHIEF commented on #279
P.S. I'd like to be added as a collaborator. In addition to the idea above, I've been working on some documentation as i've gone about using this the last week or so. I may not stay a collaborator permanently, but I'm betting I'll be submitting a lot PR's in the next 2 months.

In fact, I was documenting how to pass query string options to the `<Service>.all` method, and I landed on the need for m

[2019-03-05 03:54] thearabbit commented on #239
I tried
[code]
Get the error
[code]

[2019-03-05 03:57] thearabbit commented on #239
And then tried to remove `async/await`.
[code]

[2019-03-05 07:42] casz commented on #239
@thearabbit the error is pretty clear. HTTP Error 404 means not found. In this case it did not find the project. So import is working

[2019-03-05 08:06] thearabbit commented on #239
But I tried on `Stable Version`, it work fine.

[2019-03-05 15:00] jdalrymple commented on #239
Yea, ill keep looking. Thanks

[2019-03-05 15:09] jdalrymple commented on #279
Ill close #236 As this provides a better way forward. The use pattern is definitely a clean way of moving forward. Something similar to:

[code]

Or like you said including it in the service initialization options.

As for the docs, there has been some significant improvements in a #243 but i havent had the chance to rebase the branch and merge it. Id give that one a look to ensure youre not redoi

[2019-03-05 15:10] jdalrymple commented on #236
Closing in favour of #279

[2019-03-05 15:10] #236 closed

[2019-03-06 18:48] patrickalima98 opened #282 "Failed to execute 'fetch' on 'Window' on Next version"
**Description**
When using the node-gitlab module the xmlHttpRequest request is not working, it displays the following error

**Steps to reproduce**

To Reproduce
1- Create a new Vue.js application with TypeScript
2- Install gitlab with `npm install gitlab@next`
3- Import gitlab with `const {Gitlab} = require('gitlab');` on src/App.vue
4- Start a new connection:

[code]
5- Call a Api:
[code]

5- S

[2019-03-07 01:17] carlzogheib opened #283 "Add delete project's forked from relationship API method"
**Description**
As a new user of this package, I am replacing manual HTTP requests to the GitLab API with method calls from `node-gitlab` and noticed there is no method that removes a project's forked from relationship (as described in the API v4 docs https://docs.gitlab.com/ce/api/projects.html#delete-an-existing-forked-from-relationship).

**Proposal**
I'll shortly submit a PR with this added me

[2019-03-07 02:51] jdalrymple commented on #282
Currently working on fixing the xhr compatibility! Will keep you updated

[2019-03-07 06:27] #283 closed

[2019-03-07 17:14] jdalrymple commented on #239
@thearabbit could you provide me with any more information? I created three extra tests to validate the bundle and the issue creation work and they seem to not be running into this problem.

1. What version of the library are you using, you said next, but which next version?
2. For your example, and its output, it looked like the paths were being mangled. Using your coding example i haven't been a

[2019-03-07 17:16] jdalrymple commented on #239
@patrickalima98  did this help?

[2019-03-07 20:09] patrickalima98 commented on #282
@jdalrymple thank you, I'll wait

[2019-03-07 20:12] patrickalima98 commented on #239
@jdalrymple sorry! I forgot to update here, yes this code fix this error, but now i am waiting for the correction of #282

[2019-03-11 20:09] HanchengZhao opened #286 "Missing list-merge-requests-associated-with-a-commit"
**Description**

I noticed that this API is missing:

- List Merge Requests associated with a commit: https://docs.gitlab.com/ee/api/commits.html#list-merge-requests-associated-with-a-commit

[2019-03-14 21:22] #286 closed

[2019-03-15 03:54] thearabbit commented on #239
@jdalrymple, sorry for late to reply.
I tried `"gitlab": "^5.0.0-rc.9"`

[2019-03-16 16:12] jdalrymple commented on #239
@thearabbit hmm, and you get that error eh? Could it be related to the meteor environment some how? If you test it in a basic node script do you get the same error?

[2019-03-18 16:18] buffcode opened #289 "MergeRequests: method all requires groupId parameter"
The method `MergeRequests.all` in `next` requires the existence of the `groupId` parameter.
This change was introduced in https://github.com/jdalrymple/node-gitlab/commit/9383b50aed1ee0956d440ad3b6b4eaabe094644a.

This parameter must be optional and should only be used when fetching group-wide MRs.

**Steps to reproduce**

[code]

**Expected behaviour**
- Neither `projectId` and `groupId` given: [

[2019-03-18 19:00] buffcode opened #290 "MergeRequests: approve method requires sha parameter"
The method `MergeRequests.approve` in `next` requires the existence of the `sha` parameter.

This [parameter must be optional](https://docs.gitlab.com/ee/api/merge_request_approvals.html#approve-merge-request).

**Steps to reproduce**

[code]

**Expected behaviour**
- No TypeScript errors

**Actual behaviour**
[code]
or
[code]

[2019-03-19 00:44] jdalrymple commented on #290
I definitely overlooked that

[2019-03-19 01:48] #290 closed

[2019-03-19 02:15] #289 closed

[2019-03-19 02:38] jdalrymple commented on #257
@Vrtak-CZ So i played around with this, and got some weird results. For example, if i reduce the exports on the ProjectsBundle to only:

[code]

**Notice what I commented out** Everything gets exported correctly. BUT if i uncomment one of those services, it returns that same error about all not being defined on anything. I'm really unsure why this happens. It looks like it has to do with those ser

[2019-03-19 15:15] jennparise commented on #262
I see you updated the http method, but I believe this still needs to be updated:
From:
    if (mergerequestIId) {
      url = `projects/${pId}/merge_requests/${mIId}/approvals`;
    } else {
      url = `projects/${pId}/approvals`;
    }

To:
    if (mergerequestIId) {
      url = `projects/${pId}/merge_requests/${mIId}/approvers`;
    } else {
      url = `projects/${pId}/approvers`;
    }

[2019-03-19 22:24] jdalrymple commented on #262
Fixed! :)

[2019-03-20 17:14] Fleuh opened #293 "Cannot use pagination options in request"
Hey guys.

First awesome work on this package !

Got a little question tho. I am tryin to use pagination in one of my calls. But it looks like it does not work, so I am wondering if i am not doing something wrong.

Here is a portion of my source code
[code]

But instead of getting only one result, i am receiving all the pipelines in my projects. What am i doing wrong ?

EDIT : I tried to request t

[2019-03-20 17:17] casz commented on #293
https://github.com/jdalrymple/node-gitlab/blob/master/src/infrastructure/RequestHelper.ts#L23-L25

Use `maxPage` together with `perPage`

[2019-03-20 17:20] Fleuh commented on #293
Thank you, working fine.
Cya :)

[2019-03-20 17:20] #293 closed

[2019-03-27 13:29] mitsos1os opened #295 "Add support for Gitlab Releases"
**Description**

Gitlab Releases API functionality should be implemented in order to provide a more complete functionality for the library
[Releases API](https://github.com/gitlabhq/gitlabhq/blob/master/doc/api/releases/index.md

[2019-03-27 19:27] jdalrymple commented on #239
@thearabbit could you perhaps provide a sample project?

[2019-03-29 23:30] westurner commented on #98
I've tried 4.2.7 (fs, net, tls), 4.5.1 (fs, net, tls), and next (5.0.0-rc.10) (#282 ``"Request with GET/HEAD method cannot have body. at Ky._fetch"``) . Any idea which version should work in Chrome 73?

[2019-03-29 23:52] westurner commented on #98
4.5 works when I add this to my webpack config: as described here https://github.com/peaksandpies/universal-analytics/issues/58#issuecomment-279485637 :

[code]

[2019-03-30 17:46] jdalrymple commented on #98
@westurner sorry about that! Still working on fixing this in the new version. Just been running low on time recently :(

[2019-04-01 06:43] gianniszach commented on #57
Hello, have you resolved this issue? I'm using basic authentication on-top of the hosted gitlab and if I use the basic auth credentials inside the URL I get an invalid concatenated in the request-promise.

The basic auth scheme is applied on the web server hosting the gitlab service, it's not a part of gitlab as you've already said in the comments.

I've read the comments and I understand the argu

[2019-04-01 09:33] bufferoverflow commented on #57
@gianniszach Basic auth is a deployment specific solution and handling this should not be part of a library like this. Check https://www.google.com/search?q=basic+auth+deprecated to get an overview on the adoption rate of basic auth.

[2019-04-01 10:37] gianniszach commented on #57
@bufferoverflow I'm sorry, I can't understand how something that is a part of the http rfc is a deployment specific solution. Basic auth is a part of the HTTP transaction and not a part of a deployment process.

As for the adoption rate, during the last years with the growth of APIs I've seen a great number of REST APIs utilizing basic auth as one of their authentication methods. Of course, this i

[2019-04-01 12:14] bufferoverflow commented on #57
Support for passing custom http headers such as for basic auth could be an option, but implement basic auth support does not belong to this library from my perspective.

[2019-04-04 07:28] aol-nnov opened #296 "addTimeEstimate for merge request calls wrong endpoint"
https://github.com/jdalrymple/node-gitlab/blob/master/src/services/MergeRequests.ts#L70

should be `projects/${pId}/merge_requests/${mId}/time_estimate`, not `projects/${pId}/issues/${mId}/time_estimate`

corresponding docs: https://docs.gitlab.com/ee/api/merge_requests.html#set-a-time-estimate-for-a-merge-request

[2019-04-05 02:40] jdalrymple commented on #239
@thearabbit Gonna close this. If you can check if it happens with meteor only reopen and post!

[2019-04-05 02:40] #239 closed

[2019-04-05 02:42] jdalrymple commented on #296
Fixed in next. If you REALLY needed it in master, just reopen :)

[2019-04-05 02:42] #296 closed

[2019-04-05 03:10] thearabbit commented on #239
@jdalrymple, sorry.
this is my repo `Meteor + Vue + Node-Gitlab`
https://github.com/thearabbit/meteor-gitlab

[2019-04-05 03:12] jdalrymple commented on #239
@thearabbit perfect! Ill give it a look in the next couple days

[2019-04-08 05:46] yyxiong opened #297 "Changing Repositories.showArchive to return a stream"
Repositories.showArchive should accept stream option to download archive

[2019-04-09 02:34] jdalrymple commented on #297
Yea that would be a good idea. Going to hold off changing this though until #265 is finished.

[2019-04-10 16:50] jdalrymple commented on #257
This is fixed by #299 in next :D!!

[2019-04-10 16:50] #257 closed

[2019-04-10 18:03] casz commented on #257
oh wow @jdalrymple that is just crazy, I guess typescript can get a little touchy :laughing:

[2019-04-10 18:04] jdalrymple commented on #257
Tell me about it 😭

[2019-04-11 09:31] aol-nnov opened #302 "The requested module 'gitlab' does not provide an export named 'Gitlab'"
[code]

cat index.mjs

[code]

[code]

[code]

but documentation on the `next` branch reads as
[code]

What am I missing?

[2019-04-11 14:30] jdalrymple commented on #302
Thats a problem with the experimental mjs support. It doesn't seem to support named exports.  If you do:

[code]

[2019-04-11 14:34] aol-nnov commented on #302
@jdalrymple , thanks for the hints!

Also, I'd like to mention, that the following docs snippet from `next`

[code]

gives `TypeError: Gitlab is not a constructor` too

[2019-04-16 15:25] sjarrossay opened #303 "Failed to unshare group from a project"
**Description**

When I call Project.unshare, nothing append

**Steps to reproduce**
Share a group to a project
Call Projects.unshare to remove this link, nothing append

**Expected behaviour**
deleted link

**Actual behaviour**
NA

**Possible fixes**
path built is `"projects/" + idProject + "/share" + idGroup`
 in place of `"projects/" + idProject + "/share/" + idGroup`

[2019-04-16 18:18] jdalrymple commented on #303
Fixed and released!

[2019-04-16 18:18] #303 closed

[2019-04-16 18:20] jdalrymple commented on #302
@aol-nnov Fixed! Sorry about that.

[2019-04-16 18:20] #302 closed

[2019-04-21 16:55] tmaly1980 commented on #260
This really ought to be added to the documentation/README! All that covers is creating and paginating data. =(

[2019-04-21 16:57] casz commented on #260
@tmaly1980 feel free to contribute :)

[2019-04-21 17:09] jdalrymple commented on #260
@tmaly1980 I agree! Just need to find the time :(

[2019-04-22 00:10] tmaly1980 commented on #260
@casz I'm unfortunately new to this library and probably not the most suited to improve the documentation. But generally I'd say a practical review of the CRUD operations would be wise.

[2019-04-24 13:42] mariooc commented on #302
help,
not work
try npm install --save gitlab@next
![gitlab-node](https://user-images.githubusercontent.com/2160877/56663730-250c0280-667d-11e9-96d2-24864f4dcfa5.png)

and  npm install --save gitlab
![gitlab-2](https://user-images.githubusercontent.com/2160877/56663959-9c419680-667d-11e9-8177-352099fea4ff.png)

[2019-04-24 13:54] jdalrymple commented on #302
Hmm, I think you can't install the package in a module with the same name.

[2019-04-26 01:08] thearabbit commented on #239
Hi @jdalrymple, how about this?

[2019-04-26 03:12] klorenzen7 opened #306 "GroupIssues"
My team uses Group boards extensively and I would like to filter on issues in projects within a group. We don’t have the Epics option so using the Group Issues API would be best. This would be similar to the EpcIssues API already supported by node-gitlab.

[2019-04-29 19:40] jdalrymple commented on #239
@thearabbit The project id you specified isnt linked to any project on gitlab. Look at my fork, it ran correctly, but the error was related to the project not existing.

[2019-04-30 03:18] thearabbit commented on #239
@jdalrymple, this is my gitlab repo testing

![image](https://user-images.githubusercontent.com/4495160/56939151-df45b300-6b30-11e9-9633-41c7d7c72f4e.png)

But get error

[code]

[2019-04-30 03:21] thearabbit commented on #239
But it is `Private Repo`

[2019-04-30 03:34] thearabbit commented on #239
Now I tried create new repo `Public`, but get error the same.
Could you try your testing repo?

[2019-04-30 03:44] jdalrymple commented on #239
@thearabbit Yea i was just able to recreate it. Not sure why its happening. I've tested the call outside of meteor and it works fine. For some reason the url used in the request is being changed when run through meteor. Im looking.

[2019-04-30 04:30] thearabbit commented on #239
thanks for your reply. We should issue this on `Meteor Forums` or not?

[2019-04-30 11:50] DanielRose opened #308 "Typescript definitions of 4.5.1 are broken"
**Description**

In release 4.5.1, the Typescript definition files are included (#294). However, the definition files are broken, because they implicitly include `types.d.ts`, which is not part of the npm package. As a result, compiling a Typescript file which includes the gitlab package results in many compile errors.

**Steps to reproduce**
[code]

**Expected behaviour**

Compile success.

**Act

[2019-04-30 18:49] jdalrymple commented on #239
lmao. Found the problem. Not sure how I missed this. The error has to do with the API [change](https://github.com/jdalrymple/node-gitlab/tree/next) with version 5. To avoid confusion with url and host, the url keyword is no longer user and is reserved for internal processes. Unfortunately, its still accessible so in your sample, both the host and url are set, which causes the wrong path to be used

[2019-05-07 17:45] jdalrymple commented on #239
@thearabbit I made the changes in the fix/exposed-base-service branch. It will be merged into next once #265 is finished

[2019-05-07 17:46] jdalrymple commented on #308
I probably wont tackle this one since 5.0.0 is so close to being completed. No point in redoing work :(

[2019-05-07 17:46] #308 closed

[2019-05-07 17:53] jdalrymple opened #309 "Create a multi-environment testing script"
**Description**
There are three compiled versions of this library, one for the browser, one for commonjs and one as a es module. However, the testing procedures only run on the src and supported nodejs versions. This has led to some problems in the past where the released binaries have errors that were not captured during the testing procedure.

**Proposal**
Overhaul the testing procedure to addit

[2019-05-07 17:54] jdalrymple commented on #132
Closing this for now, If we can find a better way to do this in the future, ill reopen

[2019-05-07 17:54] #132 closed

[2019-05-08 02:50] casz opened #310 "Support graphql feature"
**Description**
Support GraphQL API queries

**Proposal**
Would be great to already start implementing the use case for using Gitlab's [new GraphQL API](https://docs.gitlab.com/ee/api/graphql/)

[2019-05-08 03:36] casz commented on #310
Updated with an example query :sweat_smile:

[2019-05-08 18:01] jdalrymple commented on #282
I tested with the electron version, seems to work fine:

[code]

[2019-05-08 18:02] #282 closed

[2019-05-10 19:05] haggholm opened #311 "5.0.0-rc.14: Pagination is broken"
**Description**

Listing projects with pagination no longer works. `gitlab.Projects.all({ perPage: 100, maxPages: 100 })` returns all projects from our Gitlab instance with 5.0.0-rc.13, but only 100 with 5.0.0-rc.14.

[2019-05-10 19:07] jdalrymple commented on #311
Looking now, thanks! Not sure how the tests didn't catch this 🤔

[2019-05-10 19:12] jdalrymple commented on #311
Found the problem!

[2019-05-10 20:16] jdalrymple commented on #311
Just released the fix! Give it a look when you have a chance

[2019-05-10 20:16] #311 closed

[2019-05-11 17:11] Bauke opened #312 "Global recursively references itself as a base type"
**Description**

Node v10.15.2
npm 6.4.1
Yarn 1.15.2
TypeScript 3.4.5

When using `gitlab@5.0.0-rc.14` or higher if I compile using `tsc` it spits out this error:

`node_modules/gitlab/types/types.d.ts:8:15 - error TS2310: Type 'Global' recursively references itself as a base type.`

Switching to `gitlab@5.0.0-rc13` fixes it.

Also, this might be a separate issue but in the same versions described

[2019-05-14 00:06] jdalrymple commented on #312
Im looking into it. Changed the build step to avoid missing these errors as well in the future :)

[2019-05-15 16:04] krische opened #313 "Next: new, breaking camelizeKeys behavior is not documented and could be optional?"
**Description**
I noticed the new `KyRequester` functionality is running [camelizeKeys](https://github.com/jdalrymple/node-gitlab/blob/a999545542883803b13f4e8e981c49633a69d738/src/infrastructure/KyRequester.ts#L50) on the entire response body. This seems, to me, a very significant change, but I didn't see it mentioned anywhere in the documentation or the change log.

Perhaps there should even be a

[2019-05-15 16:08] jdalrymple commented on #313
It probably shouldn't be there, at least not without an option. Good catch !

[2019-05-16 00:14] jdalrymple commented on #313
Found another problem while making the switch back. Ill get to this before the weekend :)

[2019-05-16 21:05] MaximeCheramy opened #314 "Impossible to pass variables when triggering a pipeline"
**Description**

The Triggers.pipeline function allows to pass options but it looks like it's not possible to pass variables. Actually the bug looks a lot like https://github.com/jdalrymple/node-gitlab/issues/254 but for Triggers.pipeline.

**Possible fixes**

My workaround is to do a POST request myself and pass the data as 'form' instead of json:

[code]

I suppose the fix is just adding `true`

[2019-05-20 10:09] jamime commented on #313
Fixed by https://github.com/jdalrymple/node-gitlab/commit/ec59c791970ef0249365288343e8c3119f7fa53f

[2019-05-20 16:54] jdalrymple commented on #313
Yea I havent published the fix yet. Still awaiting on some guidance on this question: https://github.com/jdalrymple/node-gitlab/pull/216#issuecomment-492870154

[2019-05-21 08:45] jamime commented on #312
Has this been resolved?

[2019-05-21 14:02] jdalrymple commented on #312
@jamime Found the solution last night, hopefully will push/release this evening :)

[2019-05-22 20:20] jdalrymple commented on #312
Fixed and merged into the main next branch. Will release tonight :)

[2019-05-22 20:21] jdalrymple commented on #314
Ill give it a look!

[2019-05-22 20:21] jdalrymple commented on #313
Made the changes, just testing now. It will be optional :)

[2019-05-24 02:13] jdalrymple commented on #313
Published in next :)

[2019-05-24 02:13] #313 closed

[2019-05-24 02:13] jdalrymple commented on #312
Published in next!

[2019-05-25 00:53] bluelovers opened #318 "type missed"
**Description**

[code]

miss `ProjectId` in `MergeRequests.d.ts`

![image](https://user-images.githubusercontent.com/167966/58362525-6b49c100-7eca-11e9-8925-715382b91f82.png)

**Steps to reproduce**

**Expected behaviour**

**Actual behaviour**

**Possible fixes**

[2019-05-25 05:20] jdalrymple commented on #318
This is fixed in the upcoming version :)

[2019-05-25 05:20] #318 closed

[2019-05-25 16:11] jdalrymple commented on #314
I think this should be ok in the next build. Give it a look when you have a chance!

[2019-05-25 16:13] jdalrymple commented on #266
Fixed in the next build!

[2019-05-25 16:13] #266 closed

[2019-05-25 23:38] jdalrymple opened #319 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-05-25 23:43] #319 closed

[2019-05-28 11:06] jamime commented on #312
@jdalrymple following the steps above provided by @Bauke now breaks on all type definitions not just Global.

Here is a snippet of the `npx tsc` output.
[code]

[2019-05-28 11:10] casz commented on #312
@jamine I assume tsc is not using the config.

[2019-05-28 11:41] alippai opened #320 "node-gitlab tries parsing the result of downloadTraceFile() as JSON"
Calling downloadTraceFile() results in `FetchError: invalid json response body at` after upgrading to version 5

[2019-05-28 12:14] jdalrymple commented on #320
I'll look into it today :(

[2019-05-28 12:16] jdalrymple commented on #312
Hmm, what should I change to fix this?

[2019-05-28 12:31] jamime commented on #312
@casz

[1]: http://www.typescriptlang.org/docs/handbook/tsconfig-json.html

My knowledge of typescript is woefully outdated. I did come across [this post](https://stackoverflow.com/questions/39040108/import-class-in-definition-file-d-ts) on stack overflow. From what I read, the issue is the `.d.ts` files include the import `import { BaseService } from '../infrastructure';`

[2019-05-28 12:33] casz commented on #312
@jamime what is stopping you from using `npm install` and `npm run build`?

[2019-05-28 12:36] jdalrymple commented on #312
So I'm just missing the tsconfig from the output files?

[2019-05-28 12:53] alippai commented on #320
This is a really nice project, keep up the good work ;)

[2019-05-28 12:59] jamime commented on #312
I just noticed the `@next` tag points at the previous RC. To clarify I'm now testing `5.0.1`.

[2019-05-28 13:14] jamime commented on #312
Here is a reproducible.
https://gist.github.com/jamime/79d927e9fcfe0b37a0ccf6c9e02ffa4c

[code]

[2019-05-28 13:16] jdalrymple commented on #312
I'll test out some things today :)

[2019-05-28 13:42] jamime commented on #312
@jdalrymple I might be missing something, my Typescript knowledge isn't the most up to date.

[2019-05-28 17:36] jdalrymple commented on #312
So the types are visible on the src dir, but not in the dist directory which is what is published. Not sure how to fix this exactly. Trying to search through google to see if i can find an example

[2019-05-28 18:12] jdalrymple commented on #312
I've tinkered around but haven't found the way to do it correctly. Basically we want to publish all the custom types along side the published library. One way of getting them to be included, is using the .ts file ending instead of d.ts which did get them to be published, but they weren't visible from the various files that called on them.

There must be a way to do this, I just haven't come across

[2019-05-28 18:14] jdalrymple commented on #320
@alippai Where you trying to use the streamed response, or the plain JSON

[2019-05-28 18:19] casz commented on #312
@jdalrymple I believe your missing piece is in the package.json: https://medium.com/cameron-nokes/the-30-second-guide-to-publishing-a-typescript-package-to-npm-89d93ff7bccd
`"types": "typings/index.d.ts"`
should do it?

[2019-05-28 18:21] casz commented on #312
Seems to be incorrect: https://github.com/jdalrymple/node-gitlab/blob/f4c735be3cf1d0bb66fa94dd08629d0b41391ba5/package.json#L33
Unless I misunderstand
https://github.com/jdalrymple/node-gitlab/blob/f4c735be3cf1d0bb66fa94dd08629d0b41391ba5/package.json#L27

[2019-05-28 18:23] casz commented on #312
https://github.com/jdalrymple/node-gitlab/blob/master/tsconfig.json#L31 perhaps your meant to use typeRoots?

[2019-05-28 18:26] casz commented on #312
`tsc --traceResolution` might be able to diagnose your problem @jdalrymple

[2019-05-28 18:44] alippai commented on #320
Imported the ProjectsBundle, instantiated as `services`, then called `services.Jobs.downloadTraceFile(PROJECT_ID, jobId)`

[2019-05-28 19:02] jdalrymple commented on #312
@casz I tried both suggestions, but nothing stands out :(

[2019-05-28 19:12] jdalrymple commented on #312
I came across this which was sort of helpful: https://stackoverflow.com/questions/42233987/how-to-configure-custom-global-interfaces-d-ts-files-for-typescript

but still not working with globally available types.

[2019-05-28 19:18] casz commented on #312
again, let's do as suggested and not use global types.

[2019-05-28 19:21] jdalrymple commented on #312
Its a huggggggge pain to import them everywhere

[2019-05-28 19:21] jdalrymple commented on #312
I added a branch with some tests btw

[2019-05-28 19:22] casz commented on #312
You should be able to use namespace? and avoid importing everywhere?

[2019-05-28 19:25] jdalrymple commented on #312
😂 Man, the typescripts standards are breaking my brain. Are namespaces still a thing? Were they replaced with modules?

[2019-05-28 19:27] casz commented on #312
Perhaps these project might help: https://github.com/slackapi/node-slack-sdk/blob/master/packages/logger/tsconfig.json they have several typescript packages and I haven't seen the same issue with those

[2019-05-28 19:33] jdalrymple commented on #312
Those types subfolders are empty though?

[2019-05-28 19:35] casz commented on #312
Noticed afterwards 😅

[2019-05-28 19:42] jamime commented on #312
Might be a good time to include an end to end test. There have been a few
breaking changes on the 5x branch.

On Tue, 28 May 2019, 20:35 Joseph Petersen, <notifications@github.com>
wrote:

[2019-05-28 19:44] jdalrymple commented on #312
Been wanting to do that for a long time, but, i need to time to do it 😭

[2019-05-29 13:08] jdalrymple opened #321 "Types are erronous in 5.0.1"
**Description**

Proper continuation of the conversation in #312

[2019-05-29 13:09] jdalrymple commented on #312
Continuing the conversation in #321

[2019-05-29 13:09] #312 closed

[2019-05-29 13:09] jdalrymple commented on #321
@casz Did you find other examples we could go off of ?

[2019-05-29 13:10] jdalrymple commented on #308
@centigrade-thomas-becker Yup! We are looking into it. See #321 for the latest updates

[2019-05-29 13:10] jdalrymple commented on #320
Spent some time on this last night, but wasn't able to narrow it down. Ill try again tonight and hopefully figure it out.

[2019-05-29 15:56] jdalrymple commented on #321
There must be a better way then:

1. Include a triple slash reference everywhere
2. Inline all the types
- Difficult because alot of the ID types are used across services
- Where would the global override types go?
3. Import all the types in every file
- Becomes quite a bit of extra boilerplate code

Unless I'm missing something :'(

[2019-05-30 02:41] yys-grab commented on #320
`service.RepositoryFiles.remove(ProjectId, filePath, branch, options)` also giving `FetchError: invalid json response body at` error as well when request success.

[2019-05-30 03:43] jdalrymple commented on #320
@yys-grab Yea im modifying it right now. im trying to validate the type of response before processing it

[2019-05-31 20:24] #320 closed

[2019-05-31 20:26] jdalrymple commented on #320
@yys-grab The repofiles problem should be fixed as well :)

[2019-05-31 20:46] jdalrymple commented on #320
:tada: This issue has been resolved in version 5.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/5.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-01 01:51] greenkeeper[bot] opened #325 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.12.4` to `1.12.5`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Frollup-1.12.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It **

[2019-06-01 02:00] #325 closed

[2019-06-01 11:26] greenkeeper[bot] opened #326 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.13.0` to `1.13.1`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Frollup-1.13.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It **

[2019-06-01 17:01] #326 closed

[2019-06-01 17:01] #321 closed

[2019-06-02 05:39] jdalrymple commented on #321
:tada: This issue has been resolved in version 6.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/6.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-03 15:06] jdalrymple commented on #306
The only group issue specific api is to get all the group issues. Is this what you are looking for ? https://docs.gitlab.com/ee/api/issues.html#list-group-issues