[2019-06-03 19:28] octopotato opened #328 "Support for etag Caching"
Description
Gitlab supports [etag cachine](https://docs.gitlab.com/ee/development/polling.html) which we'd like to leverage. For web apps, this is very useful since it allows clients to cache repositories/branches/etc on the client and only get the new data if it changes instead of constantly polling.

Proposal
Requires an investigation but likely will change some of the interfaces/responses. Coul

[2019-06-03 19:50] jdalrymple commented on #328
Could probably just modify the instantiation object as to not change the interface too much. Wouldn't be too difficult to implement, but would really eat up memory no?

[2019-06-04 00:42] patrickalima98 opened #329 "Cannot find type definition file for various files"
**Description**
I'm trying use this module on my project with Electron, Vue and Typescript. But after import, the Typescript compiler show various erros about type files, see the image:

![image](https://user-images.githubusercontent.com/17622137/58842908-a4123480-8646-11e9-807f-edac02ec7433.png)

My App.vue:

[code]
My packahe.json:
[code]
**Steps to reproduce**

Clone my repo demo:
`
git clone h

[2019-06-04 00:46] jdalrymple commented on #329
Hmm, anything stand out to you @rkrasiuk. You've had better luck than both me and @casz 🤣

[2019-06-04 00:58] rkrasiuk commented on #329
@jdalrymple you've published v6 manually?

[2019-06-04 01:00] jdalrymple commented on #329
Nope, went through semantic release :/

[2019-06-04 01:05] rkrasiuk commented on #329
my local build includes triple slash directive only into the top level `index.d.ts`. you might want to check in what result your version of compiler produces

[2019-06-04 02:07] jdalrymple commented on #329
So i checked the build files. It still only exists in the top level index.d.ts...so im confused

[2019-06-04 02:09] jdalrymple commented on #329
But in the released package its there. WEIRD

[2019-06-04 02:16] jdalrymple commented on #329
Furthermore, IIt looks like without the correct tripple slash command in those other files, many of the types are undefined such as ProjectId ? Unless im missing something locally? Do you experience this @casz @rkrasiuk ?

[2019-06-04 16:06] mseyma commented on #328
I was thinking more of letting the client's decide what to do. I gave it some more thought last night and I think a way to get the headers back (as well as set additional header values) is really all we need (at least for our use case). That way clients can decide what to do with that information. But going that route it does require some small changes since when data hasn't changed the response c

[2019-06-04 17:59] jdalrymple commented on #328
Wouldn't be too hard though! Sounds like a cool feature too. If you get the chance see if you can tinker with it. Ill try and set some time aside this weekend to look at it myself.

[2019-06-05 04:53] thearabbit commented on #239
Hi @jdalrymple, could I try this?
I updated to `"gitlab": "^6.0.0"`, but still get error
[code]
Error
[code]

[2019-06-05 05:01] casz commented on #239
You used url again, when it should be host.
Please look at the Readme examples once again.

[2019-06-05 05:05] thearabbit commented on #239
Very thanks, Now work fine

[2019-06-05 14:26] greenkeeper[bot] opened #330 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.14.0` to `1.14.1`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Frollup-1.14.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It **

[2019-06-05 15:40] jdalrymple commented on #330
Related to #132

[2019-06-05 15:40] #330 closed

[2019-06-05 16:11] greenkeeper[bot] opened #331 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.14.1` to `1.14.2`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Frollup-1.14.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It **

[2019-06-05 17:13] #331 closed

[2019-06-06 13:13] greenkeeper[bot] opened #332 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.14.2` to `1.14.3`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Frollup-1.14.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It **

[2019-06-06 16:13] #332 closed

[2019-06-06 17:24] scottboyd-ai opened #336 "Pipelines.showJobs() options should be optional"
When calling Pipelines.showJobs(), the options parameter is required. This allows a user to filter the jobs returned by their status. However, if the user wants to return all jobs regardless of status, there is no way to do this without modifying the function declaration to have options as an optional argument.

**Steps to reproduce**

Call Pipelines.showJobs() with project Id and pipeline Id spec

[2019-06-06 17:28] jdalrymple commented on #336
I agree! I must of missed this !

[2019-06-06 17:34] jdalrymple commented on #336
Easy fix! Should be out today

[2019-06-06 19:06] #336 closed

[2019-06-06 19:06] #295 closed

[2019-06-06 19:25] jdalrymple commented on #104
Follow up, is there a way to have types for JSON objects properties?

[2019-06-06 19:42] jdalrymple commented on #310
Would we just expose a GraphQL model which would be initialized with the users settings, and then it would have one function "query" which would take in a graphql query like above?

[2019-06-06 20:03] biw-joelschou opened #338 "`Jobs.downloadSingleArtifactFile` can no longer be piped"
**Description**

With v4.5.1 we'd been using `Jobs.downloadSingleArtifactFile` and `node-unzipper` to extract artifacts files like this:

[code]

This was working splendidly. Since updating to v6.0.0 it no longer works. I get this error:

[code]

Upon digging in and doing quite a bit of debugging, this appears to be a result of the change to `ky` from `got`. The streamed response structure has cha

[2019-06-06 20:06] jdalrymple commented on #338
hmm, not off the top of my head :( but i can tinker with it this weekend. I've been meaning to fix some streaming problems in #297

[2019-06-06 20:52] casz commented on #310
I think that would be wonderful :sweat_smile:

[2019-06-06 20:53] casz commented on #310
The query should of course support variables as well :sweat:

[2019-06-06 21:08] MunifTanjim commented on #104
Yes.

https://github.com/MunifTanjim/node-bitbucket/blob/f0f714071ff6c438b3d9d8358b603279eefc33ad/src/routes/routes.json#L769-L772

They can be used for validation before sending api requests.

[2019-06-07 01:16] jdalrymple commented on #104
But typing wouldn't be useful for developers though...

[2019-06-07 01:34] jdalrymple commented on #310
Not sure exactly how it would all work, but i guess we could brain storm some things here!

[2019-06-07 04:07] casz commented on #310
The easiest thing would be pull in a GraphQL client? No need to rewrite everything.
Though not that it requires that much code: https://www.npmjs.com/package/graphql-request
https://github.com/prisma/graphql-request/blob/master/src/index.ts

[2019-06-07 07:07] MunifTanjim commented on #104
Why do you think that? It can be used to generate typescript definition files. And developers will be able to use it with intellisense. Like this:

![](https://user-images.githubusercontent.com/8050659/41056859-49cf65b4-69e7-11e8-9338-74f63ac44ac6.png)

[2019-06-07 10:40] mrozado commented on #329
I'm having the same issue

[2019-06-07 14:35] jdalrymple commented on #310
Keeping things simple, I like it. Easy to include the graphQL client. This could probably be done relatively quickly...

[2019-06-07 14:36] jdalrymple commented on #329
Yea Still trying to figure out why the build process added the extra /// references.

[2019-06-07 14:38] jdalrymple commented on #104
Oh I didnt know that! How can we generate definition files from that? Or is that something the typescript compiler does automatically?

[2019-06-07 14:42] biw-joelschou commented on #338
Slightly embarrassing confession: I was using `downloadSingleArtifactFile` incorrectly. When I pass in a path to the file I want (the empty string argument in my top example), I do get back the file I expect in the `body` of the response.

That said, I changed over to `downloadLatestArtifactFile` thinking I would get a pipeable response containing the ZIP. Turns out, no. The response is the same a

[2019-06-07 14:48] jdalrymple commented on #338
🤣 Yea I noticed that as well, i think i just implemented it incorrectly. *Maybe* if i fix that returnable streams will be possible? Let me try that first and see what comes back.

[2019-06-07 16:19] MunifTanjim commented on #104
With the help of this package: [json-schema-to-typescript](https://www.npmjs.com/package/json-schema-to-typescript)

The main challange is to generate the json schema correctly. Because GitLab doesn't provide OpenAPI Specification and their documentation is not uniformly structured (different pages has different formatting). But I think it's doable.

These two repositories will help as a starting

[2019-06-07 16:43] jdalrymple commented on #104
True! Baby steps lol

[2019-06-07 19:25] greenkeeper[bot] opened #340 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.14.3` to `1.14.4`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Frollup-1.14.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It **

[2019-06-07 20:08] #340 closed

[2019-06-07 20:34] #274 closed

[2019-06-09 01:15] mseyma commented on #321
@jdalrymple is there anything I need to do on my end other than `npm install gitlab` and `import {gitlab} from "gitlab";?

I'm getting a lot of these errors in my sample project after updating to v5+
```node_modules/gitlab/dist/templates/ResourceVariables.d.ts(9,60): error TS2304: Cannot find name 'PaginatedRequestOptions'.```

and I'm out of ideas on how to fix (or what I'm doing worng) 😞

[2019-06-09 07:11] jdalrymple commented on #321
Nope there is an error with the build. Still trying to figure out what's going on. Discussion is in #329

[2019-06-09 14:29] ianliu opened #342 "ResouceDiscussions.addNote is wrong"
**Description**
By inspecting the Gitlab API page [Discussions | Add note to existing issue discussion](https://docs.gitlab.com/ee/api/discussions.html#add-note-to-existing-issue-discussion), I can see that the method [ResourceDiscussions.addNote](https://github.com/jdalrymple/node-gitlab/blob/master/src/templates/ResourceDiscussions.ts#L16) isn't right. It is calling a `PUT`, while the endpoint e

[2019-06-10 00:43] jdalrymple commented on #342
Ill fix this in the next day! Sorry about that :s

[2019-06-10 15:49] gvso opened #343 "Cannot read property json of undefined when removing a hook"
**Description**

I'm trying to remove a webhook from my application, which is correctly removed on GitLab, but the promise is rejected anyways with the error:

[code]

**Steps to reproduce**
This the code I'm using to remove hooks. `api` has been defined in my class:
[code]

Is there something I'm doing wrong or is this an issue with the project?

[2019-06-10 15:53] jdalrymple commented on #343
Hmm looks good. I think the error may have to do with the response / error handling. To make sure the errors don't get swallowed, we added a catch to output them properly but it could be causing this problem.

To figure it out id check to see if an error is being thrown in that try catch, and go from there. Ill try and get around to this at some point in the week :)

[2019-06-10 15:54] jdalrymple commented on #338
I tinkered with this over the weekend but kept running into road blocks locally. Ill try and devise another way of figuring this out later this week. Tonight is a write off #WeTheNorth 😂

[2019-06-10 15:56] jdalrymple commented on #329
Any new ideas as to this problem?

[2019-06-10 16:52] joelschou commented on #338
Thanks for looking into it! Go 🦖!

[2019-06-10 16:54] sjarrossay opened #344 "Wrong URL for some groups"
When I call GroupsBundle.GroupMembers.all
For some group id, I got an error 404 with this URL built :
`url:"https://gitlab.xxx.xx/api/v4/groups/groups/593/members?id=593&page=2&per_page=20"url:"https://gitlab.xxx.xx/api/v4/groups/groups/593/members?id=593&page=2&per_page=20"`

for exemple this call
this.groups.GroupMembers.all(593,false)

[2019-06-10 17:03] jdalrymple commented on #344
Hmm, which version of the library are you using?

[2019-06-10 17:07] sjarrossay commented on #344
The last : 6.3.0

It's very strange error is made always with the same id, if I take 600 for exemple or return good results.

[2019-06-10 17:08] jdalrymple commented on #344
That's really odd. I'll give it a look!

[2019-06-10 17:19] #342 closed

[2019-06-10 17:39] jdalrymple commented on #342
:tada: This issue has been resolved in version 6.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/6.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-10 17:45] jdalrymple commented on #343
I added this change in this recent branch. Hopefully it helps with the error handling

[2019-06-10 18:10] #343 closed

[2019-06-10 18:11] jdalrymple commented on #343
Follow up if you still run into the same problem :)

[2019-06-10 18:29] jdalrymple commented on #343
:tada: This issue has been resolved in version 6.3.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/6.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-10 19:17] gvso commented on #343
Thanks for the quick reply! That seems to solve the previous issue, but it's creating a new one:

[code]

[2019-06-10 19:31] jdalrymple commented on #343
Oh no, hmm.

I think thats from line 41 from the KyRequester, but that cant be correct. All responses should contain the content-type :s

[2019-06-10 20:01] jdalrymple commented on #343
Hopefully this one fixes that edge case 🤞

[2019-06-10 20:38] gvso commented on #343
Yes, this solved the issue. Thank you so much!

[2019-06-10 21:33] jdalrymple commented on #343
:tada: This issue has been resolved in version 6.3.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/6.3.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-11 01:03] obartra commented on #344
I'm getting similar issues with `/api/v4/projects/projects/:slug/merge_requests/:iid/notes`

[2019-06-11 12:20] jamime opened #348 "Ky process does not exit"
I have found when using node-gitlab within danger the node process does not exit, this is a bug in [ky](https://github.com/sindresorhus/ky/issues/138).

After, reviewing the `ky` and `ky-universal` package, it [recommends using got](https://github.com/sindresorhus/ky-universal) if you only intend on supporting node.
I suggest that we heed their advice and migrate to the [got package](https://www.n

[2019-06-11 12:31] jdalrymple commented on #348
We switched to Ky to allow for a browser compatible version. Got does not allow for this, that's why we're using ky-universal

[2019-06-11 15:26] jdalrymple commented on #344
Ill check them out at the same time

[2019-06-11 16:56] jdalrymple commented on #344
Found the problem, latest push should handle this :)

[2019-06-11 17:01] obartra commented on #344
Hey thanks for the super fast turn around on this!

It could be my setup but I just ran it locally and I'm getting this error instead:

[code]

[2019-06-11 17:03] jdalrymple commented on #344
Yup found it!

[2019-06-11 17:06] greenkeeper[bot] opened #349 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.15.0` to `1.15.1`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Frollup-1.15.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It **

[2019-06-11 17:06] jdalrymple commented on #344
Give that a try :)

[2019-06-11 17:21] #349 closed

[2019-06-11 17:34] obartra commented on #344
Hey I'm not seeing the commit to pull, did you push it somewhere else?

[2019-06-11 17:36] jdalrymple commented on #344
Its in the 344-pagination branch. Should be there: https://github.com/jdalrymple/node-gitlab/commit/38d50dc6e8b3d4ee91888bdb6489bed5f7d145dc

[2019-06-11 17:41] obartra commented on #344
💥 yeah that was it, it's working now

![](https://media.giphy.com/media/l2Sqir5ZxfoS27EvS/giphy.gif)

[2019-06-11 18:11] #344 closed

[2019-06-11 18:36] jdalrymple commented on #344
:tada: This issue has been resolved in version 6.3.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/6.3.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-11 18:42] sjarrossay commented on #344
Thx my Lord

[2019-06-12 06:54] DanielRose commented on #329
The problem is that Typescript type definitions work a bit differently than what you are trying to do here:

The /// references are used for including additional type definitions for modules which are not directly referenced. That is why the compiler is adding them to all compiled files.

When working in the project, everything works because the `typings` directory (and the type definiton files in

[2019-06-12 07:44] sjarrossay commented on #329
I have same problem,
to not be blocked by this I copy/past typings folder in dist folder, dirt solution I agree.
but there is another problem at the and of all typings

[code]

[2019-06-12 10:15] sjarrossay commented on #344
Arf with this new version I have this issue
When I call

[code]
I receive an error with this URL :

Do I create new issue ?

[2019-06-12 13:16] jdalrymple commented on #344
Hmm, that would be the same problem. Which version number?

[2019-06-12 13:27] casz commented on #344
his using host with `http://` (or perhaps without protocol) most likely and his host returns `https://` :laughing:
That's why the replace regex was there in the first place :laughing:

Perhaps @sjarrossay you could fix your gitlab config?

[2019-06-12 13:30] jdalrymple commented on #344
Lmao you're right. That's exactly why we did that. I'll fix the regex today then

[2019-06-12 13:34] casz commented on #344
or perhaps his host returns a different hostname, he did just type `.xxx.xxx` :cry:

protip put the link in in backticks `` `https://gitlab.xxx.xxx/api/v4/https://gitlab.xxx.xxx/api/v4/users/520/events?action=pushed&after=2019-06-02&before=2019-06-09&id=520&page=2&per_page=20&sort=desc`

[2019-06-12 13:36] casz commented on #344
to a human, these URL looks the same but again the URL has been "sanitized" for a very secret URL :scream:

[2019-06-12 13:40] DanielRose commented on #329
@sjarrossay Those types are part of the DOM. Your consuming project needs to include the dom library. Normally this is done by adding "dom" to the "lib" section of your `tsconfig.json`, for example:

[code]

[2019-06-12 13:43] sjarrossay commented on #344
That's ;) It's my secret garden

[2019-06-12 13:50] sjarrossay commented on #344
I replace my hostname by xxx.xx
The response of bundle give me the real url

[2019-06-12 13:53] casz commented on #344
Why do you do the replacement, if I may ask? :cry:

[2019-06-12 13:54] jdalrymple commented on #344
So they dont have post their hostname on github lol?

[2019-06-12 13:56] casz commented on #344
nono, as I understood him his doing hostname replacement. So inside his hosts file his using one hostname for his gitlab server but the gitlab instance returns him another :laughing:

[2019-06-12 13:58] jdalrymple commented on #344
I think the only way I can fix this is by putting back the regex, but include the custom url token that may of been added when a service is initialized.

ie. if this.url = http://gitlab.com/api/v1/orders

then the replace has to be for /.+\/api\/v\d\/orders/

Why is it that the host string isnt https to begin with if the pagination links are asking for https?

[2019-06-12 14:02] casz commented on #344
Perhaps do nothing? @sjarrossay is a special case :cry:

[2019-06-12 14:06] jdalrymple commented on #344
Would it ever be the case that your host would be different then the pagination url? If they should be the same security, I could just throw an error?

[2019-06-12 14:38] sjarrossay commented on #344
@casz to be clear : there is no problem about hostname of my gitlab server.
host give me the good one.

[2019-06-12 14:44] jdalrymple commented on #344
Yea the http one may work just fine, but if gitlab returns https, shouldnt the https prefix be used in the hostname instead?

[2019-06-12 15:05] sjarrossay commented on #329
Fine thx

[2019-06-12 17:10] scottboyd-ai opened #352 "Merge Request pipelines URL host is duplicated in request"
**Description**

When calling MergeRequests.pipelines(), the url of the get request has the host url duplicated.

It returns the following 404:

{ HTTPError: Not Found
    at fn (C:\dev\gitlab-tool\node_modules\ky\umd.js:242:12)
    at <anonymous>
    at process._tickCallback (internal/process/next_tick.js:188:7)
  name: 'HTTPError',
  response:
   Response {
     size: 0,
     timeout: 0,
     [S

[2019-06-12 17:21] scottboyd-ai commented on #352
This appears to be a problem on a number of functions including MergeRequest.commits() and Commits.show().

[2019-06-12 17:27] sjarrossay commented on #344
If you ask about hostname in conf yes https is used.
With previous version, I never see this issue

[2019-06-12 18:56] jdalrymple commented on #352
#353 related

[2019-06-12 20:16] #329 closed

[2019-06-12 20:41] jdalrymple commented on #352
:tada: This issue has been resolved in version 6.3.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/6.3.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-12 20:58] scottboyd-ai commented on #352
I'm still experiencing this issue on 6.3.6.

[2019-06-12 20:59] jdalrymple commented on #352
Lol see #354

[2019-06-12 21:00] jdalrymple commented on #352
-

[2019-06-12 21:42] casz commented on #352
Hopefully, 6.3.7 should fix your issue @scottboyd-ai

[2019-06-12 21:43] casz commented on #344
Hopefully, 6.3.7 should fix your issue @sjarrossay

[2019-06-12 21:45] sjarrossay commented on #344
Yeah lot of thanks, i try it tomorrow

[2019-06-12 22:18] scottboyd-ai commented on #352
Looks great! You guys are the best!

[2019-06-12 22:18] #352 closed

[2019-06-13 05:12] sjarrossay commented on #344
Tested, just one word : perfect

[2019-06-13 12:13] Vrtak-CZ opened #355 "Projects.upload not working"
**Description**

`Projects.upload` not working because of switch to **Ky**

[code]

**Steps to reproduce**

Just try to use `Projects.upload`.

**Expected behaviour**

Create project attachment

**Actual behaviour**

[code]

**Possible fixes**
I have no idea how to fix that with Ky

[2019-06-13 12:13] Vrtak-CZ opened #356 "Projects.upload not working"
**Description**

`Projects.upload` not working because of switch to **Ky**

[code]

**Steps to reproduce**

Just try to use `Projects.upload`.

**Expected behaviour**

Create project attachment

**Actual behaviour**

[code]

**Possible fixes**
I have no idea how to fix that with Ky

[2019-06-13 12:14] Vrtak-CZ commented on #355
It's been working OK with `5.0.0-rc.12`

[2019-06-13 12:19] #356 closed

[2019-06-13 12:20] Vrtak-CZ commented on #355
I pointed it out here https://github.com/jdalrymple/node-gitlab/pull/265#issuecomment-468014394

[2019-06-13 17:19] jdalrymple commented on #355
Hmm, do you still run into trouble with 5.0.0?

[2019-06-13 17:59] jdalrymple commented on #355
I think i have a fix, ill push a branch tonight :)

[2019-06-14 12:08] ddsultan opened #357 ""rejectUnauthorized: false" option is being ignored"
**Description**

I am trying to fetch some user information from a Gitlab server which has a self-signed certificate. With the code:

[code]

 the `gitlab` module throws an error `"Error: unable to verify the first certificate"`. As the documentation suggests ([https://github.com/jdalrymple/node-gitlab#handling-https-certificates](url)), I did the following:

[code]

**Steps to reproduce**

**Expe

[2019-06-14 15:44] jdalrymple commented on #357
Need to update the fetch call to pass agent:

https://github.com/bitinn/node-fetch/issues/15

[code]

Ill get around to this soon sorry!

[2019-06-15 22:16] jdalrymple commented on #338
I think i implemented the streaming capability incorrectly, and/or its not supported how i believed it was. I
I'm asking the creator of ky for more info :)

[2019-06-15 22:28] jdalrymple commented on #297
Just waiting to get confirmation for the streaming API in ky :)

[2019-06-16 00:34] jdalrymple commented on #279
How should each request be logged? What would be most useful?

[2019-06-17 04:20] #212 closed

[2019-06-17 16:05] jdalrymple commented on #338
So apparently the streaming functionality isn't supported by ky, but could be with a PR. So I may fork it and submit a PR with the functionality. I'm the mean time ill remove it from the exposed API to avoid confusion :(

[2019-06-17 18:25] klorenzen7 commented on #306
Yes, I would like to use that api. We roll up our issues to a group board so pulling issues by group is the best way for me to work with them. Other apis would let me pull issues by user but then I can not filter by group. GET /groups/:id/issues?labels=doing would be great. :-)

[2019-06-18 02:05] jdalrymple commented on #297
Putting this on hold until ky supports streaming

[2019-06-20 14:42] ianliu commented on #342
@jdalrymple thanks! :tada:

[2019-06-26 15:22] #306 closed

[2019-06-27 09:29] mayorova opened #373 "Add missing endpoints for Deploy Keys"
**Description**
Current implementation of the [DeployKeys](https://github.com/jdalrymple/node-gitlab/blob/da1a8f6/src/services/DeployKeys.ts) doesn't include some endpoints:

Here is the mapping with the current GitLab API documentation:

node-gitlab | GitLab API | Documentation
------------ | ------------- | -------------
`.add` | `POST /projects/:id/deploy_keys` | [Add deploy key](https://docs.g

[2019-06-27 11:08] checkmatez opened #374 "Push rules"
**Description**
Not sure if it already implemented, but I wasn't able to find - how to create push-rules via API? https://gitlab.com/gitlab-org/gitlab-ee/merge_requests/2367

**Proposal**
Add PushRules namespace.

[2019-06-27 14:33] jdalrymple commented on #374
https://github.com/jdalrymple/node-gitlab/blob/master/src/services/PushRule.ts

Though it should be pluralized. Oops, will fix that in a future release.

[2019-06-27 14:33] #374 closed

[2019-06-27 14:34] jdalrymple commented on #373
This is a well formatted issue <3. Ill fix this asap

[2019-06-27 15:57] checkmatez commented on #374
Oh, I guess it is not yet released?

[2019-06-27 16:19] jdalrymple commented on #374
Hmm no it should be released :s?

[2019-06-27 16:33] jdalrymple commented on #373
Not to worried about the breaking change, that's the benefit of them semver numbers.

[2019-06-27 16:39] jdalrymple commented on #374
It was missing from the project bundle and the README. Fixing it now!

[2019-06-27 16:44] jdalrymple commented on #373
Give the PR a look to make sure I didnt overlook something! :D

[2019-06-27 18:51] mayorova commented on #373
@jdalrymple Wow, that was a fast fix! 🚀 Thank you so much!

I am not too familiar with TypeScript, but it looks good to me! 🙂

[2019-06-28 18:49] jdalrymple commented on #306
:tada: This issue has been resolved in version 6.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/6.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-28 18:49] jdalrymple commented on #212
:tada: This issue has been resolved in version 6.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/6.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-28 18:49] jdalrymple commented on #355
:tada: This issue has been resolved in version 6.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/6.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-28 18:49] jdalrymple commented on #357
:tada: This issue has been resolved in version 6.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/6.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-29 06:01] fullstackwebdev opened #377 "TypeError: global$1.XMLHttpRequest is not a constructor"
**Description**

I am unable to get a basic example to work.

I then decided to just open up 'node' on my shell and try to import Gitlab, I got an error
see below:

Also the examples on the readme.MD do not work -- there are invalid syntax errors ("=" where it should be ":") and there doesn't seem to be a 'fool proof cut and paste this to check if your env is OK' to get me started.

**Steps to rep

[2019-06-29 17:42] nromanen commented on #377
The same issue occurs for me

[2019-06-29 17:48] jdalrymple commented on #377
Very very  weird. I'll look into this today. Which version of the library are you guys using ?

[2019-06-29 18:33] nromanen commented on #377
7..0.0

[2019-06-29 19:38] jdalrymple commented on #377
So odd since the xml file has been removed months ago...

[2019-06-29 23:35] jdalrymple commented on #377
Seems to be due to the addition of the https Agent. Looking into how to work around it.

[2019-06-30 00:48] casz commented on #377
Just say no to allowing to connect to unsecure sites... it is not that hard to import a certificate

[2019-06-30 00:55] jdalrymple commented on #377
I mean that's one way forward. It's just frustrating because node fetch does support it, but for some reason the packing with rollup returns a package with this error. Almost like the polyfill is missing.

[2019-07-01 12:39] gdelory commented on #377
Just wanted to add that the problem appeared for me when upgrading from 6.3 to 6.4, and was still there with 7.0. So I assumed this was introduced with 6.4, just in case that helps.

[2019-07-01 16:27] jdalrymple commented on #377
Yup it was due to the introduction of the https Agent class

[2019-07-01 16:53] jdalrymple commented on #377
Give it a check now! :D

[2019-07-02 09:58] gdelory commented on #377
7.0.1 works fine, thanks!

[2019-07-02 14:33] #377 closed

[2019-07-02 14:37] jdalrymple commented on #373
Build has been fixed, and released with 7.0.1 :)

[2019-07-02 14:37] #373 closed

[2019-07-02 14:47] mayorova commented on #373
Awesome, thanks a lot @jdalrymple !

[2019-07-03 08:31] descampsk commented on #355
Hello,
I don't know if I'm using the API incorrectly but I can't get Project.upload to work with version 8.0.0, express and multer.

Here is my code:

[code]

Am I doing something wrong ?

I got the following error :

[code]

[2019-07-03 13:55] jdalrymple commented on #355
Hmm, should work. I'll give it a look later!

[2019-07-04 20:20] #355 closed

[2019-07-04 20:21] jdalrymple commented on #355
Should be fine now! Give it a look when you get the chance

[2019-07-04 20:41] jdalrymple commented on #355
:tada: This issue has been resolved in version 9.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/9.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-05 13:46] descampsk commented on #355
Working ! Thanks

[2019-07-05 21:26] nromanen opened #383 "How can I get just groups, w/o subgroups?"
<img width="830" alt="Screen Shot 2019-07-06 at 12 22 54 AM" src="https://user-images.githubusercontent.com/4123050/60745837-a557b980-9f84-11e9-8d13-68c8c8c9c9af.png">
<img width="426" alt="Screen Shot 2019-07-06 at 12 24 07 AM" src="https://user-images.githubusercontent.com/4123050/60745838-a7217d00-9f84-11e9-96f2-7a8a1862bf47.png">

[2019-07-06 17:44] nromanen commented on #383
https://github.com/jdalrymple/node-gitlab/blob/master/src/services/Groups.ts#L67

Sorry 🥇

[2019-07-06 21:12] #383 closed

[2019-07-08 13:19] r1m commented on #254
I think we still have an issue when variable name contains mixed case :
[code]

results in

[code]

[2019-07-08 13:58] jdalrymple commented on #254
hmm true, easy fix, just need to change the regex to look for any capitalized characters.

[2019-07-08 15:24] r1m commented on #254
I'm wondering : why do you need to decamelize keys ?

[2019-07-08 15:40] jdalrymple commented on #254
Since it's JS, it allows users to pass in camelized variables. But since gitlab only takes in snake cased ( with the exception of variables like you're using), I had to make sure to decamelize

[2019-07-08 16:51] jdalrymple commented on #254
Give it a look, should work for the majority of the use cases :)

[2019-07-08 18:04] alaincao opened #384 "Documentation: Simple Typescript usage example"
**Description**
Heylow, I'd like to have a simple example on where I can find the types returned by the different functions. e.g.
[code]
The thing is that I would like to pass them to e.g. a function, and for now I am using `any` where the `WHAT_AM_I???` is, but that kinda defeats the purpose ...
I am hitting a wall for *days*, here ; I have a hint with the
[code]
I saw in issue # 257, but still,

[2019-07-08 18:43] alaincao opened #385 "Incorrect pagination behaviour when using the library in Electron (Specifically renderer process)"
**Description**

I am currently trying to upgrade a project from v4.2.7 (which is **still** working fine with this version today) to v8.0.0 (and now v9.0.0) and I have problems with pagination.
I am obviously doing something wrong, but I really can't see what ...

I noticed that the default behaviour for all `api.XXX.all()` with no parameter now is to returns only 20 rows. That seem to contradict

[2019-07-08 18:52] alaincao commented on #385
Hint:
if I HTTP GET directly at `/api/v4/projects/8/pipelines`, I get 20 rows.
and if I do `/api/v4/projects/8/pipelines?per_page=110`, I get 100 rows ...

[2019-07-08 19:26] jdalrymple commented on #384
Ill throw something together in the next couple days!

[2019-07-08 19:27] jdalrymple commented on #385
That is very very odd. Ill give it a look soonish, hopefully its something small!

[2019-07-09 14:17] jdalrymple commented on #385
You used the code you specified above?

![image](https://user-images.githubusercontent.com/3743662/60895420-a3b31d80-a232-11e9-9cc4-80e941b53a47.png)

If you wanted all results, why specify the page? Though even if you did, the rest of the pagination information should be there. Anyways looking into it now!

[2019-07-09 14:42] tiger-seo opened #386 "Process hanging when using async/await with ProjectsApi or TagsApi"
**Description**

Data from response is returned and then process is hanging until time out as defined in requestTimeout when using async/await with Projects and Tags apis. This problem was in the v5.0.2 and it exists in the v8.0.0.

**Steps to reproduce**

[code]

// The code above is reproducing the problem

**Expected behaviour**

No hang, but immediate process terminate after data return.

**Ac

[2019-07-09 14:49] jdalrymple commented on #386
#348

[2019-07-09 14:49] #386 closed

[2019-07-09 15:57] alaincao commented on #385
That was just test. With or without, it did not change the `undefined` values.

[2019-07-09 22:09] greenkeeper[bot] opened #388 "An in-range update of jest-extended is breaking the build 🚨"
## The devDependency [jest-extended](https://github.com/jest-community/jest-extended) was updated from `0.11.1` to `0.11.2`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Fjest-extended-0.11.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

jest-extended is a

[2019-07-10 09:17] r1m commented on #254
This works for me 👍

[2019-07-10 09:56] r1m commented on #254
After digging the API I found that the behaviour is different if you trigger a pipeline or create a new one.

### Trigger pipeline
You need first to create/retrieve a trigger token, then the variables should be given as a hash:

[code]

![image](https://user-images.githubusercontent.com/137285/60959888-48079380-a309-11e9-8c6b-44bb7df193ac.png)

### Create a new pipeline
This will use your private

[2019-07-10 14:45] jdalrymple commented on #254
Hmm, the second one should of always worked since the code i modified only affects the keys, not their values.

As for the variable option, according to the gitlab api docs, the [second one](https://docs.gitlab.com/ee/api/pipelines.html#create-a-new-pipeline) only accepts an array, while the [first one only accepts a hash](https://github.com/python-gitlab/python-gitlab/issues/333#issuecomment-3338

[2019-07-10 14:45] #388 closed

[2019-07-10 17:27] r1m commented on #254
Agree, I was only documenting the behavior I encounter, since it's not really clear at first sight why we get badrequest or internal error.

Yes, our changes only affect the first one and it works for variables that matches my need.
It fails on something more exotic like 'mix_UP_name'. But that's another story and may be listed as a limitation in future doc.

Maybe a regex that filter out keys wit

[2019-07-10 18:10] jdalrymple commented on #254
I doubt such a variable would be used, but if it is well just change up the regex in the future!

[2019-07-10 19:32] jdalrymple commented on #254
I'll release as soon as the test pasts. Getting a weird error rn :/

[2019-07-11 20:41] #254 closed

[2019-07-11 21:04] jdalrymple commented on #254
:tada: This issue has been resolved in version 9.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/9.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-12 08:39] tuntuntutu opened #392 "v3 branches.create request use wrong key"
If I use `gitlab` like this,
[code]
it will send request params like
[code]
and will receive  the response like
[code]

the request key named `branch` should be  'branch_name'。

[2019-07-12 11:28] r1m commented on #254
Thanks for your quick response and fix 👍

[2019-07-12 14:03] jdalrymple commented on #392
no worries, will fix this up in a min :)

[2019-07-12 14:50] jdalrymple commented on #392
Just as a side note, you probably should update to v4 😆 Its been out for a while.

[2019-07-12 17:03] jdalrymple commented on #385
So i tested the pagination with labels and it seems to work. Ill check pipelines directly and see if anything sticks out there :(

[2019-07-12 17:18] jdalrymple commented on #384
So I haven't been able to get around to this. If anyone has time this would be a good first issue!

[2019-07-12 17:55] #392 closed

[2019-07-12 19:47] jdalrymple commented on #385
If you get the chance, could you check that you get the same results when getting all the labels through the labels api

[2019-07-13 19:05] alaincao commented on #385
First: sorry I could not do this earlier, but I could not afford to lose more time on this at work ...

I made some tests to isolate the problem, and when I run the code from the CLI, it works as expected.
But I tend to first develop my modules using Electron, and from there, I have the problematic results above: 'all()' returns 20 lines and 'showPagination:true' is not working.

So it seems Elect

[2019-07-15 12:44] jdalrymple commented on #385
No worries! I appreciate the extra investigation :)

[2019-07-15 15:55] Ivaylo-Lafchiev commented on #348
Is this being looked at?
Is there any custom requester that's currently supported that doesn't exhibit this behavior? In fact, what custom requesters _are_ supported, as the docs don't make that clear?

[2019-07-15 16:13] jdalrymple commented on #348
Just waiting for the PR to be merged: https://github.com/sindresorhus/ky/pull/145

Currently no, though it would be really easy to create a custom requester using got that wouldn't have this problem. Thought with the PR basically at the end of its review, it seemed like overkill to do that. The custom requester can be ANY request library, but should follow the same request options/response structu

[2019-07-15 17:11] Ivaylo-Lafchiev commented on #348
Gotcha, thanks for clarifying.

On Mon, 15 Jul 2019, 17:16 Justin Dalrymple, <notifications@github.com>
wrote:

[2019-07-15 19:08] Helam24 commented on #385
I'm also having problems in Electron. Only getting 20 results from the `.all` calls for everything I'm using (Branches, MergeRequests).

[2019-07-15 20:16] Helam24 commented on #385
@alaincao @jdalrymple Just found that it does work properly if the api calls are done on the main electron process, and not the renderer process (how-to on this demonstrated here https://ourcodeworld.com/articles/read/537/how-to-execute-a-function-of-the-main-process-inside-the-renderer-process-in-electron-framework).

Would be nice if it worked either way though.

[2019-07-16 14:32] jdalrymple commented on #385
I wonder what would make the difference :/

[2019-07-16 18:54] jdalrymple commented on #309
I recently changed the integration tests to run on the compiled binaries in the dist folder. This problem shouldn't arise again BUT we should include browser testing to ensure its compatibility

[2019-07-17 07:51] pkaske opened #394 "How do I close the connection or clean up in general"
**Description**

I'm coding a cli tool with commander.js and in one of my command I use `RepositoryFiles.showRaw` to download the contents of a file. I noticed that the cli tool won't exit but stay running as soon as I use a gitlab api call. Is there a way to cleanup to make the cli exit after the api call is finished?

**Steps to reproduce**

[code]

Then run it with `node . download` you will no

[2019-07-17 15:38] jdalrymple commented on #394
Just waiting for the PR to be merged connected to this issue #348

[2019-07-17 15:38] #394 closed

[2019-07-26 11:02] pratikjagrut opened #396 "HELP: How can I get status code returned by Gitlab API?"
I want to check whether repo is reachable or not. e.g If I make a get request on gitlab URL and if URL is wrong then it will return an error code like `404 Not found`, but if everything is good it will return status code `200 OK`. So how can I get this status code?

[2019-07-26 13:34] centigrade-thomas-becker commented on #348
Can someone please tell me which older version of node-gitlab does not exhibit this behaviour?

[2019-07-26 15:20] jdalrymple commented on #348
The last release of 4.x I believe, so 4.5.1?

[2019-07-26 15:24] jdalrymple commented on #396
Currently it should just throw an error and return an error message in the response. That error that is thrown **should** be the response error which would include the status code.

This is how its handling the call internally:

[code]

[2019-07-29 06:28] pratikjagrut commented on #396
How can I check repo is reachable or not? Can you show me any code snippet or example for it?

[2019-07-29 06:51] pratikjagrut commented on #396
And one more issue I'm facing is any method for `client.Branches.all(this.projectID)` is giving me result quickly but taking a too long time to finish the call after I get the result.

[2019-07-29 07:30] casz commented on #396
it's basic try catch or promise then catch handling.

[2019-07-29 08:43] centigrade-thomas-becker commented on #348
I have tried some newer versions and 8.0.0 worked for me.

[2019-07-29 13:04] tiger-seo commented on #348
@jdalrymple the fix in Ky has been merged https://github.com/sindresorhus/ky/releases/tag/v0.11.2

[2019-07-29 14:26] jdalrymple commented on #396
@pratikjagrut see issue #348 for the timeout bug. Hopefully gonna get that merged today.

[2019-07-29 14:28] jdalrymple commented on #348
@centigrade-thomas-becker Thats good, but weird lol I guess the timeout behaviour was added to ky more recently?

[2019-07-29 14:28] #348 closed

[2019-07-29 19:20] awgeorge commented on #348
Supposedly, it was a regression. So an older version may very well work. @jdalrymple, when you're able to make a patch release, I'll update https://github.com/danger/danger-js/issues/875. Thanks.

[2019-07-30 06:43] pratikjagrut commented on #396
@jdalrymple **Kudos** I just tried my code and timeout issue is no more.

[2019-07-30 14:46] #396 closed

[2019-07-31 06:49] pratikjagrut opened #398 "JEST test is breaking due to async callback was not invoked."
We discussed the [timeout issue](https://github.com/jdalrymple/node-gitlab/issues/396#issuecomment-516014362), and it is fixed in the latest release. But I'm still facing a similar problem while I'm running a test written using JEST.

This is a small method
[code]
I get an expected output when I run it manually.

Test:
Here GitSource is a wrapper, it will initialize `Gitlab()` client
[code]

This

[2019-07-31 12:57] qtiki opened #399 "Projects.all returns duplicates"
**Description**

Getting all projects via `gitlab.Projects.all()` returns duplicate entry for every project.

**Steps to reproduce**

[code]

Also tested with pagination settings: `gitlab.Projects.all({ perPage: 1024 })` and the result is the same.

**Expected behaviour**

Expected to see just one entry per project

**Actual behaviour**

Every entry in the projects array is duplicated.

**Possible

[2019-07-31 13:01] qtiki commented on #399
Please forget I ever said anything! Just noticed that the problem was in the way I was calling my code and it was in fact called twice. Closing this.

[2019-07-31 13:01] #399 closed

[2019-07-31 14:08] jdalrymple commented on #398
Hmm, do you get similar results if the test is changed a bit to:

[code]

Also how long does it take to get the response when you run it outside of the test? im guessing much less than 10k ms

[2019-08-01 15:56] kandarp9 opened #400 "Missing merge base API in Repositories"
The merge base API (to get the common ancestor for 2 or more refs) is not implemented in gitlab node module version 10.0.1.
The REST API is exposed by Gitlab - https://docs.gitlab.com/12.0/ee/api/repositories.html#merge-base

Please add :-)

[2019-08-05 07:52] hugohua opened #401 "miss FormData"
![image](https://user-images.githubusercontent.com/1908773/62447875-f4b62300-b798-11e9-9f61-8eee32f1de12.png)

need add `import FormData from 'form-data';` to infrastructure/index.ts.ts file

[2019-08-05 08:36] pratikjagrut commented on #398
I tried as you said but it's still failing and outside the test, it taking `6579 ms` less than 10k ms as you guessed.

[2019-08-05 17:06] DanielRuf opened #402 "missing migration section in docs"
**Description**
It seems https://github.com/jdalrymple/node-gitlab/blob/master/README.md#migrating-from-node-gitlabnode-gitlab does not exist (anymore).

**Steps to reproduce**
Go to https://github.com/jdalrymple/node-gitlab/blob/master/README.md#migrating-from-node-gitlabnode-gitlab

**Expected behaviour**
There should be a migration guide.

**Actual behaviour**
There is no migration guide.

**Po

[2019-08-05 17:09] jdalrymple commented on #402
Oops i missed removing the reference!

[2019-08-05 18:25] greenkeeper[bot] opened #403 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.18.0` to `1.19.0`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Frollup-1.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It **

[2019-08-05 21:35] DanielRuf opened #404 "Users.session throws 404"
**Description**
https://github.com/jdalrymple/node-gitlab/blob/226b11f48c1f5041de11d042708df9c3ed229c6a/src/services/Users.ts#L51

`await api.Users.session(user, pass)` throws a 404

https://gitlab.com/api/v4/session

**Steps to reproduce**

**Expected behaviour**

**Actual behaviour**

**Possible fixes**

[2019-08-06 14:21] jdalrymple commented on #404
https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CHANGELOG.md#1020-2017-11-22

Apparently the Session API was removed a while back in v 10.2.0. I could add an error message to make that clearer?

[2019-08-06 14:21] #404 closed

[2019-08-06 14:24] #403 closed

[2019-08-06 14:37] #401 closed

[2019-08-06 14:39] #402 closed

[2019-08-06 14:45] jdalrymple commented on #398
Hmm, im not really sure :( Its odd that it only happens in jest situations

[2019-08-06 14:58] jdalrymple commented on #401
:tada: This issue has been resolved in version 10.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/10.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-06 14:58] jdalrymple commented on #404
:tada: This issue has been resolved in version 10.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/10.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-06 15:27] jdalrymple commented on #404
:tada: This issue has been resolved in version 10.0.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/10.0.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-06 15:28] #400 closed

[2019-08-06 15:50] jdalrymple commented on #400
:tada: This issue has been resolved in version 10.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/10.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-07 16:08] 128keaton opened #407 "Gitlab with Angular 8 (crypto/randomstring)"
**Description**
I am unable to use the `node-gitlab` npm package in my Angular 8 project since, during compiliation, it complains about missing the `crypto` module (referenced from the `randomstring` module required by `node-gitlab`:

[code]

1. Install the Gitlab npm package in an Angular project `npm i --save gitlab`
2. Attempt to build the Angular project `ng build` (or `ng serve`)

**Expected

[2019-08-07 16:15] 128keaton commented on #407
Well, I actually found a workaround, but I'm not happy about it.

I had to add the following to my `package.json`:
[code]

Then, to fix the next issue, I added the following to my `src/polyfills.ts`:
[code]

Is this actually fixable without this workaround (I guess without the global crypto module?)

[2019-08-07 17:09] jdalrymple commented on #407
I could try replacing randomstring with something internal?

[2019-08-07 18:33] 128keaton commented on #407
@jdalrymple right... this is why I was hesitant to actually open an issue in the first place. What about using something like https://www.npmjs.com/package/docker-names?

Looks like you're just creating default project filename metadata:

https://github.com/jdalrymple/node-gitlab/blob/3e77d07f5421dac65814995e474ab747ea9b6c91/src/services/Projects.ts#L139

https://github.com/jdalrymple/node-gitlab/

[2019-08-07 18:58] jdalrymple commented on #407
Works for me. The user reallllly should pass a filename, so anything generated should be fine :)

[2019-08-07 18:59] jdalrymple commented on #407
Actually, may be better just to use a timestamp no?

[2019-08-07 20:40] 128keaton commented on #407
@jdalrymple Actually, yes, that makes the most sense (literally what base random is anyway, ha!). I'll fork and open a PR later today. Thanks!

[2019-08-09 15:42] vcajes opened #409 "Gitlab Blame API"
**Description**
Integrate to the new Gitlab Blame API that is being released on Gitlab v12.2

https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/30675

**Proposal**
1. Wait for the new feature to be released on around ~2 weeks
2. Read the new docs about the Gitlab Blame API https://docs.gitlab.com/ee/api/repository_files.html#get-file-blame-from-repository
3. Create the new object RepositoryFi

[2019-08-09 16:21] #407 closed

[2019-08-09 16:43] jdalrymple commented on #407
:tada: This issue has been resolved in version 10.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/10.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-10 23:11] Charuru opened #410 "Support creating fork relationships"
Fork relationship described here:
https://docs.gitlab.com/ce/api/projects.html#fork-relationship

**Steps to reproduce**

`  api.Projects.fork(65, 66)
`

**Expected behaviour**

A new fork relationship is created between 65 and 66.

**Actual behaviour**

Tries to fork 65.

[2019-08-11 00:43] jdalrymple commented on #410
api.Projects.fork only supports forking projects at the moment, not forking relationships :) Will add soon!

[2019-08-12 07:50] pratikjagrut commented on #398
Any updates on this, any workaround to this bug? Or do you know anyway changes which I can do in tests to make it work?

[2019-08-13 14:30] jdalrymple commented on #398
@pratikjagrut As of right now, not yet :( Still trying to narrow down the problem.

[2019-08-13 15:00] jdalrymple commented on #328
More questions about this feature! How do the requests change to use the caching feature? is it a different url? or an additional header. I can't seen to find an example 😕

[2019-08-13 16:28] #409 closed

[2019-08-13 16:29] #410 closed

[2019-08-19 12:31] LRH539 opened #416 "Unable to export project: Unrecognized archive format"
**Description**

I'm not able to export a project using this library. I'm polling the export status and as soon as the project is ready for export I download it:

[code]

[2019-08-19 14:55] jdalrymple commented on #416
Hmm, im not sure. Ill give it a look this week!

[2019-08-20 18:12] tiger-seo opened #417 "TS compilation is broken because of FormData since v10.0.2"
**Description**
since version 10.0.2 my build is broken because of FormData, please, see error output below:
[code]
i guess this is a regression after https://github.com/jdalrymple/node-gitlab/issues/401

**Expected behaviour**
build success

**Actual behaviour**
build error

[2019-08-21 09:47] ksaaskil commented on #384
I was able to infer the type of `new Gitlab(...)` with following:
[code]
If that looks good, I can add a PR to add that in documentation and/or export the types for easier access?

[2019-08-21 09:49] ksaaskil commented on #384
No wait I'm dumb, one can use the built-in `InstanceType`:
[code]

[2019-08-21 13:57] jdalrymple commented on #417
Hmm, ill give it a look!

[2019-08-21 19:47] greenkeeper[bot] opened #418 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.19.4` to `1.20.0`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Frollup-1.20.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It **

[2019-08-21 19:52] casz commented on #418
I wonder if it would help disable the in-range update breaking check... Getting annoying to watch this repo 😆

[2019-08-21 19:55] casz commented on #418
Hmm I wonder how this actually failed: https://travis-ci.org/jdalrymple/node-gitlab/jobs/575018538#L229

Wonder how this passed lint-staged? `114 chars` indeed

[2019-08-22 03:34] jdalrymple commented on #418
I hear yuh. Not sure why that keeps happening or how it passed to begin with :(. I think the config was incorrect until recently (their was a lib prefix in the lint staged config) Ill fix it up tomorrow

[2019-08-22 15:12] jdalrymple commented on #418
Should be fixed now :D

[2019-08-22 15:12] #418 closed

[2019-08-22 15:28] jdalrymple commented on #417
Not sure why i dont see this error :/

[2019-08-22 17:04] casz commented on #417
You need a test project that has a different tsconfig I believe

[2019-08-22 17:39] greenkeeper[bot] opened #419 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.20.0` to `1.20.1`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Frollup-1.20.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It **

[2019-08-22 17:44] #419 closed

[2019-08-22 18:35] jdalrymple commented on #417
Not sure how to fix it though. Besides removing the type check :s

[2019-08-22 18:40] casz commented on #417
Fix it upstream? 😓

[2019-08-22 20:51] jdalrymple commented on #417
Just removed the reference to @types/form-data since its deprecated anyways. Will test further later

[2019-08-22 21:00] greenkeeper[bot] opened #420 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `15.13.23` to `15.13.24`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Fsemantic-release-15.13.24).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

se

[2019-08-22 21:02] jdalrymple commented on #410
:tada: This issue has been resolved in version 10.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/10.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-22 21:02] jdalrymple commented on #409
:tada: This issue has been resolved in version 10.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/10.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-23 07:39] alfaproject opened #422 "Why is node 12 required?"
Renovate just attempted to update our `gitlab` dependency and the pipeline is failing with

[code]

We are a Serverless company and are using AWS Lambda with node 10 runtime, therefore we'd like our local environment to use node 10 at the most.

Is there any hard requirement for the `gitlab` module to really need node 12?

[2019-08-23 08:21] casz commented on #422
Send a pull request 😬

[2019-08-23 08:39] alfaproject commented on #422
@casz fair enough: https://github.com/jdalrymple/node-gitlab/pull/423

[2019-08-23 14:29] #420 closed

[2019-08-23 14:41] alfaproject commented on #422
This has not been fixed with https://github.com/jdalrymple/node-gitlab/commit/049bebca71f7fa5e4acf703b292c3a3a80adf107

Thank you @jdalrymple (:

[2019-08-23 14:41] #422 closed

[2019-08-26 21:51] pelallemant opened #424 "downloadLatestArtifactFile zip file is not valid"
Hi, thanks for having written this package.

**Description**

I didn't find any example using the download features. I was trying to download the last artifact of one of my project from my gitlab.

**Steps to reproduce**

I'm using `gitlab 10.2.0`.

In my code I wrote :

[code]

The type of data is "string", it doesn't seem to be a Buffer type.
The output file is not a valid zip file ...

I was ab

[2019-08-27 10:14] exherb commented on #424
same issue here.

[2019-08-27 13:53] krische opened #426 "PushRules.show() throws error when there are no push rules on a new project"
**Description**
When running PushRules.show() on a newly created project without push rules, an error is thrown: `TypeError: Cannot read property 'length' of null`

This is because GitLab itself just returns `null` when a project doesn't have any push rules defined, but the `null` value is not being detected and handled properly.

**Steps to reproduce**
1. Create a new project in GitLab.
2. Run `P

[2019-08-27 15:10] pelallemant commented on #424
Thanks.

In general that happens when we use .toString() on a Buffer.

I think https://github.com/jdalrymple/node-gitlab/blob/master/src/infrastructure/KyRequester.ts#L46 is the problem.

If the response is not application/json, it should not be transformed to text IMO.

[2019-08-27 15:47] pelallemant commented on #424
This ? https://github.com/jdalrymple/node-gitlab/commit/881b87b828cc2b3f686d859a926de5df7c663923

[2019-08-27 16:02] pelallemant commented on #424
There is no pagination when you are fetching a binary.

I will check later, the response should be of content-type: `application/octet-stream` or `application/zip`.

It could be an option `{ returnRawBody: true }`. or via check on the content-type of the response.

Plus, It could be nice to return the response directly, there are usefull data in headers sometimes (like the filename I suppose etc..

[2019-08-27 17:56] pelallemant commented on #424
I did some tests:

### 1) artifact doesn't exist (expired), I run this:

GET https://mygitlab.com/api/v4/projects/$PROJECT_ID/jobs/artifacts/master/download?job=job_test

response headers contains this (copied from postman):

[code]

response body:

[code]

### 2) Test downloading the artifacts of a specific job where there is a non-expired artifact

GET https://mygitlab.com/api/v4/projects/$PROJE

[2019-08-27 19:35] pelallemant commented on #424
I did a minimal test

[code]

You need to use `await` before ` response.blob()`, in order it downloads the whole response body.

Plus the response is a Blob, never seen that, was a pain to figure out how to convert to Buffer ;)

The test worked in local, the downloaded zip is not corrupted :)

[2019-08-27 20:54] pelallemant commented on #424
You could replace `return response.blob();` by:

[code]

I think it would do the trick

[2019-08-27 21:24] pelallemant commented on #424
I'm trying to use your PR via :

[code]

[2019-08-27 21:40] pelallemant commented on #424
I replaced node_modules/gitlab by your project, checked-out 7d6ac3ff4d589dc3a9c164529a114287ec4f7b31 , `npm i` + `npm run build` .

In my script I used `return api.Jobs.downloadSingleArtifactFile(project.id, 4286, "", false);`

I receive an object in the then, and using `fs.writeFileSync(path.join(__dirname, "tmp", "archive.zip"), content);` worked :)

Good job !

[2019-08-27 23:14] tiger-seo commented on #417
@jdalrymple does it mean i am required to add `"esModuleInterop": true` in my tsconfig ?

[2019-08-28 01:06] jdalrymple opened #428 "Somehow figure out when the GL instance is 100% up and running before running tests"
**Description**

Currently the tests wait a specified amount of time before beginning after starting up the gitlab instance. This is needed because a key needs to be generated before any of those tests can run. To create this token, we make an API request to the GL instance and if the instance isnt up, the token remains null and subsequently fails all the tests.

Not only is this inefficient but p

[2019-08-28 01:12] casz commented on #428
Maybe we can create a specific docker container for it?

You could add a simple nodejs container sidecar that you repeat attempting to login unless you get 200?

Perhaps look into: https://github.com/testcontainers/testcontainers-node

[2019-08-28 01:16] casz commented on #428
For your testing I would properly switch to https://github.com/testcontainers/testcontainers-node it can even do await successful response

[2019-08-28 02:44] casz commented on #428
Ya but you want a second container or some code that waits.
Does a login and starts navigating to health_check or the first project to ensure that the gitlab container is ready.

So wait till port `80` and `433` respond then attempt login and keep repeating till you get logged in.
Then head to first project and keep trying till get a `200` respond.
You could go further and have code that attempts

[2019-08-28 03:08] casz commented on #428
Well one will help prove the second? 😆

[2019-08-28 11:29] LRH539 opened #429 "Project Import doesn't work as expected / Usage unclear"
**Description**

I've tried to import a project which I have successfully exported using this library, but now trying to upload a project, I receive an error.

**Steps to reproduce**

Try to upload a project with the library, it will complain about the path not being specified. `api.ProjectImportExport.import(file, path)`

**Expected behaviour**

The file should be uploaded using: `api.ProjectImpo

[2019-08-28 11:51] LRH539 opened #430 "Support Packages API"
**Description**

GitLab offers additional APIs which are not covered by this library, but I would like to use them. One of these APIs is the _Packages_ API, which requires a GitLab silver plan.

**Proposal**

If possible, we should add support for this feature (https://docs.gitlab.com/ee/api/packages.html). If nobody has time to work on it, I will try to implement this myself, but I'm not familiar

[2019-08-28 14:25] LRH539 commented on #429
But the path parameter is still ignored, this is the path of the project this should be imported to. I assume the path will be read from the file content, so it’s not possible to change it?

[2019-08-28 15:22] LRH539 commented on #429
Looks good from what I can tell, now the function reflects the docs and I should be able to use it.

[2019-08-28 17:59] casz commented on #428
That could work too :)

[2019-08-29 13:40] krische commented on #426
Yes, I just tried on 11.0.0 and still receive error:
[code]

[2019-08-29 13:45] krische commented on #426
My guess is it [RequestHelper Line 56](https://github.com/jdalrymple/node-gitlab/blob/master/src/infrastructure/RequestHelper.ts#L56):
[code]

If `body` is null, which it is in this case, then `body.length` would throw that error.

[2019-08-29 13:47] jdalrymple commented on #426
Weird, not sure how its ever null though. here:

https://github.com/jdalrymple/node-gitlab/blob/master/src/infrastructure/KyRequester.ts#L51

We set a default value :/

[2019-08-29 13:48] jdalrymple commented on #426
AH, nevermind, that sets a default for the response, not the body

[2019-08-29 14:10] Bauke commented on #384
Although probably a rather big job, would it be possible to also get proper types for the responses to API calls?

For example calling `Projects.show()` returns a `Promise<GetResponse>`. If I then wanted to get the project ID or anything else that does in fact exist on the result, TypeScript errors out and says it doesn't exist on the `GetResponse` type (which would be correct):

[code]

 Only by

[2019-08-29 14:18] krische commented on #426
Thanks! This whole thing really seems like more of an issue with GitLab. They should be returning an empty object or something if there are no push rules defined, not `null`.

But I guess their current behavior is their current behavior, and thus this library should support it 😄

[2019-08-29 14:48] jdalrymple commented on #384
@Bauke Eventually thats the plan, by pulling the information straight from gitlab's docs. #104 but until the expose proper api docs, its going to be a little difficult :(

[2019-08-29 15:02] jdalrymple commented on #426
Weird, creating a new project through Gitlab assigns default push rules

[2019-08-29 15:04] jdalrymple commented on #426
Im guessing that the null response doesnt have a json content type. Which would assign it a text value, which would be null thus causing the problem. I've now set a default text value, well see if that solves the problem correctly.

[2019-08-29 16:20] jdalrymple commented on #426
One more time @krische , Still getting the error with the latest version? 😂

[2019-08-29 17:26] tiger-seo commented on #417
@jdalrymple regarding your example, it does compile without error if `esModuleInterop` is `true`, but if it is commented then:
[code]

[2019-08-29 18:47] jdalrymple commented on #417
Oh perfect! Not sure why i wasnt seeing it without that config :/

[2019-08-29 19:16] jdalrymple commented on #417
Just to verify, @tiger-seo if you set the esModuleInterlop=true in YOUR project, this problem goes away? Trying to narrow it down for the issue in the form-data repo

[2019-08-29 19:33] krische commented on #426
It works!

[2019-08-30 08:45] dcharbonnier commented on #417
yes @jdalrymple in this case it goes away

[2019-08-30 08:59] casz commented on #417
As I said @jdalrymple the problem is upstream: https://github.com/form-data/form-data/blob/208c367ac28dba36b0275e39f385a5e18229d6f9/lib/form_data.js#L13 you have to fix on this line

[2019-08-30 11:58] DanielRose commented on #417
@casz @jdalrymple The problem is different and not due to form-data. `form-data` is a CommonJS module. It correctly and legally exports the class FormData as its only export, i.e.
`module.exports = FormData;`

To import the module from another CommonJS module, you would normally use `import FormData = require('form-data');`

However, trying to use it from an ES6 module isn't that easy and needs a

[2019-08-30 15:30] jdalrymple commented on #417
@DanielRose Thank you! Ill try your suggestion

[2019-08-30 15:31] #417 closed

[2019-08-30 15:31] jdalrymple commented on #417
@tiger-seo Give it a try after the latest release is deployed :)

[2019-08-30 15:49] jdalrymple commented on #417
:tada: This issue has been resolved in version 11.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/11.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-03 12:31] tiger-seo commented on #417
@jdalrymple yes, the issues is fixed, thank you;

@DanielRose thank you ;)

[2019-09-03 17:48] jdalrymple commented on #297
One solution could be switching KyRequester with a GotRequester for the non browser versions on the rollup build? 🤔

[2019-09-05 03:09] arsdehnel commented on #338
Is there a reason you're using `ky` for this?  It seems like that's for browsers and this package seems more aimed at node runtimes.  I tried the below with `got` (from the same folks as `ky` but aimed for node runtimes) and it worked fine.

[code]

If there is a reason for using `ky` over `got` then I guess that works.  I know I can use whatever requestor I want but just curious about a switch to

[2019-09-05 04:07] jdalrymple commented on #338
The only reason we moved to ky/universal-ky was the promise of a cross platform solution which seemed to not be fully the case (especially with regards to the streaming support). The main options are to 1. Finish adding complete streaming support to Ky, which should be possible since its built off the Fetch API 2. Create a GotRequester that is used for the non browser builds and have two different

[2019-09-09 14:44] #146 closed

[2019-09-09 14:58] jdalrymple commented on #146
:tada: This issue has been resolved in version 11.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/11.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-10 08:41] Musicalink opened #437 "Make my function chose between update and create in Google Cloud Functions"
Hi,

I currently need to make my cloud function choose between updating or creating file in a commit but after some hours of search, I still can't find how to check if the file exist.

The code is in a Google Cloud Function and is written in Nodejs 8 !

Thank you !

[2019-09-10 13:12] krische commented on #426
I was wrong, it looks like this issue still occurs.

If I look at the raw response returned by GitLab for `/api/v4/projects/<id>/push_rule` when there are no push rules configured (new project); it still returns Content-Type `application/json` with a body of just `null`.

So it looks like you still need to add a null check for `body` at [this line](https://github.com/jdalrymple/node-gitlab/blob/ma

[2019-09-10 15:15] jdalrymple commented on #426
I found the problem. The helper functions for .json or .text etc are async. So I'm not waiting for their response before checking for a null, causing it to never use the defaulted logic.

[2019-09-10 15:19] jdalrymple commented on #426
Just pushed a fix!

[2019-09-10 15:21] jdalrymple commented on #437
Hi! Not sure i follow exactly. "updating or creating file in a commit" ? Could you explain further?

[2019-09-10 19:54] #426 closed

[2019-09-11 07:29] #437 closed

[2019-09-15 13:56] arsdehnel commented on #39
Ignore the DNS redirect, but I threw together the fastest site possible using [typedoc](https://typedoc.org): http://arsdehnel.github.io/node-gitlab.

Probably a lot of options out there and ways to even make typedoc better but thought I'd just throw something out there.

[2019-09-15 17:03] jdalrymple commented on #39
Thats wicked! I've also threw a small one together using vue (See the PR above). Not sure what the best way forward would be. Anyone have any real preferences?

[2019-09-15 17:29] arsdehnel commented on #39
Is there a live rendering of that one? I missed that PR when scrolling through this issue otherwise might’ve just built that one and see how it is. I can pull it and build later when I’m back on my machine if it’s not published anywhere.

[2019-09-15 21:31] arsdehnel commented on #39
Not that it’s critical but do you know where this’ll end up publishing? GitHub pages seems like a fine starting point (or a home forever IMO) but are you thinking just under your namespace?

[2019-09-15 22:10] arsdehnel commented on #39
came across a `*.js.org` project just now while working on something else... maybe it would work to do `gitlab.js.org`?

https://js.org

[2019-09-15 22:34] arsdehnel commented on #39
Pulled down the vuepress branch and had a look.  Did you write those `.md` files by hand or were they somehow generated?  I'd hope for an automated method that uses typescript's annotations to build out docs such that there is no way to get the docs out of date with the code that it describes.  That's the intent behind the typedoc setup that I played with and that seems really desirable IMO becaus

[2019-09-16 14:45] jdalrymple commented on #39
Yea they were manually written :'( but doing a quick search, we could use them in combination. Typedoc to generate the docs, and vuepress to display them. This can be done through this plugin: https://www.npmjs.com/package/typedoc-plugin-markdown.

This way we get the best of both!

I completely agree. I've been wanting to do this for a while, but didnt know the best way to keep everything in sync

[2019-09-17 02:05] arsdehnel opened #440 "Mirroring project on gitlab.com"
**Description**

Mirror this project onto gitlab.com using GitLab's [provided mirroring](https://docs.gitlab.com/ee/workflow/repository_mirroring.html#pulling-from-a-remote-repository-starter).

**Possible solutions**

It seems _easiest_ to have gitlab.com pull this repo over to a matching gitlab.com group but that's only free until March 22, 2020.  So we could do that and then switch to a `push`

[2019-09-17 02:07] arsdehnel commented on #39
Created https://github.com/jdalrymple/node-gitlab/issues/440 to discuss things around the mirroring, thinking that's related but not absolutely required to be a part of this discussion.

I added `typedoc-plugin-markdown` to my branch and it generated a bunch of markdown just fine.  I have no idea what vuepress is looking for and how it would generate a menu of any sort but it does seem quite possi

[2019-09-17 11:31] FabianTe opened #441 "Support HTTP header X-Profile-Token"
**Description**
For API debugging purposes, Gitlab has this feature where you use this HTTP Header in your requests so that they will be specially traced in Gitlab. (At least in the Self-Hosted version)

![image](https://user-images.githubusercontent.com/7669818/65038105-792ac280-d94f-11e9-90d1-e895a91ffdf8.png)

**Proposal**
I'd like to be able to set this header in the client to profile my reque

[2019-09-17 14:54] casz commented on #440
@jdalrymple Please do not move this repo to GitLab.

GitHub actions will be generally available as of November 13 making it easy to have publishing of GitHub pages or publishing to NPM or whatever automated workflow you desire.

Deploy pages action
https://github.com/JamesIves/github-pages-deploy-action

List of awesome actions
https://github.com/sdras/awesome-actions

See my GitHub actions usage

[2019-09-17 15:20] jdalrymple commented on #39
Push it to a branch and ill give it a look later this weekend

[2019-09-17 15:34] jdalrymple commented on #440
Hmm, I understand both sides of the argument. Its almost the same argument Gitlab has to make when their original repo was on Github. It should be mirrored either way though, since alot of people do initially look in Gitlab assuming the wrapper would be available there.

[2019-09-23 03:22] digimbyte opened #444 "How to fetch + merge?"
I've been up and down the documentation, trying a few things but I can't seem to do a project pull request.
am I missing something or is this more for managing the git project remotely?

Thanks

[2019-09-24 17:46] arsdehnel commented on #39
Sorry, got sidetracked on another part of my project, I'll totally do this, just didn't get to it last week.

[2019-09-24 17:55] arsdehnel commented on #440
I feel like my OP was pretty opinionated when I am not that strongly opinionated on it. Could we mirror to gitlab with github still being the source of record and use gitlab pages for a couple months until github actions can solve the pages problem?  Then we will have the visibility of the code on gitlab.com while also allowing us to separate out the pages stuff to be in a "CI-like" environment (G

[2019-09-26 08:34] jdalrymple commented on #444
What are you trying to do exactly? Create a PR on Gitlab?

[2019-09-26 08:35] jdalrymple commented on #440
That works for me! I can setup the mirror this week

[2019-09-26 10:41] digimbyte commented on #444
I am looking at creating a node.js app that self updates every week or via external command

[2019-09-26 11:27] greenkeeper[bot] opened #445 "An in-range update of lint-staged is breaking the build 🚨"
## The devDependency [lint-staged](https://github.com/okonet/lint-staged) was updated from `9.3.0` to `9.4.0`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Flint-staged-9.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lint-staged is a devDependency of th

[2019-09-26 22:22] greenkeeper[bot] opened #446 "An in-range update of rollup-plugin-typescript2 is breaking the build 🚨"
## The devDependency [rollup-plugin-typescript2](https://github.com/ezolenko/rollup-plugin-typescript2) was updated from `0.24.2` to `0.24.3`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Frollup-plugin-typescript2-0.24.3).

This version is **covered** by your **current version range** and after updating it in your project **the build

[2019-09-26 22:41] buonzz opened #447 "how to use ProjectImportExport.download?"
DISCLAIMER: this is more of me confused on how to the use library, sorry in advance if this might be a really stupid question :(

**Description**

Im trying to bulk export/download a bunch of repos
by calling this method https://github.com/jdalrymple/node-gitlab/blob/master/src/core/services/ProjectImportExport.ts#L6-L10

here is my code
[code]

**Steps to reproduce**
just instantiate an api, then

[2019-09-27 01:27] arsdehnel commented on #39
Updated my fork and created https://github.com/jdalrymple/node-gitlab/pull/448 that includes a couple commits.  One for the package.json changes and one that has all the generated markdown (and a couple generated JSON files).

[2019-09-29 07:51] greenkeeper[bot] opened #449 "An in-range update of rollup is breaking the build 🚨"
## The devDependency [rollup](https://github.com/rollup/rollup) was updated from `1.21.4` to `1.22.0`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Frollup-1.22.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

rollup is a devDependency of this project. It **

[2019-09-30 06:39] mqliutie opened #450 "Is there a way to get source code from project"
I have got the message of project,

but I want to get the source code in master branch of this project.

I am sorry I could not find the documentation.

[2019-09-30 16:21] casdevs commented on #302
Getting back to this...
I'm using gitlab@11.1.2 with a node.js v12 project and `--experimental-modules` switched on.

```import {Gitlab} from 'gitlab';``` gives me ```The requested module 'gitlab' does not provide an export named 'Gitlab'```.

However, when I remove ```"type": "module"``` from your module's package.json file, everything works as expected.

This statement was introduced somewhere b

[2019-09-30 16:23] casdevs commented on #302
see https://github.com/jdalrymple/node-gitlab/blame/master/package.json#L104

[2019-09-30 21:50] paulrobertlloyd commented on #302
I think I may be seeing the same issue as @casdevs. I’m importing the package using the CommonJS syntax:

[code]

This works fine for me locally (using Node v12), and when I run my tests remotely using Node v10 (via a GitHab Actions workflow). However, running tests against this code using Node v12, I get the following error:

[code]

Note that this error is pointing to index.js, which uses Common

[2019-10-01 00:14] leosteets opened #452 "feat(Merge Request): Add Approval State endpoint"
**Description**
There is a endpoint not mapped in the Merge Request Service, the "Approval State", the documentation can be found here: https://docs.gitlab.com/ee/api/merge_request_approvals.html#get-the-approval-state-of-merge-requests

**Proposal**
Adding in the Merge Request Service the "Approval State" endpoint.

**PS:**
I already did it, and the PR is here: https://github.com/jdalrymple/node-

[2019-10-01 08:52] casdevs commented on #302
thanks for your feedback, @paulrobertlloyd

@jdalrymple: Maybe you can re-open this issue? I could also provide a pull request if required.

[2019-10-01 21:14] #449 closed

[2019-10-01 21:14] #446 closed

[2019-10-01 21:14] #445 closed

[2019-10-01 21:15] jdalrymple commented on #450
hmm wouldnt that be downloading the repo?

[2019-10-01 21:18] jdalrymple commented on #444
updates what though? Do you want the local repo to update your girlab repo on the server (ie gitlab.com)?

[2019-10-03 02:51] hanselke opened #454 "Support project and group labels api"
Library currently doesnt support project or group labels api.

[2019-10-03 05:34] casz commented on #454
Feel free to contribute, it is [hacktoberfest](https://hacktoberfest.digitalocean.com) after all 😄

[2019-10-03 05:38] casz commented on #454
Library does support project level however: https://github.com/jdalrymple/node-gitlab/blob/b0ee51767d6dfbf3fcae9ff1c1c32c8e4c67641c/src/core/services/Labels.ts

It should properly follow the resource pattern though
https://github.com/jdalrymple/node-gitlab/blob/b0ee51767d6dfbf3fcae9ff1c1c32c8e4c67641c/src/core/templates/ResourceMembers.ts
https://github.com/jdalrymple/node-gitlab/blob/b0ee51767d6d

[2019-10-03 13:30] illyaMs opened #456 "Getting `e.headers.entries is not a function` error on any API call"
**Description**

While trying to add this package to an existing nodejs project, I get the following error being thrown: `e.headers.entries is not a function`.

Seems to be coming from  the following line of code inside the lib: [link](https://github.com/jdalrymple/node-gitlab/blob/8c673c3b17b712a1c947485f254dfad9e8bf2a48/src/core/infrastructure/KyRequester.ts#L13).

**Steps to reproduce**

1. Add

[2019-10-03 14:48] illyaMs commented on #456
Ok, I've found the answer by myself, and it's very specific to that exact `existing nodejs project` I've mentioned 😄 . So sorry for bothering (and thx for the great package btw).

For those who may have a similar issue, in my case the root cause was the `isomorfic-fetch` package conflicting with `node-gitlab`. The fail path was the following:
1. `node-gitlab` has a `node-fetch v. 2.6.0` as an (ind

[2019-10-03 14:48] #456 closed

[2019-10-03 17:49] jdalrymple commented on #454
Yea it would probably be better to implement something similar to the resource template, and then use that for the project and group labels :)

[2019-10-04 02:07] digimbyte commented on #444
I want the local repo to update itself from the server. so I don't need to use 'git pull' all the time

[2019-10-04 10:16] ivanlunardi opened #458 "Cli do not work with self hosted gitlab"
**Description**
the command-line do not work on self hosted gitlab,
but if i try with module inside a js project it work

`{ HTTPError: Forbidden
    at fn (/usr/local/lib/node_modules/gitlab/node_modules/ky/umd.js:337:12)
    at process._tickCallback (internal/process/next_tick.js:68:7)
  name: 'HTTPError',
  response:
   Response {
     size: 0,
     timeout: 0,
     [Symbol(Body internals)]: {

[2019-10-04 13:21] jdalrymple commented on #458
Ill check it out!!

[2019-10-04 13:22] jdalrymple commented on #444
This library doesn't provide git interactions, just a wrapper around the GitLab API :(

[2019-10-04 13:24] #454 closed

[2019-10-04 13:27] #452 closed

[2019-10-04 21:47] jdalrymple commented on #444
Though you could probably add a url to the gitlab system hooks, and handle the incoming webhook to then run git pull in that repo? You wouldnt need this library though for that.

[2019-10-04 21:48] #444 closed

[2019-10-06 12:16] jdalrymple commented on #447
Hmm that should work! Ill check it out today!

[2019-10-06 12:53] jdalrymple commented on #440
Its been mirrored :) same url on gitlab: https://gitlab.com/jdalrymple/node-gitlab

[2019-10-06 12:55] casz commented on #440
FYI about github pages. GitHub can auto deploy based on what's in master branch or in the master branch docs folder

[2019-10-06 13:24] #447 closed

[2019-10-06 13:26] jdalrymple commented on #447
There was a bug in the logic but has since been fixed. So do what you're trying to accomplish, you have to 1. schedule an export, then 2. download it. Otherwise there will be nothing to download.

[code]

[2019-10-06 13:40] jdalrymple commented on #454
:tada: This issue has been resolved in version 11.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/11.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-06 13:40] jdalrymple commented on #447
:tada: This issue has been resolved in version 11.2.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/11.2.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-07 01:21] greenkeeper[bot] opened #459 "An in-range update of yargs is breaking the build 🚨"
## The dependency [yargs](https://github.com/yargs/yargs) was updated from `14.1.0` to `14.2.0`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Fyargs-14.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

yargs is a direct dependency of this project, and **it

[2019-10-08 14:21] jdalrymple commented on #459
#428

[2019-10-08 14:21] #459 closed

[2019-10-08 14:39] ivanlunardi commented on #458
Thank You!

[2019-10-09 02:42] #450 closed

[2019-10-09 03:30] neacao commented on #314
Seems like this issue is not fixed !!

[2019-10-09 07:30] jdalrymple commented on #314
Ill give it a look when i get the chance.

[2019-10-09 07:46] jdalrymple commented on #440
Im gonna close this one, in favour of the documentation case for the current work being done in the PR

[2019-10-09 07:46] #440 closed

[2019-10-10 12:34] jdalrymple commented on #314
Oh true it s a form not a body object. Will fix

[2019-10-10 12:54] jdalrymple commented on #310
I was thinking about this today. What would be the best way to expose this? As a service? so you'd import it like:

[code]

[2019-10-11 10:12] neacao commented on #314
Thanks @jdalrymple , hope this fix will available soon

[2019-10-12 11:10] #441 closed

[2019-10-12 11:30] jdalrymple commented on #441
:tada: This issue has been resolved in version 11.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/11.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-14 20:18] greenkeeper[bot] opened #472 "An in-range update of @types/jest is breaking the build 🚨"
## The devDependency [@types/jest](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `24.0.18` to `24.0.19`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2F%40types%2Fjest-24.0.19).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/jest i

[2019-10-18 08:47] #314 closed

[2019-10-18 09:02] jdalrymple commented on #314
:tada: This issue has been resolved in version 11.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/11.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-18 09:13] SYip commented on #458
I would like to use it as a gitlab client, however, I find that it does not read the .env located in project directory and environment variable GITLAB_TOKEN in my machine. (MacOSX)

[2019-10-18 13:49] jdalrymple commented on #458
@SYip Yea I'm looking into this :)

[2019-10-18 23:31] greenkeeper[bot] opened #474 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `15.13.26` to `15.13.27`.

🚨 [View failing branch](https://github.com/jdalrymple/node-gitlab/compare/master...jdalrymple:greenkeeper%2Fsemantic-release-15.13.27).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

se

[2019-10-20 18:03] #474 closed

[2019-10-21 02:25] jallbrit opened #475 "`t is undefined` error thrown in Firefox when importing"
**Description**
I will admit I am a beginner to js/node and it is likely that I am doing something wrong, however I cannot find a solution. I am using the API inside javascript in my website. I installed the package using `npm`, and can successfully link to the package like so:
[code]
However, Firefox reports this in the developer javascript console:
[code]

**Steps to reproduce**
1. Run `npm inst

[2019-10-21 07:32] jdalrymple commented on #475
hmm, It should work :s. Ill give it a look soon and get back to you!!

[2019-10-21 11:41] #472 closed

[2019-10-22 04:19] DanielRuf commented on #309
See https://github.com/verdaccio/verdaccio/tree/master/test as example (e2e using puppeteer, unit and integration testing, ...).

[2019-10-22 05:03] DanielRuf opened #479 "MIgrate to GitHub Actions"
**Description**
Let's try GitHub Actions =)

[2019-10-22 10:49] lodi-g commented on #260
Well I'd say using the `show` keyword for the `GET` method is certainly not what I'd have chosen. Quite unclear on what it's doing.

[2019-10-22 11:44] jdalrymple commented on #260
@lodi-g That's a fair argument. I was following the naming convention of the previous versions of this library. I didn't want to change it to much to avoid users having to do to much refactoring.

GET: show
POST: create or add (depending on context)
PUT: edit
DELETE: remove

But yea for future versions, perhaps updating the commands to be a bit more intuitive could be done :)

[2019-10-23 11:52] #428 closed

[2019-10-24 08:18] jdalrymple commented on #475
:tada: This issue has been resolved in version 11.3.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/11.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-24 08:18] jdalrymple commented on #428
:tada: This issue has been resolved in version 11.3.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/node-gitlab/releases/tag/11.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-24 12:29] jdalrymple opened #483 "Updating Group Organization - Thoughts?"
**Description**
Just thinking about how to better organize the group for ease of use by developers looking for Gitlab add-ons.

1. Similar to the thoughts in https://github.com/moul/node-gitlab/issues/191#issuecomment-381260105 It would be nice to clean up the group. Maybe change it to some generic name to host gitlab wrappers? Where each internal repo would be node-gitlab, python-gitlab etc
2. Ar

[2019-10-24 13:15] casz commented on #483
I see you already moved it to node-gitlab/node-gitlab 😆

[2019-10-24 13:21] jdalrymple commented on #483
lol, we can always move it around :P hence the request for Ideas. One of the biggest issues was that the google searches were pointing to node-gitlab/node-gitlab which isnt really useful for those looking for this repo.

[2019-10-24 21:13] iOSt0p opened #484 "api.Projects.all() never resolves"
**Description**

Trying to get a list of my repos from Gitlab CE.
`await api.Project.all()` never resolves.
Account has exactly 1 repo.

Token scopes: `api, read_repository, write_repository`

[code]

logging api.Projects
[code]

**Steps to reproduce**

- Await api.Projects.all()

**Expected behaviour**
Returns a list of account's repos.

**Actual behaviour**
Never resolves.

[2019-10-25 00:25] jallbrit commented on #475
I appreciate the quick fix, that error went away! However, I'm greeted with yet another error unfortunately...
[code]

[2019-10-25 04:58] casz commented on #484
Well you say gitlab-ce so I assume you mean your own gitlab instance.
I wonder why your not setting a gitlab host than :)

[code]

Otherwise `api.Projects.all()` is trying to resolve against github.com and that could take a while 😆

[2019-10-25 08:13] jdalrymple commented on #475
Looking into it. @DanielRuf Thoughts?

[2019-10-25 08:39] DanielRuf commented on #475
Not sure. This should be handled by the https://github.com/rollup/rollup-plugin-node-resolve plugin.

Not sure, I did no further testing and I am not a rollup user in general.

[2019-10-25 08:45] jdalrymple commented on #475
Alrighty, ill try and get around to it @jallbrit sorry for the delay :(

[2019-10-25 16:40] #484 closed

[2019-10-25 16:42] iOSt0p commented on #484
By gitlab-ce I meant gitlab.com

Anyway I might not have waited enought, thanks :)

[2019-10-25 21:53] gwardwell opened #485 "Missing index.d.ts file as of 11.3.2"
**Description**

I began encountering the following error when building my typescript application after upgrading from version 11.3.1, which was my last installed version, to version 11.4.0:

[code]

I narrowed the issue down to the fact that `node_modules/gitlab/package.json` has the `"types": "dist/index.d.ts",` field, but `dist/index.d.ts` no longer exists. I also isolated the problem to the `v

[2019-10-26 05:29] Markus-Ende commented on #485
Same problem in v11.4.0.

[2019-10-26 14:08] gwardwell commented on #485
Yep, I noticed it in 11.4.0, confirmed that it was also in 11.3.2, and found that rolling back to 11.3.1 solved my problem.

[2019-10-26 19:04] jdalrymple commented on #485
kinda surprised the error isnt there from 11.3.1 since the dist/index.d.ts file still dne. Anyways should be good for the next release :)

[2019-10-26 22:43] jallbrit commented on #475
@jdalrymple all is good! My other question is, with the exception of the CLI tool, is there some other way to use this package than importing the API into a browser and using js? These problems seem like they would affect all users of this package.

[2019-10-26 22:46] jdalrymple commented on #475
You could use it in plain nodejs, which does have access to the underlying libraries that where causing this problem. That's probably why it wasn't noticed.

[2019-10-27 20:54] #475 closed

[2019-10-27 20:54] #485 closed

[2019-10-28 06:54] alfu32 opened #487 "nodej api not working : 404 not found"
I believe that this is more of an gitlab issue

not working :
https://gitlab.com/api/v4/projects/###########?[]=projects&[]=show&%240=node_modules%5Cgitlab%5Cdist%5Ccli.js&gl_token=*****************

Workaround :
putting the token as basic auth works :
https://private_token:***************@gitlab.com/api/v4/projects/###########?[]=projects&[]=show&%240=node_modules%5Cgitlab%5Cdist%5Ccli.js&gl_toke

[2019-10-28 06:55] #487 closed

[2019-10-28 06:56] alfu32 commented on #487
i'm wrong, sorry

[2019-10-28 13:23] jdalrymple commented on #485
:tada: This issue has been resolved in version 11.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/node-gitlab/node-gitlab/releases/tag/11.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-28 13:23] jdalrymple commented on #475
:tada: This issue has been resolved in version 11.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/node-gitlab/node-gitlab/releases/tag/11.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-28 17:57] Markus-Ende commented on #424
This is still happening for me, I'm using v11.4.1

[2019-10-28 18:12] Markus-Ende opened #488 "downloadLatestArtifactFile zip file is not valid"
**Description**
This is a re-opening of issue #424.

Same error, returned data is of type String instead of Buffer.

**Steps to reproduce**

See #424

**Possible fixes**

Problem in my case is, that gitlab returns content-type `binary/octet-stream`, but `KyRequester` only checks for `application/octet-stream`:

[Line 51 in KyRequester.ts](https://github.com/node-gitlab/node-gitlab/blob/77050869288

[2019-10-28 19:09] jallbrit opened #489 "Help understanding the API"
I want to use this API to query on GitLab users, given their username. For example, using plain `curl`, it's this easy:
[code]
A parse-able `json` is returned containing the information I want.

However, I cannot figure out how to accomplish this given this js API. I can see in the documentation how to initiate the GitLab instance, and a couple examples are given:

[code]
or
[code]
However, I don'

[2019-10-28 19:43] jdalrymple commented on #489
Hey @jallbrit!! Documentation is definitely the next big step for this library #360 , unfortunately it takes a lot more time that I currently don't have while still fixing bugs etc :(. I'm glad you found what you were looking for though! The easiest way in the future is simply looking at the source. Its pretty well laid out to find what you're looking for which could save a bit of time.

As as to

[2019-10-28 19:43] #489 closed

[2019-10-28 19:45] jdalrymple commented on #488
Going to close this and reopen the last one. Ill look into it :) Thank you!!

[2019-10-28 19:45] #488 closed

[2019-10-28 20:02] jdalrymple commented on #424
@Markus-Ende Is it your own gitlab instance? or gitlab.com?

[2019-10-28 20:04] jdalrymple commented on #424
Seems like a werid aws things to name it binary/octet-stream. Anyways, I've made the adjustment to the code, next release should be good for you!

[2019-10-28 20:12] #424 closed

[2019-10-28 20:15] casz commented on #489
@jallbrit This is how you use the API for finding users:

[code]
Search always returns an array.

Depending on the amount of users you have in your gitlab instance it might be quicker to just get all users and use javascript's `find` method to locate them :)

[code]

[2019-10-28 20:23] jdalrymple commented on #424
:tada: This issue has been resolved in version 11.4.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/node-gitlab/node-gitlab/releases/tag/11.4.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-28 20:40] jallbrit commented on #489
@casz Thank you. How did you know that `.search()` is available- how could I have found that?

[2019-10-28 20:42] casz commented on #489
either by using typescript, it should tell what methods do exist or looking into the code 😅

[2019-10-28 21:03] jallbrit commented on #489
@casz thank you for that reference, it's very helpful! However, I've hit a road block. When i run
[code]
The query is the same as running
[code]
As such, the results are limited- only username, id, avatar_url, web_url, state, and name are listed. I want to get more info, like bio, twitter, website_url, etc. The proper way to get that extra information is like this:
[code]
But I cannot find the equ

[2019-10-28 21:14] casz commented on #489
@jallbrit again the method you want here is `api.users.show(5)`

[code]

[2019-10-29 06:28] Markus-Ende commented on #424
@jdalrymple thanks for fixing this so quickly! It is an own instance inside a big company. I'm sorry if it is a self-made issue.. can't check it, though, don't have access to the configuration.

[2019-10-29 08:49] jdalrymple commented on #424
@Markus-Ende I don't think its self made!! Probably just a side effect of AWS. No worries, should be good for the future now :)

[2019-10-30 08:39] jdalrymple commented on #483
*cricket sounds* Kinda leaning towards #4 since it would be a bit less work lol

[2019-10-30 09:07] casz commented on #483
I think you could split the bin out into a separate repo 😄
To avoid unnecessary dependencies for those who do not use the bin?

[2019-10-30 09:14] jdalrymple commented on #483
We could also do a monorepo and split the packages similarly to jest

[2019-10-30 09:22] casz commented on #483
Ya that could work too lerna is awesome 😄

[2019-10-30 09:34] jdalrymple commented on #483
I agree!! But that still doesnt solve what we should do about the group lol

[2019-10-30 09:53] casz commented on #483
Still not sure what you had in mind for the group, do you want to move all gitlab wrappers to a new group? ie.
Do you want to move something like https://github.com/nmklotas/GitLabApiClient ?

[2019-10-30 09:59] jdalrymple commented on #483
That's what I'm trying to figure out, whats the purpose of the group?

[2019-10-31 10:38] jdalrymple commented on #483
Side note: We could setup an organization, and publish for cli, core (nodejs) and move the types to the @types repo or its own package. This would reduce the size of the published packages as well.

Problems with this move are the change of the npm package name :/ and intuitive organization name (@gitlab is already taken)

Just thinking outloud! More ideas are welcome :D

[2019-11-05 21:47] rvenson opened #490 "Show page slug of a wiki"
**Description**

When using the method `Wikis.show()`, specifying the `PROJECT_ID` and `PAGE_SLUG`, the data won't be returned for composed slugs like ``team/players``, but only for slugs like `team` or `design-core`

**Steps to reproduce**

The code above return only `HTTPError`

[code]

**Expected behaviour**

The data of this [page](https://gitlab.com/gnuwget/wget2/wikis/Documentation/OptionHan

[2019-11-06 11:05] dragouf commented on #357
still have this problem with version 11.4.2. Any reason why ? Is something changed ?

[2019-11-06 11:07] jdalrymple commented on #357
Not that i know off, but i can give it a look this week!

[2019-11-06 11:21] casz commented on #357
How hard can it be to trust a single certificate?

Use the `NODE_EXTRA_CA_CERTS` variable which reads in all certificate loaded in the a pem file.

See https://github.com/node-gitlab/node-gitlab#handling-https-certificates

Why even support this @jdalrymple

[2019-11-12 11:58] osher opened #491 "CLI seems to be broken"
**Description**

Using CLI ends with rough errors

I'm trying to follow the getting started from the readme.
I succeeded using the package in node shell, pulled a project, updated project - fun.
I'm trying the CLI - but I get pretty rough errors.

[code]

**Steps to reproduce**
[code]
And you get the output above.
I'm now using some ubuntu.

**Expected behaviour**
I donno, I'm trying to see how it

[2019-11-12 14:47] jdalrymple commented on #491
Well thats frustrating. Sorry about that :(. Gonna have some free time this weekend to clean up the buggy issues. Ill get to this ASAP :D

[2019-11-12 15:27] Aetherall opened #492 "Improve typing for API responses"
The typings of the outputs of the api are wrapped on a Response type which does not let access to the real interface representing the api output data. Please expose the real interface in a way allowing production use :)

[2019-11-13 10:54] osher commented on #491
thanks for letting me know, and thanks for your efforts :) :+1:

[2019-11-14 09:23] #491 closed

[2019-11-14 09:35] jdalrymple commented on #491
:tada: This issue has been resolved in version 11.5.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/node-gitlab/node-gitlab/releases/tag/11.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-14 14:46] osher commented on #491
Thanks for your efforts!
I'll get back to this task somewhere next week, and continue from where I left :)

[2019-11-17 00:22] thisismydesign opened #495 "Projects CLI hangs"
**Description**

Running the following command hangs. The token is created with all scopes here: https://gitlab.com/profile/personal_access_tokens. Tested on windows and ubuntu.

`gitlab projects all --gl-token="<token>"`

Installed via `npm install gitlab -g`

Can't tell what's wrong. :/

[2019-11-17 00:31] thisismydesign commented on #495
Nevermind, appending `--membership=true` makes it work. Maybe it tries to fetch _all_ projects otherwise, idk.

[2019-11-17 00:31] #495 closed

[2019-11-18 10:01] jdalrymple commented on #458
Took a while, but i finally found the problem. Working on fixing it up :)

[2019-11-18 11:49] casz commented on #458
@jdalrymple I'd be interesting in the PR if you could point out where the bug was 😓

[2019-11-18 12:36] jdalrymple commented on #458
Already have the fix, but still testing different scenarios :P Should have a PR submitted in the next 24 hours.

[2019-11-19 15:37] LRH539 opened #496 "Add support for MergeRequestApprovals"
**Description**
I've noticed that there's currently no support for merge request approvals. This API endpoint has been available since GitLab 10.6: https://docs.gitlab.com/ee/api/merge_request_approvals.html

**Proposal**
I suggest to support his API endpoint, the implementation should be straightforward and similar to other endpoints.

[2019-11-20 16:58] LRH539 opened #497 "Implement function to retrieve project push rules."
**Description**
Right now, there's only an `updatePushRule()` function in `Projects.ts`, but there's no obvious way to retrieve the push rules, e.g. `getPushRules()`. I thought that this is probably contained if I retrieve a single projects properties via the API, but it doesn't contain any information about the push rules.

**Proposal**
Implement a function, which queries this endpoint: ```GET /p

[2019-11-20 17:04] LRH539 commented on #497
I realized there's a separate PushRules file, but on the GitLab API page it's listed under the projects API, so it's a bit confusing or is there in fact a dedicated PushRules endpoint?

[2019-11-20 17:56] jdalrymple commented on #497
Yea It was just confusing to put under projects. Since most things are connected as a subresource of projects but are located in their own files. If I put pushrules there, i should put everything else there too. So to maintain consistency, I separated it out although the Gitlab API page doesn't really adhere to this (ie. Issues has its own page, though its a subresource of Projects).

The only exc

[2019-11-20 20:32] LRH539 commented on #497
But in that case, should the updatePushRule() function not be removed as well and everything should be in the PushRules.ts in order to maintain consistency?

[2019-11-20 20:41] jdalrymple commented on #497
Yea it should be removed. Probably existed before I added all the PushRules logic and I forgot to remove it from the Projects file. The only reason I would refrain from renaming it is because it gets...verbose. If only projects can have push rules, there is no point is adding the prefix. Unlike Milestones for example (which has ProjectMilestones,  GroupMilestones etc).

[2019-11-20 20:45] LRH539 commented on #497
I see, thanks for your quick response!

[2019-11-20 20:45] #497 closed

[2019-11-20 20:52] jdalrymple commented on #497
No thank you! Always good to have another pair of eyes looking over things :D

[2019-11-20 21:31] jdalrymple commented on #458
Fixed, give the PR a look over all ill merge it :)

[2019-11-21 10:22] #458 closed

[2019-11-21 12:13] liwen-tj opened #498 "I can't get normal results from your sdk."
Here is an example.
[code]
I find it always get **rejectUnauthorized=true**.

Instead, when I try this command `curl --header "PRIVATE-TOKEN: my-personal-token" host-address/api/v4/projects`, I get the right result.

What is the problem?

[2019-11-21 12:26] jdalrymple commented on #498
Might be related to #357

[2019-11-21 12:36] liwen-tj commented on #498
I still don't understand how to solve my problem.
Can you give me some examples that can return normal results? I am just starting to use your sdk.
Many thanks in advance !!

[2019-11-21 12:50] liwen-tj commented on #498
Is there any difference for params between http and https. I find your example use http. But mine uses https.

[2019-11-21 12:56] jdalrymple commented on #498
There is no difference in params. What exactly is your problem? It sounds like youre trying to access a host without the correct certificate. This is exactly what is brought up in #357 but i havent gotten around to fixing the small issue. The only solution would be adding the certificate to your pc. See: https://github.com/node-gitlab/node-gitlab#handling-https-certificates

[2019-11-23 00:59] sdc224 opened #499 "Error Body not parsing properly for cherry pick"
Hi,

I am using this node dependency to create a VSCode extension. My extension supports Cherry Picking a commit just like Gitlab way(I mean start a new Merge Request while cherry picking). But when I am trying to use the cherryPick function like

[code]

I am getting this error

[code]

Note:

 1. I am using gitlab inside company(I mean company specific gitlab domain)
 1. I am replacing the <Git

[2019-11-23 07:51] jdalrymple commented on #499
Hmm, not sure, ill give it a look :)

[2019-11-23 10:43] liwen-tj commented on #498
I have solved my problem by replacing
`console.log(gitlab.Projects);`
with
[code]

[2019-11-23 10:44] #498 closed

[2019-11-23 12:11] sdc224 commented on #499
Thank you for your response, please let me know whether it is an issue from my side or repository side

[2019-11-25 15:51] sdc224 commented on #499
Guys any update regarding this?

[2019-11-25 16:22] casz commented on #499
Would if you could debug further. By looking at way it is trying to parse.
Or attempt to make similar request from something like post man

[2019-11-26 00:02] sdc224 commented on #499
Ya I am getting the response as an HTML body in Postman, it is showing that

cherry-picked, or a more recent commit may have updated some of its content."

But as per the API docs, it should throw the same error message in JS as well

[2019-11-26 09:02] jdalrymple commented on #499
So the error is being eaten up somewhere. hmm

[2019-11-26 22:06] jdalrymple commented on #499
Could be a few things, I'm guessing the response content-type is json but the actual content is an html page. This would explain the < error, and is similar to what is explained here https://stackoverflow.com/questions/56178321/invalid-json-response-body-error-with-express-node-fetch-using-formdata

could you check the content-type you are getting from the postman request?

[2019-11-27 02:38] sdc224 commented on #499
Ya the content type is HTML in Postman

[2019-11-27 09:42] jdalrymple commented on #499
@sdc224 So in the headers, it says the content-type is one of the below:

[code]
?

[2019-11-27 09:51] #490 closed

[2019-11-27 09:53] jdalrymple commented on #357
@casz The only reason i support this is because the underlying request libraries do. It is by no means a good practice to follow lol

[2019-11-27 09:58] jdalrymple commented on #357
Ah, this is why it was removed https://github.com/node-gitlab/node-gitlab/commit/f9a47c7beb07d621bc49403e7c0eabb3e3e7b08f#diff-801d926a40f4385a2719a3f3bf308905

[2019-11-27 10:03] jdalrymple commented on #357
Ill retest it today, if it still doesnt work, ill remove the option from the library completely. Sorry for the inconvenience

[2019-11-27 10:05] jdalrymple commented on #490
:tada: This issue has been resolved in version 12.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/node-gitlab/node-gitlab/releases/tag/12.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-27 10:07] jdalrymple commented on #357
Seems to work, ill create a PR

[2019-11-27 11:49] sdc224 commented on #499
Ya @jdalrymple , the headers showing this in response(In Postman)

`Content-Type: text/html; charset=UTF-8`

One more thing, for all type of errors, it is showing the same in node-gitlab error

`FetchError: invalid json response body at https://<Git URL>/api/v4/projects/8916/repository/commits/<sha>/cherry_pick reason: Unexpected token < in JSON at position 0
	at d:\HighRadius\Extensions\Typescrip

[2019-11-27 12:14] jdalrymple commented on #499
Hmm, not really sure then, since the default content-type handler is:

[code]
Ill try and recreate it this weekend and see if i can trace the correct source of the error. I'm guessing its within the processBody function.
which should handle the html content type just fine.

[2019-11-27 12:37] sdc224 commented on #499
Sure man, thanks for looking into it

[2019-11-27 14:09] dragouf commented on #357
so the functionality was not working and so I don't understand you put a thumb down to my question....

[2019-11-27 15:50] shobull commented on #496
It is already supported: https://github.com/node-gitlab/node-gitlab/blob/40546d5d534fd65b592d787c948ac66cceab569f/src/core/services/MergeRequests.ts#L131

usage is `MergeRequests.approvals(projectId, {})`

[2019-11-27 16:42] jdalrymple commented on #357
@dragouf I was wrong! Sorry about that :)

[2019-11-28 02:45] jeffreyliim opened #503 "All apis get with namespace/project instead of project_id not working"
All the apis doesn't support get with namespace/project, only supports get with project id. Can fix be done soon?

[2019-11-28 05:26] casz commented on #503
Depending on which APIs your referring to, it might be a limitation on gitlab's api or it could be bug in the nodejs implementation.

But more details as to which method call you have in mind would help.

[2019-11-28 12:41] jeffreyliim commented on #503
@casz I think its a limitation on gitlab's node sdk that doesn't support namespace with project path. It works on regular http calls but not working on sdk.

I've tried several APIs i.e. getting a single project by project id

[2019-11-28 13:32] casz commented on #503
Could you please specify which APIs as I haven't experienced this issue.

[2019-11-28 13:35] casz commented on #503
Could you share some code snippets with the project names you tried?
Are these by any chance Chinese characters and are you sure those are UTF-8 encoded?

[2019-11-28 14:02] jeffreyliim commented on #503
[code]

[code]

The above works but not the below one

[2019-11-28 14:04] casz commented on #503
you shouldn't mess with the project id. We will handle encoding for you.

[2019-11-28 14:15] jdalrymple commented on #503
@casz Yea for sure! @jeffreyliim, does removing the encoding in your code solve the problem? Specifically changing it to:

[code]

Also as a side note you could remove your first promise handler and just pass the function to the then like:

[code]

[2019-11-29 03:18] jeffreyliim commented on #503
Thanks for assisting. It now works fine

[2019-11-29 03:18] #503 closed

[2019-11-29 10:56] jdalrymple commented on #357
@dragouf I've published it under a beta tag, give it a look when you have a chance!

[2019-11-29 15:08] max-wittig opened #504 "Support User Snippets API"
**Description**
Not sure, if I missed it. I only found `Project Snippets`, but GitLab also offers User Snippets: https://docs.gitlab.com/ee/api/snippets.html#list-all-snippets-for-a-user

Does this library support this too?

[2019-11-29 15:11] max-wittig commented on #504
I guess GitLab only allows to list Snippets for the current user, but has no way to list the Snippets from all users.

[2019-11-29 15:11] #504 closed

[2019-11-30 08:56] sdc224 commented on #499
Guys got any solution?

[2019-11-30 16:36] jdalrymple commented on #499
Not yet, still writing up a good test to recreate this

[2019-11-30 17:19] jdalrymple commented on #499
I was able to recreate your test case, but it seems to error out properly, not with the one you outlined above (json parsing error).

Could you provide some more information about your setup? The library version you are using? Or even a test repository with the error recreated.

[2019-11-30 19:01] sdc224 commented on #499
Sir need to first clear one thing that I am using git in VPN, which means I am using this library for calling git API of our organisation created in gitlab. So maybe that might creating some issue
I will try to replicate my issue in a local gitlab account, if the issue is still persist, I will reply back
Please look into that VPN part, maybe you guys can figure out something

[2019-12-01 05:35] jdalrymple commented on #496
I really should remove the need for the empty {} :thinking:

[2019-12-01 05:35] #496 closed

[2019-12-01 06:49] sdc224 commented on #499
I am using 12.0.0 version of gitlab.

For any kind of error message, it is showing the same as above(Unexpected < )

[2019-12-02 09:30] dragouf commented on #357
ok I'll try this week as soon as I can

[2019-12-05 14:25] jdalrymple commented on #357
@dragouf Any updates?

[2019-12-05 14:29] jdalrymple commented on #499
@sdc224 Were you able to test with your local gitlab account? I cant do much about your VPN setup lol. Might have to do with your security settings. Have you checked if its has to do with certificates? maybe try the 12.1.1 beta and setting rejectUnauthorized:false

[2019-12-05 19:19] sdc224 commented on #499
@jdalrymple Sorry for late reply man
Actually while using gitlab as host(from my personal account), it is perfectly working.
The error message is also coming as expected.
But still it is not working for my company's host.
Will try whatever you have told, and update here. Is there anything that needs to be configured from our side, so that the error message will appear properly?

[2019-12-05 19:22] sdc224 commented on #499
Sorry but I am not getting your steps, can you please elaborate a little?

[2019-12-05 19:27] sdc224 commented on #499
In Postman, we are getting some HTML pages as response instead of a JSON showing {message: ""}
For my company host
Although the HTML shows the exact problem...404 not found or 403 no access etc.
Is there any tool so that I can parse my error HTML messages as JSON instead of showing "Unexpected <" error?

[2019-12-05 22:21] sdc224 commented on #499
One more thing, can anyone tell me the difference between MergeRequests.accept and MergeRequests.approve?

[2019-12-05 22:55] jdalrymple commented on #499
@sdc224 If youre getting that response in postman, then the library wont be useful to you. The html page usually comes up when there is a security issue. What is the HTML page that is being returned? Is it the login page?

As for your second question:
accept: https://docs.gitlab.com/ee/api/merge_requests.html#accept-mr
approve: https://docs.gitlab.com/ee/api/merge_request_approvals.html#approve-me

[2019-12-06 20:56] sdc224 commented on #499
@jdalrymple Thanks you so much for your answer for the second question.

For the response thing, we are getting an HTML page saying 404 not found. I just want to know is there any provision to pass the HTML and return some good error message in JS?
Please tell us if we need to change something so that the error message would come as a JSON, instead of HTML

[2019-12-07 12:42] jdalrymple commented on #499
If we can recreate the error, then yea ill add a way to work around the html thing. As for now, I haven't been able to recreate the html response and while i have seen Not Found Errors, those are handled correctly.

[2019-12-08 22:00] sdc224 commented on #499
Sure guys, thank you all for your efforts to help me out in this matter. I will try to solve my problem, if I got any update, then I will inform you all. By the way, please help me if you come to know anything regarding parsing HTML as JSON.

One more question guys, while uisng the Cherry Pick, it is not creating any MR just like we can cherry pick a Merge Request in Gitlab UI. Is there any other

[2019-12-08 22:00] #499 closed

[2019-12-09 07:15] MadLittleMods opened #507 "Add support for all inherited members endpoint (ancestor groups) - /groups/:id/members/all/:user_id"
Add support for the following endpoints as documented in https://docs.gitlab.com/ee/api/members.html#get-a-member-of-a-group-or-project-including-inherited-members

 - **`GET /groups/:id/members/all/:user_id`**
 - **`GET /projects/:id/members/all/:user_id`**

This endpoint is special because it "includ[es] members inherited through ancestor groups."

We are using this in Gitter to support GitLab b

[2019-12-09 08:42] casz commented on #507
this is already supported.
https://github.com/node-gitlab/node-gitlab/blob/63b11574aa1db3b88be3b3baeb16dbaceb9e566b/src/core/templates/ResourceMembers.ts#L17

set `includeInherited` to true

[2019-12-09 08:55] casz commented on #507
ah, this was introduced in `GitLab 12.4.` as note by https://docs.gitlab.com/ee/api/members.html#get-a-member-of-a-group-or-project-including-inherited-members

So obviously this is currently not supported 😓

[2019-12-09 09:26] jdalrymple commented on #499
@sdc224 I dont think that functionally currently exists in the API :'(

[2019-12-09 10:22] #507 closed

[2019-12-09 10:36] jdalrymple commented on #507
:tada: This issue has been resolved in version 13.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/node-gitlab/node-gitlab/releases/tag/13.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-09 11:06] casz commented on #507
btw I love the fact that Gitlab/gitter is using this library 🥰

[2019-12-11 02:13] MadLittleMods commented on #507
@jdalrymple @casz I got this [working and all integrated](https://gitlab.com/gitlab-org/gitter/webapp/merge_requests/1679) now 🚀 Thanks for the great support and quick update  ❤️

[2019-12-11 10:02] jdalrymple commented on #507
@casz Next step is to clean it up a bit #483 ;)

[2019-12-11 10:03] jdalrymple commented on #357
@dragouf :D?

[2019-12-12 11:00] osmanraifgunes opened #509 "401 Unauthorized error"
I use webflow oauth token generation process. My token is coming as a respnse and I send this code to gitlab moudule.
[code]
Response is =>

[code]

[2019-12-12 11:18] jdalrymple commented on #509
If its an oauth token, it must use the 'oauthToken' option in the constructor. The 'token' option is for personalTokens. :)

[2019-12-12 11:25] osmanraifgunes commented on #509
Then it gives :

HTTPError: Internal Server Error
description:"500 Internal Server Error"
message:"Internal Server Error"
name:"HTTPError"
response:Response {size: 0, timeout: 300000, Symbol(Body internals): Object, …}
stack:"HTTPError: Internal Server Error\n    at fn (C:\code\RoboticApi\RestApi\node_modules\ky\umd.js:279:12)\n    at processTicksAndRejections (internal/process/task_queues.js:93:5

[2019-12-12 11:31] osmanraifgunes commented on #509
This worked for me :

[code]

thanks.

[2019-12-12 22:59] jdalrymple commented on #509
Seems odd, since their are tests for Project.all and they are passing. Perhaps it has to do with the amount of projects being returned for the .all function. Perhaps set a maxPages option?

[2019-12-12 23:15] casz commented on #509
if you run against gitlab you gotta be very careful with `api.Projects.all()` :)

[2019-12-18 19:54] chris-dura opened #511 "Is there a way to set a custom timeout on a request?"
**Description**

I'm trying to list the repository trees for some projects.

However, some not-so-nice person(s) have checked their `node_modules` into their repo 😡
Basically, getting the tree for those repos can take waaaaaay too long... the script won't crash, but I'd prefer to just move on, and flag that repo to get a slap on the wrist later.

I see a `requestTimeout` property in the `ProjectsB

[2019-12-19 14:20] jdalrymple commented on #511
Thats what the requestTimeout option would be used for, but it would be applied to all requests. Could you give me an example of how you would want it to work if the current timeout functionality isnt sufficient?

[2019-12-19 14:40] casz commented on #511
requestTimeout is per request what you want is per method call.

Since tree recursive is heavily paginated node-gitlab sends a request for each page and gitlab is limiting each resource to 100 results per page.

[2019-12-19 14:58] dragouf commented on #357
@jdalrymple sorry for the delay, I have tested it on your branch by doing something like :

[code]
But I still get `failed, reason: self signed certificate in certificate chain`.

anyway I'm able to bypass it by doing :

`export NODE_TLS_REJECT_UNAUTHORIZED=0`

[2019-12-19 15:01] jdalrymple commented on #357
hmm alright, ill keep looking i guess

[2019-12-19 15:06] casz commented on #357
😭 @dragouf why not just add the certificate via NODE_EXTRA_CA_CERTS?

[2019-12-19 15:08] dragouf commented on #357
because I don't have the root certificate @casz. It's not me who manage this server in my company and I have no access to it...

[2019-12-19 15:10] dragouf commented on #357
@jdalrymple I checked your code and it seems that when you do

`if (service.url.includes('https') && service.rejectUnauthorized) {`

it's incorrect because rejectUnauthorized is not false by default. when I invert your condition it works.

[2019-12-19 16:04] casz commented on #357
just because you don't have the root certificate does not mean you can't retrieve the server certificate and trust just the certificate.

You can also download the root certificate without any difficulty, right from the browser.

https://docs.bvstools.com/home/ssl-documentation/exporting-certificate-authorities-cas-from-a-website
https://unix.stackexchange.com/questions/368123/how-to-extract-the-r

[2019-12-19 16:25] dragouf commented on #357
About my understanding @casz, client certificate is not a root certificate. And when I try to export the client certificate as a pem file and use NODE_EXTRA_CA_CERTS to list it as additional root certificate, it still tell me that the server certificate is rejected...

[2019-12-19 18:28] casz commented on #357
On chrome you should be able to export the root ca as well at least on Windows

[2019-12-20 02:32] chris-dura commented on #511
@jdalrymple -- thanks, so I might be missing something... I didn't see any docs on how I could shorten `requestTimeout` or use "the current timeout functionality"?

Also, I wasn't sure that would do what I wanted (seems to be indicated by @casz as well), because a console log seems like the `ProjectsBundle.requestTimeout` was set to `300000` (ish) which I assume is in milliseconds, meaning about `

[2019-12-20 11:44] matthiasritter opened #512 "GroupVariables and ProjectVariables are not "editable": wrong type"
Hi,
I just want to use this library, but I experienced a problem with the type of "keyId".

If I want to use this
`
import { Gitlab } from 'gitlab';
const api = new Gitlab({
      host: 'https://gitlab.example.com',
      token: 'myToken',
    });
api.ProjectVariables.show("6588", "test22")`
This does not work, because there is no "keyId" (in this example there is no Id, only a variable "string").

[2019-12-20 17:10] draebyllek opened #513 "Issues.show() not getting any results"
I am completely new to this API and Javascript in general, so I might be doing something completely wrong here, but I am attempting to fetch a single issue and then call Issues.show() on it.
 I am using nodejs 12.13.1.  Code follows:

const { Gitlab } = require('gitlab');

// Do this to instantiate the library with your host and security key
const api = new Gitlab({
    host: 'http://qq-git',

[2019-12-21 09:17] jdalrymple commented on #513
So from what i gather, both the .all and .show are **not** working for you?

[2019-12-21 09:19] jdalrymple commented on #357
@dragouf Oops, ill fix my boolean check!

[2019-12-21 09:32] jdalrymple commented on #357
Its true by default...

[2019-12-21 09:43] jdalrymple commented on #511
Yea that should be possible. I never did take into consideration the paginated requests in terms of the timeout. In those cases, it would make sense that the default behaviour for a timeout be applied to the method your calling, regardless of how many requests there are? @casz

[2019-12-21 10:02] #509 closed

[2019-12-21 10:02] jdalrymple commented on #509
Closed for now, if you get any more information ill reopen :)

[2019-12-21 11:03] #512 closed

[2019-12-21 11:21] jdalrymple commented on #512
:tada: This issue has been resolved in version 14.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/node-gitlab/node-gitlab/releases/tag/14.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-23 12:00] jdalrymple commented on #483
So I've come to a decision that I'm going to try and complete over the holidays. Basically, I want to follow along the octokit path and rebrand the repo/npm package.

The thrown around name is Gitbeaker, playing off the Gitlab name. The logo design is still up in the air, but will probably be one of the three below:

![image](https://user-images.githubusercontent.com/3743662/71356902-ed46b900-2583

[2019-12-23 12:10] casz commented on #483
I like gitbeaker what do you think if the C# implementation joined?
https://github.com/nmklotas/GitLabApiClient

WDYT @nmklotas ?

[2019-12-23 12:10] casz commented on #483
I like the third logo because it adds a bit of color.

[2019-12-23 13:26] casz commented on #483
@jdalrymple you could rename the old npm package name point to the new npm package even show a deprecation warning? Such things are supported.

https://stackoverflow.com/questions/28371669/renaming-a-published-npm-module

[2019-12-23 20:07] nmklotas commented on #483
@casz I'm lost, what is git beaker ?:D how its connected to gitlab and gitlab api client for .net? :)

[2019-12-26 15:11] jiadi0801 opened #518 "pagination does not work for ResourceMembers"
"gitlab": "^14.0.1",

[code]
when I use `ProjectMembers` to get members with `PaginatedRequestOptions`,  it always return array.

I tried `ProjectMembers` and some other services, they work fine.

I got the compiled position in dist/index.js （`https://github.com/jdalrymple/gitbeaker/blob/c6f4c51d585c3906547334256e01c31e1ddced14/src/core/infrastructure/RequestHelper.ts#L78`） ，write  'console.log' h

[2019-12-26 18:43] arsdehnel opened #519 "Create Issue Board List by Milestone"
**Description**

I am trying to automate the management of some milestone-based GitLab boards and found a situation where I need to create a list based on the `milestone_id` and _not_ the `label_id` but the current implementation: https://github.com/jdalrymple/gitbeaker/blob/master/src/core/templates/ResourceIssueBoards.ts#L26 doesn't allow me to leave off the `label_id`.  The GitLab API won't all

[2019-12-29 11:01] alexisfrjp opened #520 "api.Groups.all() returns groups+subgroups visible and owned by the token's user only."
**Description**

`api.Groups.all()` returns groups and subgroups owned by the access token's user only.

**Steps to reproduce**

Using `api.Groups.all()`

**Expected behaviour**
Return all the groups without their subgroups as `GET /groups` from the official API.
`skip_groups` and many other options aren't available.

**Actual behaviour**
Returns groups and their subgroups owned by the token's use

[2019-12-29 11:10] #520 closed

[2019-12-29 13:22] jiadi0801 commented on #518
seems found the issue。

In ResourceMembers.ts, the all and show method params here `return RequestHelper.get(this, url.join('/'), { options });` should be `return RequestHelper.get(this, url.join('/'), { ...options });`

[2019-12-29 13:33] casz commented on #518
Send a PR?

[2019-12-30 12:57] #518 closed

[2019-12-30 13:06] jdalrymple commented on #519
I would change it to remove the label_id as a required argument, and just pass it in the options like you suggested. Then release it as a breaking change so users will not be caught off guard if their latest update doesnt work the same way. The change will be documented in the changelog :)

[2019-12-30 13:14] jdalrymple commented on #518
:tada: This issue has been resolved in version 14.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/gitlab)
- [GitHub release](https://github.com/jdalrymple/gitbeaker/releases/tag/14.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-02 02:33] arsdehnel commented on #39
@jdalrymple with the rebranding you're working on do you have any plans around this documentation idea that has been rolling around?  I can't figure out what the plan is here and so I sort of just left things as they were last fall.  Feels like we need to decide if we want auto-generated docs included or if we're just wanting the "intro" stuff in a docs site and rely on vscode or other IDE to hand

[2020-01-11 14:53] DavidFaizulaev opened #526 "Support request - TypeError: Cannot read property 'includes' of undefined"
I'm trying to use the API package and I get the following exception when trying to create a commit:

[code]

I get the error when trying to create a commit:

[code]
The token I use & url are valid (I'm able to interact with gitlab API using regular nodejs 'request' module).

Please advise what am I doing wrong?

[2020-01-11 15:04] casz commented on #526
You should not use the requester object directly...

You want to use the create method on Commits service:
[code]

[2020-01-16 10:37] #526 closed

[2020-01-17 15:45] jetersen opened #555 "Invalid json response body when using the Jira services API"
**Description**

**Steps to reproduce**

api/v4/projects/id/services/jira is very buggy and for some reason throws non JSON when erroring.

**Expected behaviour**

I'd like to understand what is wrong but I cannot debug into the code and find the body response.

**Actual behaviour**

Useless FetchError

**Possible fixes**

Log the body response

[2020-01-17 15:57] jdalrymple commented on #555
Thats really odd, ill try and give it a look over the weekend!

[2020-01-17 17:58] casz commented on #555
Perhaps it would help debug if distributed had source maps

[2020-01-20 12:23] SirkoS opened #560 "Import failing due to missing default file extension"
**Description**

Importing a project into a self-hosted Gitlab-instance fails with the following error
[code]
This behavior is also documented in the [Gitlab issue tracker](https://gitlab.com/gitlab-org/gitlab-foss/issues/50944).

**Steps to reproduce**

Try to import an arbitrary project from a bundle file as generated by the respective export function.

**Expected behaviour**

Project is importe

[2020-01-21 05:39] #560 closed

[2020-01-22 12:03] SirkoS opened #568 "How to submit a different namespace to ProjectImportExport.import() ?"
From reading [the Gitlab documentation on importing project from a file](https://docs.gitlab.com/ee/api/project_import_export.html#import-a-file) there are some more parameters then `file` ad `path`, that are [supported here](https://github.com/jdalrymple/gitbeaker/blob/master/src/core/services/ProjectImportExport.ts#L22).

[code]

Using the general `options` is of no use, as the parameters there

[2020-01-22 12:30] jdalrymple commented on #568
Hmm you actually found a pretty important edge case. To avoid solving it for just this use case, I'm going to fix up the functionality in the RequestHelper. I'll post something up in the next couple hours!

[2020-01-23 10:11] jdalrymple commented on #513
Closing due to inactivity. Feel free to add more information and I'll reopen :smile:

[2020-01-23 10:11] #513 closed

[2020-01-25 15:00] AlvaroBernalG opened #574 "Add detailed search support to Merge Requests"
Hello good people of gitbeaker,

**Description**

It would be great if we could search for Merge Requests inside a project by matching a text against MR title or/and description.

**Proposal**

Proposed API:

[code]
MergeRequestSearchParams will contains all the available merge request params documented in:
https://docs.gitlab.com/ee/api/merge_requests.html#list-merge-requests
 plus another one: `

[2020-01-25 16:26] jdalrymple commented on #574
You can currently do this by using the .all method! :smile: . This should work like this:

[code]

If the projectId is omitted, it will search all MR's. You can also use the groupId instead to get all MR's corresponding to a specific group

[2020-01-25 16:46] AlvaroBernalG commented on #574
I will create then a PR mapping the Gitlab endpoint params to a interface so that we can have IntelliSense:

<img width="816" alt="Screenshot 2020-01-25 at 16 36 22" src="https://user-images.githubusercontent.com/12004383/73124239-fc5cc480-3f90-11ea-9908-487838502381.png">

Or is there a reason why the options object does not have an interface, like .create()?

 <img width="639" alt="Screenshot 20

[2020-01-25 16:53] jdalrymple commented on #574
No reason, just never had the time to add all the interfaces for the optional parameters for each function :sweat_smile:

[2020-02-03 12:37] jdalrymple commented on #574
Feel free to submit a PR if you find the time!! :sunglasses:

[2020-02-03 12:37] #574 closed

[2020-02-03 12:38] jdalrymple commented on #483
Just a bit delayed. Need to fix the release automation. Apparently semantic release doesnt fully support monorepos :(

[2020-02-21 13:27] miksonx commented on #29
@max-wittig @jdalrymple  how can you specify "custom options" to get project statistics?
Thank you

[2020-02-21 14:01] jdalrymple commented on #29
[code]

[2020-03-06 01:58] fbartho commented on #377
Starting this afternoon, I started getting this issue when using DangerJS https://github.com/danger/danger-js/issues/1012

Is there something recent that might have caused this to reappear?

[2020-03-06 16:56] jdalrymple commented on #377
Seems odd, nothing has changed recently. What version are you using?

[2020-03-06 19:24] fbartho commented on #377
The branch was a relatively long running branch to upgrade a ton of dependencies (react-native 0.62), and this was the first build out of it, so I suspect that we somehow have a mismatch in something there. Will update this after further investigation

[2020-03-07 17:54] gtron opened #625 "Error when calling RepositoryFiles.show()"
**Description**
I am trying to retrieve a file from a remote repository on GitLab.
The only thing I managed to get an error.

In my package.json I have:
[code]

package-lock.json:

[code]

My Environment:
[code]

**Steps to reproduce**

The code I am using is taken from your Readme:
[code]

**Expected behaviour**

I am supposed to see the info of the file.

**Actual behaviour**

[code]

**Possible

[2020-03-09 14:52] jdalrymple commented on #625
I think it may be due to the '/' prefix on your file path. Try using "README.md" instead? Ill add a bug fix to remove those in the future

[2020-03-11 00:35] gtron commented on #625
I have tried without the starting '/' but the result is the same:

`const fileContent = await gitlab.RepositoryFiles.show('7764', 'README.md', 'master', {});`

Something I forgot to mention: I'm running it inside a function with serverless.com:

[code]

Apologies for that.

[2020-03-12 18:02] jdalrymple commented on #625
Yea no worries, I'm curious as to why this didn't work. Ill test it before the end of the week to see if anything stands out and follow up

[2020-03-13 23:40] jdalrymple commented on #625
Hmm, I just tested this wouldnt any errors. It could be related to the environment like you mentioned?

[2020-03-17 18:05] Telokis commented on #384
What is missing in order for us to have proper typings for `MergeRequests`?

[2020-03-18 06:22] hlwjia opened #635 "Got NOT FOUND when trying to add deploy key"
I am trying to add deploy key to my repo.

[code]

It returns `404 NOT FOUND` message.

[code]
Based on the `Not Found`, I can only assume it's `projectId` I got wrong. But I checked MANY MANY times to make sure the projectId is correct.

---

It works perfectly when I curl it as [official docs](https://docs.gitlab.com/ee/api/deploy_keys.html#add-deploy-key) says.

[code]

---

What am I doing wro

[2020-03-18 06:42] hlwjia commented on #635
Damn it!  Careless mistakes.

should be this:

[code]

[2020-03-18 06:42] #635 closed

[2020-03-18 11:24] jdalrymple commented on #384
A chunk is already supported, but i need to finally merge some of the PR's. Im just waiting on the first release of the latest version of the library before doing so and THATS being held up by finishing the automatic release pipeline with semantic-release-npmx. Almost there, just been a crazy couple months :/

[2020-03-22 03:12] Kujo-Jotaro-AAAAA opened #637 "Unsupport /api/v4/session as it was removed in Gitlab 9.5"
session api is 404
`
{
    "error": "404 Not Found"
}
`

[2020-03-22 03:45] Jetersen commented on #637
Session API has been removed since 9.5
Finding the docs that says it was removed is a little harder.
https://forum.gitlab.com/t/gitlab-session-api-is-not-working-in-gitlab-ce-10-3-5/13976/6

[2020-03-22 14:55] #357 closed

[2020-03-22 14:55] jdalrymple commented on #338
Should be pipeable now with the stream option

[2020-03-22 14:55] #338 closed

[2020-03-22 14:56] #483 closed

[2020-03-22 14:57] jdalrymple commented on #297
Should be streamable now with the @gitbeaker/node package

[2020-03-22 14:57] #297 closed

[2020-03-22 14:57] #51 closed

[2020-03-22 14:58] jdalrymple commented on #555
Any updates on this?

[2020-03-24 21:08] #568 closed

[2020-03-24 21:17] jdalrymple commented on #568
:tada: This issue has been resolved in version 17.0.0 :tada:

The release is available on:
- `npm package (@latest dist-tag)`
- [GitHub release](https://github.com/jdalrymple/gitbeaker/releases/tag/17.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-01 12:44] s-kazuki opened #666 "type Error in infrastructure/BaseService with Typescript"
**Description**

- package.json
[code]
- Error when `tsc` build
[code]

---

**Possible solutions**

(workaround)

- node_modules/@gitbeaker/core/dist/types/infrastructure/BaseService.d.ts
[code]
->
[code]

[2020-04-06 09:44] mickaeltr opened #679 "Browser support does not seem to be correctly documented"
**Description**

The document says that the library can be used in a browser using this script:

[code]

However, there is no `node_modules/@gitbeaker/browser/index.js` in the `@gitbeaker/browser` dependency.

There is a `node_modules/@gitbeaker/browser/dist/index.js` but it does not seem to export any `gitlab` object.

**Possible solutions**

I guess the documentation needs an update on this.

Th

[2020-04-06 14:29] jdalrymple commented on #679
Just added the updated docs! Tell me if you have anymore trouble :)

[2020-04-06 14:54] jetersen commented on #679
@jdalrymple on my simple test it is undefined so definitely not resolved.

[2020-04-06 14:55] jdalrymple commented on #679
Well thats frustrating. Ill look into it more deeply when i have a min

[2020-04-06 14:57] jetersen commented on #679
[code]
You need to add `.default` at least that how it is in Chrome.

[2020-04-06 15:00] jdalrymple commented on #679
Ugh, the default experience sucks lol

[2020-04-06 15:01] jdalrymple opened #680 "Add browser distribution integration tests"
Could do something based on a snippet like below

[code]
You need to add `.default` at least that how it is in Chrome.
Not sure default is a great experience 😓

_Originally posted by @jetersen in https://github.com/jdalrymple/gitbeaker/issues/679#issuecomment-609846617_

[2020-04-06 15:01] jetersen commented on #679
I'd just like to add! Great job on splitting browser and node 👏

[2020-04-06 15:21] mickaeltr commented on #679
Besides, it's actually the [Browser support](https://github.com/jdalrymple/gitbeaker#browser-support) that needs updates. Thanks everyone 😊

[2020-04-10 02:42] LorhanSohaky opened #686 "Error on constructor"
**Description**
I have an application in Vue and when trying to run the contructor, it gives the following error.

![image](https://user-images.githubusercontent.com/16273730/78957157-e4d6a780-7aba-11ea-95ee-68e4a31748ef.png)

[code]

**Steps to reproduce**
## Dependencies
node: v10
[code]
## Code
[code]

[2020-04-15 10:08] oocl-kevinha opened #691 "Upgrade from node-gitlab 14.2.2"
Can I  upgrade from 14.2.2 to gitbreaker latest version without breaking ?
I am using node 10.18.1

[2020-04-15 10:14] jetersen commented on #691
@oocl-kevinha check the release notes: https://github.com/jdalrymple/gitbeaker/releases

[2020-04-15 14:04] lev-kuznetsov opened #692 "How to resolve a merge request discussion"
Hi, I don't see any other way to ask questions, I'm trying to figure out how to resolve a merge request discussion. It seems to be possible via API: https://docs.gitlab.com/ee/api/discussions.html#modify-an-existing-merge-request-thread-note but I don't see an edit method on the merge request discussion only editNote.

[2020-04-15 15:24] jdalrymple commented on #692
You can use the `editNote` function. Here is some pseudo code to do such a thing:

[code]

Apparently the body is no longer a required parameter. I will move it to the optional arguments in the next release of the library :nerd_face:

[2020-04-15 15:24] #692 closed

[2020-04-15 15:24] jdalrymple commented on #691
If youre still having trouble after reading the release notes, ask away :)

[2020-04-15 15:24] #691 closed

[2020-04-21 16:22] jdalrymple commented on #686
Could you provide a sample repo with this?

[2020-04-21 19:12] jdalrymple commented on #666
Tackling this one tomorrow!

[2020-04-21 21:09] inkidu opened #698 "'Gitlab' is not exported from '@gitbeaker/node'."
**Description**

I am working on a react dashboard trying to import the git client from @gitbeaker/node as follows:

`import { Gitlab } from '@gitbeaker/node';`

I get the following warning in the editor:

[code]
I saw this with v18.0.0 and the previous version.
My version of node is 13.12.0.
I tried the workaround for this issue #304, but that didn't work for me.

**Steps to reproduce**

When I r

[2020-04-21 21:12] jdalrymple commented on #698
Seems odd but sound very similar to #686. Ill give it a quick look tomorrow. It could be an error in the export?

[2020-04-21 21:18] inkidu commented on #698
Thank you so much.

[2020-04-21 21:38] inkidu commented on #698
I rolled back to the old gitlab library
`npm install gitlab`
and it worked with that.

[2020-04-21 23:12] jdalrymple commented on #698
Found the problem. Due to the way it was setup, only the default export is available. Im fixing that up now and it should be released in the next day or so

[2020-04-22 02:26] LorhanSohaky commented on #686
https://codesandbox.io/s/crimson-sea-cf5uk?file=/src/gitlab.js

[2020-04-22 08:23] #679 closed

[2020-04-22 08:23] #680 closed

[2020-04-22 08:34] jdalrymple commented on #680
:rocket: Issue was released in [`18.1.0`](https://github.com/jdalrymple/gitbeaker/releases/tag/18.1.0) :rocket:

[2020-04-22 08:34] jdalrymple commented on #679
:rocket: Issue was released in [`18.1.0`](https://github.com/jdalrymple/gitbeaker/releases/tag/18.1.0) :rocket:

[2020-04-22 09:09] jdalrymple commented on #666
Im having some trouble recreating this error. Im using :

[code]

[2020-04-22 09:27] jdalrymple commented on #479
Dont see much incentive doing this right now. Maybe something to look into in the future

[2020-04-22 09:27] #479 closed

[2020-04-22 09:57] s-kazuki commented on #666
my yarn.lock:
[code]

[2020-04-22 12:05] jdalrymple commented on #666
hmm, could you make a sample project maybe? Its weird I'm getting different results

[2020-04-22 12:08] jdalrymple commented on #666
Hmm, any chance you could put together a sample project?

[2020-04-22 12:09] jdalrymple commented on #625
Closing for now. If you think of anything else i can reopen! Ill make sure to add a integration test just in case too

[2020-04-22 12:09] #625 closed

[2020-04-22 12:16] jetersen commented on #666
most likely related to misconfigured `tsconfig`

[2020-04-22 13:30] inkidu commented on #698
I tried the workaround and got the following results.
'''
import Gitbeaker from '@gitbeaker/node';
//const { Gitlab } = Gitbeaker;

export default class GitlabClient {

    static instance = null;
    static getInstance() {
        if (this.instance === null) {
            this.instance = new GitlabClient();
        }
        return this.instance;
    }

    constructor() {
        this.config = r

[2020-04-22 13:56] justin-calleja opened #710 "Expected the `options.agent` properties to be `http`, `https` or `http2`, got `_events`"
**Description**

**Steps to reproduce**

`npm i -g @gitbeaker/cli`

[code]

**Expected behaviour**

The cli should show some meaningful output related to gitlab projects.

**Actual behaviour**

I get this error (note I have `gb-token` and `gb-host` set as env vars and cli outputs them when I use `-g`):

[code]

[2020-04-22 14:11] jdalrymple commented on #710
:joy: yes that would be a fair assumption. Ill give it a look! havent seen that error before :/

[2020-04-22 14:54] inkidu commented on #710
I don't know if this is related, but when testing 18.1.0 this morning I had to install http2 in order to get my code to compile: @gitbeaker/node -> got -> http2-wrapper. http2-wrapper depends on http2, but node did not install it automatically. Once I installed it manually, things moved forward.

[2020-04-22 14:55] jdalrymple commented on #710
Thats odd, but noted, ill see what comes up when the tests run

[2020-04-22 14:56] inkidu commented on #698
Updated to v18.1.0 and got a slightly different error. I know you haven't merged your fix. This is informational only.

[code]
Results:
[code]

[2020-04-22 14:56] jdalrymple commented on #698
What does your tsconfig look like?

[2020-04-22 18:34] jdalrymple commented on #710
Found the problem!

[2020-04-22 19:12] #710 closed

[2020-04-22 19:21] jdalrymple commented on #710
:rocket: Issue was released in [`18.2.0`](https://github.com/jdalrymple/gitbeaker/releases/tag/18.2.0) :rocket:

[2020-04-22 22:06] inkidu commented on #698
I don't have a tsconfig. My project is javascript not typescript.

[2020-04-23 10:55] jdalrymple commented on #698
Ok, ill change my local test to see if the error pops up

[2020-04-23 11:07] jetersen commented on #698
Based on the test name I presume your clearing the environment variables. Hence you accidentally cleared PATH env.

[2020-04-23 13:54] inkidu commented on #698
I have found the enemy and it is me. I switched to @gitbeaker/browser, which I should have been using the entire time, and the workaround you identified:
[code]
is working for me. Thank you for the help.

[2020-04-23 14:16] #698 closed

[2020-04-23 21:50] jdalrymple commented on #686
Should be good with this latest release. Give it a look in a few minutes!

[2020-04-24 03:45] jetersen commented on #555
Yes, I stopped using Gitlab 😆

[2020-04-24 03:47] jetersen commented on #686
Yes: https://codesandbox.io/s/wizardly-germain-whvr6?file=/src/gitlab.js switching to v19.0 makes it work

[2020-04-24 10:44] jdalrymple commented on #555
Alright, going to close this then!

[2020-04-24 10:44] #555 closed

[2020-04-24 10:44] #686 closed

[2020-04-24 19:34] LorhanSohaky commented on #686
Thanks!!!

[2020-04-25 10:19] jdalrymple commented on #519
Was fixing this one up and noticed a small inconsistency.  The group issue board docs do not mention milestoneId being a property? https://docs.gitlab.com/ee/api/group_boards.html#new-group-issue-board-list

[2020-04-25 10:21] jdalrymple commented on #398
@pratikjagrut  Could you put together a small sample project with this issue?

[2020-04-25 10:23] jdalrymple commented on #385
Does the problem still occur? @Helam24

[2020-04-25 10:26] jdalrymple commented on #637
Apparently already did [this](https://github.com/jdalrymple/gitbeaker/releases/tag/10.0.3)

[2020-04-25 10:26] #637 closed

[2020-04-25 10:27] jdalrymple commented on #309
Added CLI tests and basic browser import tests in the latest release @19.0.0

[2020-04-25 10:27] #309 closed

[2020-04-25 10:43] DanielRuf opened #720 "Move to org"
GitHub is free for teams now, see https://github.blog/2020-04-14-github-is-now-free-for-teams/ and https://github.com/pricing.

Regardin the current amount of stars and activity this project should live in an org to increase the bus factor, ease the process of adding new and more maintainers, define different teams with different permissions (maintainers, reviewers, contributors, ...) and so on.

[2020-04-26 16:30] jdalrymple commented on #310
Would this be something only available to node users? As in though this be its own package @gitbeaker/graphql ?

[2020-04-26 16:45] jetersen commented on #310
This would be beneficial to both node and browser :)

[2020-04-27 10:15] jdalrymple commented on #310
Can you make requests to the graphql api through standard http requests? or does it require a graphql requester that supports browser and node?

[2020-04-27 11:10] jetersen commented on #310
you can do with normal http requests it is just post method.
Though there is some special logic handling queries.

[2020-04-27 12:41] jdalrymple commented on #310
Any examples of that special logic. I could try to incorporate it into the Got/Ky Requesters

[2020-04-29 17:52] Helam24 commented on #385
@jdalrymple I’m not sure. I’m not working on that project at the moment. I ended up moving all the relevant calls to the main process instead of the renderer process which is probably better anyway, just a little more work. Were changes made that might’ve fixed the issue?

[2020-04-29 17:55] jdalrymple commented on #385
Nothing specific, though since then we've released a browser specific version and cleaned up alot of the logic.

[2020-05-04 19:56] damusix opened #751 "Gitbreaker node script hangs when calling all projects"
**Description**
Whenever I use `ProjectsBundle` or `Gitlab` constructor, my script hangs forever. It doesn't error out, or ever finish. I have looked at closed tickets to see if this was a thing before, but didn't find anything relevant.

**Steps to reproduce**

[code]

`index.js`
[code]

[code]

**Expected behaviour**
Should give me a list of projects

**Actual behaviour**
Script hangs forever

!

[2020-05-04 20:27] jetersen commented on #751
No it doesn't :)
Your querying against gitlab.com it will take ages to get all the projects.

[2020-05-05 00:14] damusix commented on #751
@jetersen Documentation is not very descriptive of how someone should go about querying their own projects, or scoped within their group. I tried the following:

[code]

---

[code]

All hang for over 10 seconds.

[2020-05-05 00:22] damusix commented on #751
Also, adding scope to `all()` function gives me these log warnings:

[code]

[2020-05-05 06:12] jetersen commented on #751
https://docs.gitlab.com/ee/api/projects.html#list-all-projects

You can try using `membership: true` or `owned: true` in your options object.

Those warnings are coming from nodejs, not sure you can hide them based on this:
https://github.com/nodejs/node/issues/19704

[2020-05-05 07:27] justin-calleja opened #759 "`showPagination` doesn't seem to be working"
**Description**

When using `showPagination` in a call like this:

[code]

Documentation says to expect a result of the form:

[code]

However, I only get the `data` part i.e. an array of objects  of the form:

[code]

If I go to `/help` on the gitlab instance I'm running against, I get back:

[code]

(I'm using gitbeaker version `19.3.0`).

Thank you

[2020-05-05 12:08] jdalrymple commented on #751
Hmm, when you run this:
[code]

Does it hang as well?

[2020-05-05 12:10] jdalrymple commented on #759
Thats my bad! I must of missed an updated to the docs. Use `showExpanded: true` instead

[2020-05-05 12:31] #759 closed

[2020-05-05 13:04] jdalrymple commented on #519
Can anyone verify this to make sure i'm not missing something?

[2020-05-05 13:36] arsdehnel commented on #519
You are not missing anything but the docs are.  I don't have a reduced test case I can lay out but I have this:

[code]

And it's working with the API to create a list inside my existing board that is defined by a milestone.

[2020-05-05 13:37] jdalrymple commented on #519
Ill bring it up with Gitlab as well!

[2020-05-05 13:39] jdalrymple commented on #759
:rocket: Issue was released in [`19.3.1`](https://github.com/jdalrymple/gitbeaker/releases/tag/19.3.1) :rocket:

[2020-05-05 13:43] jdalrymple commented on #519
Which version of Gitlab are you using?

[2020-05-05 13:44] arsdehnel commented on #519
That script runs weekly and last time it ran we were on 12.9.  We're on 12.10 now and it'll run tomorrow night so I can confirm it still works there if needed.

[2020-05-05 13:45] jdalrymple commented on #519
Perfect, ill connect the issues as well! Thank you !!

[2020-05-05 14:38] dylanmtaylor opened #763 "Deploy Tokens API is not implemented"
This is a relatively new API. I'm trying to implement it on a branch I made. PR: https://github.com/jdalrymple/gitbeaker/pull/762

[2020-05-05 15:03] damusix commented on #751
@jetersen I tried `owned: true` and it didn't work. I tried `search('myProject')` for both Project and Group and nothing. Same thing, it hangs.

@jdalrymple Just tried these:

[code]

---

[code]

---

[code]

Same thing. Hangs for over 10 seconds.

[2020-05-05 15:04] damusix commented on #751
Also, I tried hitting the API directly using Axios and it is response immediately, so It's definitely not latency on Gitlab's part. Anyway to debug the internal request / response?

[2020-05-05 15:11] jdalrymple commented on #751
Well that's really odd. Currently there isnt a very convenient way to debug. When i do it myself I add console logs in the RequestHelper file and rebuilt, and then npm link my local files. Kinda a pain.

Definitely should expose a way to view more information without having to run a local version.

Any chance you could create the same behaviour with a public repository? That way i could help debug

[2020-05-05 15:18] jdalrymple opened #764 "Expose internal debug functionality"
**Description**
Not sure what the best way to do this would be, but having a way to view some of the internal process would be very useful in debugging. passing a debug property that had things like the raw requests and more.

**Proposal**
Open to ideas here!

[2020-05-05 15:23] jetersen commented on #751
What version of nodejs are you using?

[2020-05-05 18:55] damusix commented on #751
@jdalrymple @jetersen  https://github.com/damusix/gitbeaker-issues

I tried Node 10, 12 and 14. Same issue.

[2020-05-05 20:59] jetersen commented on #751
Can you try using

[code]

or

[code]

[2020-05-05 21:15] damusix commented on #751
@jetersen that's how I originally had it, same results.

[2020-05-05 22:40] jdalrymple commented on #751
Bleh, im sorry this isnt cooperating :/ Would you be able to put together a test project to recreate the issue?

[2020-05-05 23:48] damusix commented on #751
@jdalrymple that repo I mentioned in my previous comment is it. Create a gitlab token and run it. See if you re-create it. I am just trying to get started, I have no project yet.

[2020-05-06 08:20] jdalrymple commented on #751
Oops! Missed that. Ill look into it!

[2020-05-06 11:55] jdalrymple commented on #751
I tested this on node 14 and received the response immediately :/

[2020-05-06 12:02] jetersen commented on #751
What OS, are you running behind a firewall, VPN, or proxy?

[2020-05-06 17:56] #763 closed

[2020-05-07 15:54] sedrubal opened #772 "Creating Projects for groups seems not to be possible"
**Description**
As far as I understand, it is only possible to [create a project for a user](https://docs.gitlab.com/ee/api/projects.html#create-project-for-user) but not not create [just a project (with a namespace)](https://docs.gitlab.com/ee/api/projects.html#create-project)

**Proposal**
This API should be implemented: https://docs.gitlab.com/ee/api/projects.html#create-project

[2020-05-07 16:32] jetersen commented on #772
Sure it is: https://github.com/jdalrymple/gitbeaker/blob/0f0d2d7a150d2bacb070112f597455a9bf280e9a/packages/gitbeaker-core/src/services/Groups.ts#L46

[2020-05-11 20:14] Mikescops opened #779 "Todos mark_as_done not working"
**Description**

The todos.done() method is not working.

**Steps to reproduce**
Example of code:
[code]

**Expected behaviour**
Should work.

**Actual behaviour**
Send back 404 not found.

**Possible fixes**
The request is using DELETE method instead of POST.

I tested the same request by replacing the DELETE by POST in the browser and it works well.

[2020-05-11 20:15] jdalrymple commented on #779
Ill fix it within the next day! Thanks for pointing it out

[2020-05-11 20:18] Mikescops commented on #779
Just a screenshot and I opened a PR above

![image](https://user-images.githubusercontent.com/4266283/81607649-4d27ea00-93d5-11ea-918f-d994a8d2e612.png)

[2020-05-11 20:22] #779 closed

[2020-05-11 20:29] Mikescops commented on #779
Can you ping me when the new release will be available? Thanks!

[2020-05-11 20:40] jdalrymple commented on #779
:rocket: Issue was released in [`19.5.0`](https://github.com/jdalrymple/gitbeaker/releases/tag/19.5.0) :rocket:

[2020-05-11 20:40] jdalrymple commented on #779
:rocket: Issue was released in [`19.5.0`](https://github.com/jdalrymple/gitbeaker/releases/tag/19.5.0) :rocket:

[2020-05-11 21:49] Mikescops commented on #779
Thanks a lot! :+1:

[2020-05-12 09:14] Granjow commented on #384
For a while now all Typing support has gone and the types file lists that:

[code]

Are the types (which are still supported in the original [gitlab](https://www.npmjs.com/package/gitlab) package) going to come back?

[2020-05-12 10:55] jdalrymple commented on #384
They should be! Ill look into it, sorry about that :/

[2020-05-13 09:53] jdalrymple opened #793 "Review Typing support of the gitbeaker distributions"
There seems to be missing typing for the latest releases of the gitbeaker libraries. :/

[2020-05-14 09:37] sedrubal commented on #772
You're right, it really works. But actually I searched for this route when there is no `userId` given:

https://github.com/jdalrymple/gitbeaker/blob/0f0d2d7a150d2bacb070112f597455a9bf280e9a/packages/gitbeaker-core/src/services/Projects.ts#L64

I must have missed it.

[2020-05-14 18:52] GochoMugo opened #794 "Uploading file fails"
**Description**

With the code below:

[code]

the following error is thrown:

[code]

**Possible fixes**

Usage of dependency `form-data` is wrong when handling
files i.e. on line [packages/gitbeaker-core/src/infrastructure/Utils.ts#L29](https://github.com/jdalrymple/gitbeaker/blob/8dbc11590b/packages/gitbeaker-core/src/infrastructure/Utils.ts#L29).

A possible fix:

[code]

[2020-05-15 09:51] jdalrymple commented on #794
I messed up the usage, ill fix this up before the end of the week!

[2020-05-15 09:55] jdalrymple commented on #772
Yea this should probably set a default object or it would error when no userId is given. Ill fix this up

[2020-05-15 13:50] damusix commented on #751
Latest osx. No proxy, no vpn. 🤔

[2020-05-15 15:01] jdalrymple commented on #751
Hmm, do you receive similar results if you perform the same request with got? Does it hang?

[2020-05-15 15:38] jdalrymple commented on #772
More of a problem with the typing info than anything. You must pass path or name to the create function. Since one of those two properties are required, userId can be null without any problems.

[2020-05-15 15:38] jdalrymple commented on #666
Any updates on this?

[2020-05-15 15:38] #666 closed

[2020-05-15 19:35] jdalrymple commented on #384
@Granjow , continuing the conversation in #793

[2020-05-15 19:36] jdalrymple commented on #793
Im getting some weird results when testing the typing. When i build the libraries locally, a d.ts file is generated like this:

[code]

But when accessing the library like @gitbeaker/node through npm linking in another test package, it still shows up any :/

[2020-05-15 20:21] #794 closed

[2020-05-16 11:33] #772 closed

[2020-05-16 11:50] jdalrymple commented on #772
:rocket: Issue was released in [`19.6.0`](https://github.com/jdalrymple/gitbeaker/releases/tag/19.6.0) :rocket:

[2020-05-16 11:50] jdalrymple commented on #794
:rocket: Issue was released in [`19.6.0`](https://github.com/jdalrymple/gitbeaker/releases/tag/19.6.0) :rocket:

[2020-05-16 14:54] sdc224 opened #798 "Unable to find type for Gitlab, ProjectSchema in @gitbreaker/browser"
Hello,

First of all I want to thanks to this library for easing the gitlab API calls in nodejs. I am creating an electron application and as I am a noob to this technology, I choosed @gitbreaker/browser instead of node (cause electron runs in browser window 😅😅).

While I was using old nodejs gitlab(deprecated now), I was not facing any kind of type issues, nor any missing property(although I was

[2020-05-16 14:59] sampsasaarela opened #799 "Add support for managing approval rules on projects"
Am I correct, but there is no support to manage to merge request/project level [approval rules](https://docs.gitlab.com/ee/api/merge_request_approvals.html#create-project-level-rule) in this package? At least I didn't find anything related to it. If not, it would be nice to feature add.

[2020-05-17 09:33] xatavian opened #800 "Use custom request options (such as search_namespaces) in Projects API"
**Description**
The GITLAB API includes a lot of query parameters for Projects such as search, search_namespaces, visibility, ... Currently the `Projects` service and its `Projects.search` method does not allow optional query parameters.

In particular, `search_namespaces` is interesting because it would allow one to search for `namespace/project` instead of just `project` (eg. `jdalrymple/gitbeak

[2020-05-17 09:35] xatavian commented on #800
By the way, that could be nice if `projectName` was URI-encoded in search as well. Otherwise, we get weird request URLs :smile:

[2020-05-17 12:47] jdalrymple commented on #798
I add this to the list of things to look into here #793

[2020-05-17 12:47] #798 closed

[2020-05-17 12:50] jdalrymple commented on #799
Not yet! Ill add this to the list, thanks!

[2020-05-17 12:52] jdalrymple commented on #800
This is an easy one to fix up. Thanks for pointing it out!

[2020-05-17 13:10] xatavian commented on #800
Well, I can probably make the change if you'd like :smile:

[2020-05-17 13:37] xatavian commented on #800
I have trouble setting up my project to use a local installation of gitbeaker though. I make `@gitbeaker/node` point to my local installation but then it requires a remote `@gitbeaker/core` which actually is the real package that needs change. Should I change the core's package.json as well ?

[2020-05-17 14:16] jdalrymple commented on #800
Hehe yea it can be a little confusing. I should add this to the docs. You just have to update @gitbeaker/core, thats where all the logic is. The steps:

1. Update core
2. run yarn build / npm run build
3. go into the gitbeaker-node folder and run npm link
4. test

[2020-05-17 16:25] jdalrymple commented on #793
Could someone quickly check this branch to see if the types are exported correctly. Im not sure if my issues are from my local

[2020-05-18 09:55] #800 closed

[2020-05-19 04:24] DavidFaizulaev opened #816 "MergeRequests.all filter by merge request state and label"
Hello,

I'm using the package for integrating with gitlab API and it seems that I cannot filter `MergeRequests.all` results.

In gitlab's API I can filter results by various values, such as state or labels.
https://docs.gitlab.com/ee/api/merge_requests.html

But it seems this option is not supported at the moment, or am I doing something wrong ?

**Steps to reproduce**
`
const mergeRequestParams =

[2020-05-20 02:18] abhiaiyer91 commented on #751
I'm having the same issue. I have an app where my host is gitlab.com, I'd like to find all groups the authenticated user is part of.

The code:

[code]

I would have expected this request to be scoped to my auth token but instead it fetches all. The host is intended to be the default.

If i do this with fetch all is well and returns expected results

[code]

[2020-05-20 23:50] jdalrymple commented on #751
@abhiaiyer91 Please check the [README.md](https://github.com/jdalrymple/gitbeaker#getting-started) for the proper configuration properties that can be passed. authToken isnt a supported property.

[2020-05-21 06:17] GochoMugo opened #832 "Uploading file fails"
**Description**

Uploading file to a project fails with the error:

[code]

**Steps to reproduce**

Please see the gist at https://gist.github.com/GochoMugo/9d04f06c6a001d0f7a84a12b2b21c376.

**Possible fixes**

I believe this is due to the line at [`packages/gitbeaker-requester-utils/src/RequesterUtils.ts#L48`](https://github.com/jdalrymple/gitbeaker/blob/19.7.0/packages/gitbeaker-requester-utils

[2020-05-21 12:51] detj commented on #764
This is specially useful for the CLI. A `--verbose` global

A `--verbose` global argument that shows basic information about the underlying request like

* request host
* request path
* response status code

Present error information is not too useful for the end CLI user.

[code]

[2020-05-21 13:42] detj opened #833 "gitbeaker repository-files show fails"
`gitbeaker repository-files show` CLI command fails with 404 status.

**Description**

Running the following command on the [`gitlab-foss`](https://gitlab.com/gitlab-org/gitlab-foss) repository fails.

[code]

**Steps to reproduce**
1. Install `gitbeaker` CLI

[code]

2. Run the following command

[code]

**Expected behaviour**
Should output the correct JSON payload for the "Gemfile" file path.

[

[2020-05-21 14:37] detj commented on #833
This works though.

[code]

Returns correct response. So, something must be wrong with the CLI?

Also wondering how many other resources maybe affected. 🤔

[2020-05-21 14:40] jdalrymple commented on #833
Hmm i wonder why. Ill give it a look this week when i get a spare moment!

[2020-05-21 14:47] jdalrymple commented on #816
Close! the options parameter isnt needed, you can just include the options directly in the root object:
[code]

[2020-05-21 14:47] #816 closed

[2020-05-22 14:26] sdc224 commented on #499
Hi guys,

In console I get the exact error code everytime while doing this, only the response contains HTML, that's why I get **Unexpected end of JSON**

[code]
at @gitbreaker/browser/dist/index.js : 16

Is there any way to intercept that error or return it from the library, to help in this kind of scenario?

[2020-05-22 18:25] jdalrymple commented on #499
Working on that right now #764 :)

[2020-05-23 04:24] sdc224 commented on #764
Its Something like the Fetch API doesn't throws error on other error codes except network failure.

Something like below might help you, if you are using Fetch API.

[code]

I can create a PR if you want, I think it can be solved by using this ```response.status``` flag

[2020-05-23 15:39] sdc224 opened #839 "PaginationResponse not returning object as expected"
**Description**

I want to paginate the fetching process of all Projects through some button click. To do that, I need to know the total no of pages in the response. As per the docs, I have written

[code]

Now, the res contains pagination, which is not the expected ```PaginationResponse``` as mentioned in the docs.

I have sent ```PaginatedRequestOptions``` as

[code]

Besides this, I am also get

[2020-05-24 08:12] pablobirukov commented on #793
What is the expected behavior? With the latest master, linking the package, type information is in order

![2020-05-24_11-10-18](https://user-images.githubusercontent.com/1861546/82749063-5d659f00-9daf-11ea-9c7a-e34947a0651f.png)

[2020-05-24 08:17] pablobirukov commented on #798
@sdc224 will you please share more code? How do you import from the library? How do you instantiate the API?

[2020-05-24 11:15] jdalrymple commented on #793
I think it was missing from the browser release and there were some circumstances where [this](https://github.com/jdalrymple/gitbeaker/issues/384#issuecomment-627217589) would happen. So I figured i should take another look at the code and clean it up if needed.

[2020-05-24 11:21] jdalrymple commented on #793
Also, when using the tests, importing the @gitbeaker/node library and typing the variables, i would receive a "being used as a type, but is a value" [error](https://gitlab.com/jdalrymple/gitbeaker/-/jobs/554684578#L284), so i definitely wasnt doing something correctly with the type and their exports.

[2020-05-24 11:30] jdalrymple commented on #798
It was not being exported for the browser export! I fixed this one in #793

[2020-05-24 12:27] sdc224 commented on #798
[code]

For importing ```PaginatedRequestOptions```

Thanks @jdalrymple.

[2020-05-24 12:55] Demonium opened #840 "Services to get api parameters"
**Description**
Regarding the topic below https://forum.gitlab.com/t/api-data-model-definition/2469
Should be great if we can have a service or additionnal information to get the API model definition to create custom call
Instead of looking the documentation
**Proposal**
adding a service that give up all parameters for each API service

[2020-05-24 15:21] sdc224 commented on #180
Guys any update over this issue? I mean how to use it, how to generate the access token from username and password?

[2020-05-24 15:37] jdalrymple commented on #180
I don't foresee us adding this feature since Gitlab itself prefers users use a token

[2020-05-24 21:27] jdalrymple commented on #840
Can you give me an example? I do currently export a JSON representation of the API, but it obviously doesn't cover all the things available since the options parameters dont explicitly list every option available

[2020-05-24 22:41] jdalrymple commented on #839
Well that doesn't look good! Ill see if i can sort out why the pagination info is missing

[2020-05-25 07:53] Demonium commented on #840
Sure, for example I want to use the project API to create a new one I have to have a look to this page
https://docs.gitlab.com/ee/api/projects.html#create-project and implement in my code every parameters.
Should be better if I can have something like

`const gitlab = new Gitlab.Gitlab({
    host: 'http://mygitlab',
    token: 'mytoken'
});
var projectParameters = gitlab.Projects.getParameters();

[2020-05-25 10:16] jdalrymple commented on #840
Hmm, only a small subset parameters are explicitly mentioned in the code, so I'm not sure just how helpful that would be for you.

Additionally, If youre just looking for the information, this is where typescript can be extremely useful since this library is typed and thus can reveal to you those parameters when youre writing that code.

If youre looking to use the parameters somehow dynamically,

[2020-05-26 10:17] Demonium commented on #840
is it a good start I will ask on gitlab if they will plan to provide something more useful for that kind of request.
I'm not an expert but I found REST API less interesting than OData that can provide this kind of information...
Thanks for your help :)

[2020-05-27 15:14] #840 closed

[2020-05-29 18:08] sdc224 commented on #839
@jdalrymple any update over this?

[2020-05-29 21:26] hadrien-toma opened #854 "Missing required argument: mergerequest-i-id"
**Description**

Can not reach to show a merge request.

- `--mergerequest-id` as parameter gives:

[code]

- `--mergerequest-id` as parameter gives:

[code]

Does someone have an idea about what is happening?

Context: `"@gitbeaker/cli": "^19.7.0"`

[2020-05-30 18:47] jdalrymple commented on #839
Not yet sorry! been a busy week

[2020-05-30 18:51] jdalrymple commented on #854
Yup, this error makes sense, though its a bit misleading. Ill try to fix it to be clearer. Its pointing to the property mentioned in the [docs](https://docs.gitlab.com/ee/api/merge_requests.html#get-single-mr), `merge_request_iid`

The code that converts the camelCase to snake_case splits on capital letters, and the original variable is called mergerequestIId. I'll change this to make sure it matc

[2020-05-31 14:56] jdalrymple commented on #839
So i just ran a local tests on the gitlab.com webpage. When using:

[code]
I received back:

[code]

I was curious though about the NaN, and then i found [this](https://docs.gitlab.com/ee/api/#other-pagination-headers) from the gitlab docs:

[2020-06-05 07:23] alexisfrjp commented on #416
That code doesn't work.
I get:
[code]
on the `fs.writeFile(output_path, exported_project).then(() => {` line

How can I use `download()` with `writeFile()`?

[2020-06-05 07:42] claudio-vellage commented on #416
I'm not sure if this helps, but I'm using the following code:

[code]

It works for me since this has been fixed and closed.

[2020-06-05 10:41] rpuls opened #872 "How do I initialise the client correctly?"
Hi, sorry for raising an issue I know this is not an actual issue with the module, but maybe the documentation could be extended a little.

I'm trying to use the basic example, but I'm getting 404
[code]

I believe it is because I am providing an invalid host url. In the documentation you are only showing:
[code]
I have tried: `https://gitlab.com/api/v4` and `https://gitlab.com/api/v4/` (also v3)

[2020-06-05 16:04] jdalrymple commented on #872
Hey!

In the [getting started](https://github.com/jdalrymple/gitbeaker#getting-started) section, it outlines the different configuration parameters you can pass to the classes as well as their defaults. If youre trying to access gitlab.com, then you **DO NOT** need to put anything for the host, since the default will be used *https://www.gitlab.com*. This is also true for the version, which defaul

[2020-06-05 16:04] #872 closed

[2020-06-06 02:40] uinz opened #873 "Concurrency get would be better?"
https://github.com/jdalrymple/gitbeaker/blob/7f0114d3e08a76cc8177d51d53e5276dfd0a7529/packages/gitbeaker-core/src/infrastructure/RequestHelper.ts#L77-L85

As get all list by default, `Concurrency Mode` maybe is a better way

[2020-06-06 06:06] sdc224 commented on #839
Sorry for late reply, busy in the last week actually.

For my case no of all Projects I am fetching is nearabout 43. Still I am getting this. Is this related to what you commented?

Why it is NaN? I mean can we get the exact string/Response value, cause maybe it is not a number and we are still trying to parse it. Maybe in the totalPages we can get an error message if totalPages are not available

[2020-06-06 06:33] sdc224 commented on #839
Just a small doubt, can I know when my access token will expire through Gitlab APIs?

[2020-06-06 09:56] jdalrymple commented on #839
You would receive an unauthorized error from Gitlab if it was expired.

[2020-06-06 09:56] jdalrymple commented on #839
Hmm, maybe create a sample project. Maybe there is something else going on that im not catching :/

[2020-06-06 09:57] jdalrymple commented on #873
Could you explain this further?

[2020-06-06 10:38] sdc224 commented on #839
Let me try to find the same in normal gitlab account, coz in Enterprise account I am getting this.

[2020-06-06 10:43] sdc224 commented on #839
Yes I know that, but my question is, is there any API for knowing the expiration date for an access token? For e.g., On creation of Gitlab constructor or by using some other API, can I get that when my access token will expire?

[code]

or maybe
[code]

That way I can notify any user about the expiry of his/her gitlab access token 😎😎

[2020-06-06 10:55] sdc224 commented on #764
Any update over this @jdalrymple ?

[2020-06-06 11:01] jdalrymple commented on #839
not that im aware of

[2020-06-06 11:02] jdalrymple commented on #764
Not yet, focusing on fixing up the things already in the PR stage

[2020-06-07 06:26] sdc224 commented on #839
I think I should raise an issue(feature-requested) in gitlab API.

[2020-06-07 06:29] sdc224 commented on #839
Maybe [this](https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html#programmatically-creating-a-personal-access-token) is what I want.

[2020-06-07 23:02] alexisfrjp commented on #416
@claudio-vellage Thank you for the following-up.
Same issue with your code.
I use the LTS version of node `v12.18.0`.

Which version do you use?

[2020-06-07 23:58] jdalrymple commented on #839
perhaps, though this is directly using the gitlab server's ruby commands.

[2020-06-10 06:23] menonsoftware opened #881 "Repositories API - Corrupt compressed tarball"
Hello,

First of all, thank you for writing gitbreaker :) . I am new to nodejs however have got to
the point where I can list project trees and blobs.

While using the following code to download repositories I seem to get corrupt tar.gz files

const repoApi = new Repositories({host:gitlab.com, token:xxxxxxxx});
await repoApi.showArchive(req.body.projectid, { "sha": "master" }).then((data) => {

[2020-06-10 14:42] tlebreton opened #882 "Broken compilation from bad import of FormData"
**Description**

Hi

I think the problem that was resolved with https://github.com/jdalrymple/gitbeaker/issues/417 is back.
I think it's a regression from the monorepo commit the 1 Feb 2020

` node_modules/@gitbeaker/requester-utils/node_modules/form-data/index"' can only be default-imported using the 'allowSyntheticDefaultImports' flag

    1 import FormData from 'form-data';
[code]
        This

[2020-06-11 09:16] jdalrymple commented on #882
oops! I'll fix this up over the weekend

[2020-06-11 09:18] jdalrymple commented on #881
Hmm that should work. Its possible the encoding is getting broken at some point. Ill give it a look and follow up.

[2020-06-12 08:25] #854 closed

[2020-06-12 11:56] ajaymenon78 commented on #881
So what I wanted to achieve was to list all folders/files in a project and download them...what I did as a workaround was to use repoApi.tree to list all folders inside and create the necessary structure for folders. I then downloaded the blobs using repositoryFiles api :)...Mission accomplished!

[2020-06-12 12:05] max-wittig commented on #165
@jdalrymple Rate limiting actually broke again with the new custom requester approach. I still don't know how to use the custom requesters. There seem to be no example on how to use `got` for example. I'm just importing the library like so and no requester is defined:

[code]

[2020-06-12 14:07] chez14 opened #885 "Basic sample @gitbeaker/node throws error, asking for `Requester`"
**Description**

Basic sample code didn't work, it ask for `Requester` on `@gitbeaker/node` as it throws an error:
[code]

**Steps to reproduce**
[code]

**Expected behaviour**
It didn't throw error

**Actual behaviour**
Throws error, asking for Requester

**Possible fixes**
Reinstall to `v19.7.1` fix the problem.

[2020-06-12 14:10] chez14 commented on #885
Dev env info:

### `package.json`
[code]

Node:
[code]

[2020-06-12 14:28] chez14 commented on #885
Update:`v19.7.1` works as expected. It brokes on `v21` (i didn't try the `v20` one though).

[2020-06-13 07:35] sdc224 commented on #839
I think for the pagination, it is not related to this nodejs API, it is dependent to the Gitlab API services. Correct me if I am wrong, I will close this request then.

[2020-06-13 07:36] sdc224 commented on #839
Anyway, can we call those ruby commands through nodejs by some kind of ```sudo```?

[2020-06-13 17:34] jdalrymple commented on #839
That wouldnt be the best idea. You would be better off running a separate command outside of this library. You can see an example of those ruby commands in the scripts folder in this repo

[2020-06-13 17:38] jdalrymple commented on #839
Its possible. Do you get similar results when you run a request on the official gitlab.com ?

[2020-06-13 17:39] jdalrymple commented on #885
@chez14 :facepalm: my bad, ill fix this up today

[2020-06-13 17:40] jdalrymple commented on #165
Sorry this is on me! Latest build has some issues apparently #885. Looking into this now!

[2020-06-14 11:56] sdc224 commented on #839
Sorry @jdalrymple , I tried in official gitlab also, getting same result.
Will invesigate a bit more on that, and update you.

[2020-06-14 12:34] jdalrymple commented on #839
Perhaps create a sample project?

[2020-06-14 12:50] #885 closed

[2020-06-14 13:35] sdc224 commented on #839
Yes and will share you here

[2020-06-14 13:42] jdalrymple commented on #885
:rocket: Issue was released in [`21.3.0`](https://github.com/jdalrymple/gitbeaker/releases/tag/21.3.0) :rocket:

[2020-06-14 13:55] jdalrymple commented on #885
Should be good now!

[2020-06-14 14:10] jdalrymple commented on #882
This one isnt that straight forward. Replacing with:

[code]

Just returns another error:
[code]

[2020-06-14 15:47] jdalrymple commented on #833
Founnnnnd the problem. Fixing it rn!

[2020-06-14 16:17] #751 closed

[2020-06-14 16:19] jdalrymple commented on #832
Might be related to #882

[2020-06-14 17:24] #882 closed

[2020-06-14 17:35] jdalrymple commented on #882
:rocket: Issue was released in [`21.4.0`](https://github.com/jdalrymple/gitbeaker/releases/tag/21.4.0) :rocket:

[2020-06-14 18:03] #833 closed

[2020-06-14 18:13] jdalrymple commented on #833
:rocket: Issue was released in [`21.5.0`](https://github.com/jdalrymple/gitbeaker/releases/tag/21.5.0) :rocket:

[2020-06-15 08:09] sdc224 commented on #839
Can you tell me how you are calling the ruby script?

[2020-06-15 08:37] tlebreton commented on #882
Hi
Thanks for the quick resolve.
But there is the same problem for the same import in another file :  (Utilis.d.ts in infrastructure of @gitbeaker/core)

[code]

Do i need to open another issue or it's good ?

Thank for you reactivity.

[2020-06-15 08:41] jdalrymple commented on #882
I know what I need to fix, ill look at it today!

[2020-06-15 09:11] jdalrymple commented on #882
bleh same fix wont work. Ill need to figure it out another way. Sorry for the inconvenience. :s

[2020-06-15 09:13] tlebreton commented on #882
No problem :)
Take your time
Thanks for the communication

[2020-06-15 22:04] jdalrymple commented on #882
Check out the canary build for #893

[2020-06-16 05:28] hanselke commented on #402
hi,
the migration docs seem to be missing again

[2020-06-16 06:02] AngusFu opened #894 "v21.5.0 would not work with custom options"
**Description**

SEE https://github.com/jdalrymple/gitbeaker/commit/8b549da700d5a91ab34487f463b169bea37970aa#r39933403

**Steps to reproduce**

[code]

**Possible fixes**

Just fix the `extendClass` function in [packages/gitbeaker-requester-utils/src/RequesterUtils.ts](https://github.com/jdalrymple/gitbeaker/blob/a32e9db9b20731f81643769e1742a30a3cb35e88/packages/gitbeaker-requester-utils/src/Reque

[2020-06-16 06:11] ChhXin commented on #894
:frowning:

[2020-06-16 09:07] DerPate commented on #894
Can confirm the same Problem here.

[2020-06-16 09:38] jdalrymple commented on #894
I'll give it a look! Thanks for the well formed bug report :heart_eyes:

[2020-06-16 09:40] jdalrymple commented on #402
Since its been such a long time since the package was updated. I removed the reference to the migration guide. Is there something youre having trouble with?

[2020-06-16 12:10] #894 closed

[2020-06-16 12:12] jdalrymple commented on #385
Closing for the time being. I'll reopen if the problem is encountered again!

[2020-06-16 12:12] #385 closed

[2020-06-16 12:20] jdalrymple commented on #894
:rocket: Issue was released in [`21.7.0`](https://github.com/jdalrymple/gitbeaker/releases/tag/21.7.0) :rocket:

[2020-06-16 15:18] fbridault opened #897 "Add support to get related related MRs and MRs that close an issue"
**Description**
The `Issues` service does not propose the following routes :
https://docs.gitlab.com/ce/api/issues.html#list-merge-requests-related-to-issue
https://docs.gitlab.com/ce/api/issues.html#list-merge-requests-that-will-close-issue-on-merge

**Proposal**
Add support for both, which should be quite straightforward. I can propose a contribution if you want.

[2020-06-16 15:52] jdalrymple commented on #897
We always welcome PR's! :heart_eyes:

[2020-06-18 01:22] hanselke commented on #402
for some reason, the new library is hitting 127.0.0.1 instead of my supplied 'host' section... i do not have a GITLAB_HOST env var. the exact code works using the previous library

[2020-06-18 08:46] jdalrymple commented on #402
Could you share your code snippet so we can see where it might be causing a problem :) ?

[2020-06-18 12:11] fbridault commented on #897
Ok great 👍

[2020-06-19 10:45] malcommac opened #901 "How can I get Project Members?"
Hi, I'm sorry about this issue but I've not found a way to get the list of project's members.
I've found this on gitlab doc https://gitlab.com/gitlab-org/gitlab/-/blob/master/doc/api/members.md.
I've tried using `ProjectMemebers` but it says 404:

[code]

[2020-06-19 10:49] jdalrymple commented on #901
When it doubt, check the src. Its a pain, but its pretty decently laid out :smile: . This should work:

[code]

[2020-06-19 10:49] #901 closed

[2020-06-19 10:56] malcommac commented on #901
I tried but I see a `resourceId` parameter on base class `ResourceMembers`. I didn't found it I'm sorry, but probably I'm missing something.
<img width="696" alt="Screenshot 2020-06-19 at 12 52 44" src="https://user-images.githubusercontent.com/235645/85125390-d4197f00-b22b-11ea-84df-b03558718a6e.png">
<img width="1580" alt="Screenshot 2020-06-19 at 12 52 55" src="https://user-images.githubusercon

[2020-06-19 11:16] jdalrymple commented on #901
Yea the function is a generic wrapper for all the members like APIS, so if its project members, or group members etc, the api is the same, but the "resourceId" is projectId, or groupId etc etc

Try includes the { includeInherited: true } option:

[code]

[2020-06-19 12:11] malcommac commented on #901
ok! thank you very much :)

[2020-06-19 19:33] simpsamu commented on #384
This is tremendously important .

[2020-06-19 19:43] Melissa8599 commented on #793
Hey I no it’s going to be a min befor I get back up

[2020-06-20 07:20] fbridault commented on #897
I proposed the PR, but I am quite confused with your change about the description. I really intended to get merge requests, not users... :wink:

[2020-06-20 10:08] jdalrymple commented on #897
haha, i misread the title, i thought it said: "mr and mrs" which i figured was weird. Ill fix it up sorry!

[2020-06-20 10:53] jdalrymple opened #904 "Look into using health status instead of poller for integration test docker"
@jdalrymple I would again advice to use the docker healthy status instead of waiting.

We been using it very successfully over at https://github.com/nmklotas/GitLabApiClient and never had issue with gitlab not being ready.

The code that does the magic:
https://github.com/nmklotas/GitLabApiClient/blob/master/test/GitLabApiClient.Test/Utilities/GitLabContainerFixture.cs

The actual code that does t

[2020-06-20 11:41] fbridault commented on #897
Ha ha ha sorry for that, I'm more used to the GitLab terminology than GitHub, so that acronym was obvious, but I can understand the confusion... :rofl:

[2020-06-20 13:13] jdalrymple commented on #309
:rocket: Issue was released in [`22.0.0`](https://github.com/jdalrymple/gitbeaker/releases/tag/22.0.0) :rocket:

[2020-06-20 13:13] jdalrymple commented on #698
:rocket: Issue was released in [`22.0.0`](https://github.com/jdalrymple/gitbeaker/releases/tag/22.0.0) :rocket:

[2020-06-20 13:13] jdalrymple commented on #686
:rocket: Issue was released in [`22.0.0`](https://github.com/jdalrymple/gitbeaker/releases/tag/22.0.0) :rocket:

[2020-06-22 06:35] sdc224 opened #907 "Update node version limt in the @gitbeaker/node release to match the limit outlined by Got (>=10.19.0)"
Hi,

I am trying to install this project in my nodejs version `10.16.0`. It is failing due to ```got@11.3.0```.

Error logs of ```yarn add @gitbeaker/node```:
[code]

Can't we use this library in `nodejs 10.16.0`?

Actually I am in my organization laptop where I don't have admin permissions, so I am unable to update NodeJS here.

Please look into this, I am not giving this to Issue/Bug/Feature req

[2020-06-22 11:09] sdc224 commented on #839
Closing this for now, will reopen once I get time to create a sample repository 😅😅.

@jdalrymple  please tell me how you are calling the `ruby` scripts

[2020-06-22 11:09] #839 closed

[2020-06-22 11:11] jdalrymple commented on #839
https://github.com/jdalrymple/gitbeaker/blob/master/.gitlab-ci.yml

Look at the integration test script

[2020-06-22 11:20] jdalrymple commented on #907
I should update the node limit on the @gitbeaker/node library sorry. To allow for the usage on earlier versions, i would have to revert to a version of got that was release back in February :/. You really should update your node version to the latest LTS.

[2020-06-22 11:36] sdc224 commented on #907
Hi @jdalrymple,

I have already mentioned why I can't update. So I tried `gitbeaker/browser` before this in my `electron` application, it was working fine for me till today. Now I have started reviewing some security aspects of `electron`.

When I was using ```nodeIntegration: true``` in electron, it was working fine. Now I have changed this flag to false, and added preload script, for fixing the

[2020-06-23 09:13] jdalrymple commented on #907
I hear you. I'm not sure what to suggest :/ I've never come across that error before.

[2020-06-23 23:18] sdc224 commented on #907
Can you try to do the same by creating a sample electron app, if possible? Coz for me it is not working. Maybe you are the best person here to find out why webpack can't find out only this module(@gitbeaker/browser)

[2020-06-25 21:19] #897 closed

[2020-06-25 21:36] jdalrymple commented on #897
:rocket: Issue was released in [`22.0.1`](https://github.com/jdalrymple/gitbeaker/releases/tag/22.0.1) :rocket:

[2020-06-26 16:24] JaredDahlke opened #923 "Get Users example is not working"
Hey guys thank you for the library, but for some reason my code is not working, a point in the right direction would be much appreciated!

This is my app.js:

[code]

[2020-06-26 16:25] jdalrymple commented on #923
Ill give it a look!

[2020-06-26 16:28] jdalrymple commented on #873
@uinz Im going to close due to lack of information. If you have more to add ill reopen!